        <div class="b-page">

            <div class="b-page__promo b-page__promo_ssl_yes">
                <h1 class="b-page__promo-title">SSL</h1>
            </div>

            <div class="b-ssl">

                <div class="b-container">
                    <h1 class="b-ssl__title">
                        When online customers feel secure,<br>
                        they are more likely to complete a purchase<br>
                        or personalize their profile and return<br>
                        to your web site.
                    </h1>
                    <p class="b-ssl__description">
                        When online customers feel secure, they are more likely to complete a purchase
                        or personalize their profile and return to your web site. What inspires confidence online?
                        An SSL certificate from a globally recognized certificate authority such as Thawte.
                        Expert support, a robust authentication process, and easy online management make
                        Thawte® SSL Certificates the best value for securing your site.
                    </p>
                </div>

                <table class="b-ssl__table-checkbox">
                        <tr class="b-ssl__table-checkbox-row">
                            <td class="b-ssl__table-checkbox-cell">
                                <h3 class="b-ssl__table-checkbox-text b-ssl__table-checkbox-text_main_yes">Providers</h3>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="333" type="checkbox">
                                    <span class="">Symantec</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="555" type="checkbox">
                                    <span class="">Comodo</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="777" type="checkbox">
                                    <span class="">Thawte</span>
                                </label>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-checkbox-row">
                            <td class="b-ssl__table-checkbox-cell">
                                <h3 class="b-ssl__table-checkbox-text b-ssl__table-checkbox-text_main_yes">Options</h3>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="1111" type="checkbox">
                                    <span class="">IDN support</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="333" type="checkbox">
                                    <span class="">EV</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="555" type="checkbox">
                                    <span class="">Wildcard</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="777" type="checkbox">
                                    <span class="">SGS</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="9999" type="checkbox">
                                    <span class="">Code Signing</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">

                            </td>
                        </tr>
                    </table>

                <table class="b-ssl__table">
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes"></td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">SSL 123</h2>
                                <div class="b-ssl-table__subtitle">Get started on the web</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title b-ssl-table__title_red_yes">SSL Web<br>
                                    Server
                                </h2>
                                <div class="b-ssl-table__subtitle">Most popular plan</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">SSL Web<br>
                                    server<br>
                                    with EV
                                </h2>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">Wildcard SSL</h2>
                                <div class="b-ssl-table__subtitle">Scalable hosting with
                                    guaranted resources</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">SSL Web<br>
                                    server<br>
                                    with EV</h2>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">Wildcard SSL</h2>
                                <div class="b-ssl-table__subtitle">Scalable hosting with
                                    guaranted resources</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">199 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">2 999 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">500 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">7 000 EUR / year</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Provider</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Comodo</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">Hostkey</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Comodo</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Thawte</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Comodo</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Thawte</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Authentication
                                    level
                                </h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">SSL encryption</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Warranty</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Domains secured</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">OCSP and CRL
                                    support</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon b-ssl-table__icon_red_yes"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">IDN support</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon b-ssl-table__icon_red_yes"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">199 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">2 999 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">500 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">7 000 EUR / year</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                        </tr>
                    </table>
                {plugin "Content_FaqSsl_Plugin_Page"}
            </div>

            <div class="footer-push"></div>
        </div>
