@font-face 
    font-family 'Rouble'
    src url("fonts/rouble/rouble.eot")
    src url("fonts/rouble/rouble.eot?#iefix") format('embedded-opentype'), url("fonts/rouble/rouble.woff2") format('woff2'), url("fonts/rouble/rouble.woff") format('woff'), url("fonts/rouble/rouble.ttf") format('truetype'), url("fonts/rouble/rouble.svg#als_rublregular") format('svg')
    font-weight normal
    font-style normal

.rouble 
    font-family "Rouble"
    text-transform lowercase
