<div class="b-page">

    <div class="b-page__promo b-page__promo_domains_yes">
        <div class="b-icon b-page__scroll-icon" onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <div class="b-domains" id="scroll-anchor-01">

        <h3 class="b-domains__title">
            START YOUR<br>
            DOMAIN SEARCH
        </h3>

        <div class="b-container">
            <div class="search-bar">
                <input class="b-input search-bar__input" type="text"><!--
                        --><a class="b-submit search-bar__submit" href="#"> search</a>
            </div>
        </div>
        <div class="b-container">
            <div class="domain-zone">
                <a class="domain-zone__item" href="#">
                    <span class="domain-zone__item-title">.com</span><br>
                    <span class="domain-zone__item-price">€3</span>
                </a>
                <a class="domain-zone__item" href="#">
                    <span class="domain-zone__item-title">.ru</span><br>
                    <span class="domain-zone__item-price">€3</span>
                </a>
                <a class="domain-zone__item" href="#">
                    <span class="domain-zone__item-title">.net</span><br>
                    <span class="domain-zone__item-price">€2</span>
                </a>
                <a class="domain-zone__item" href="#">
                    <span class="domain-zone__item-title">.info</span><br>
                    <span class="domain-zone__item-price">€12</span>
                </a>
                <a class="domain-zone__item" href="#">
                    <span class="domain-zone__item-title">.su</span><br>
                    <span class="domain-zone__item-price">€5</span>
                </a>
                <a class="domain-zone__item" href="#">
                    <span class="domain-zone__item-title">.biz</span><br>
                    <span class="domain-zone__item-price">€3</span>
                </a>
            </div>
            <a class="b-news__more" href="#">
                <div class="b-news__more-plus">
                    <span class="b-icon b-news__more-plus-icon"></span>
                </div>
                <div class="b-news__more-text">show all<br>prices</div>
            </a>
        </div>

        <h3 class="b-domains__title b-domains__title_upline_yes">
            special offers
        </h3>


        <div class="domains-offers">
            <div class="domains-check">

                <div class="domains-check__row">
                    <label class="fake-checkbox-label domains-check__item">
                        <h3 class="domains-check__item-title">.net</h3>
                        <div class="domains-check__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-check__item-price">
                            <div class="domains-check__item-price-new"> €8.99</div>
                            <div class="domains-check__item-price-old"> €8.99</div>
                        </div>
                        <span class="fake-checkbox-label__box js-check"></span>
                        <input class="hidden-input" name="check-1" type="checkbox"/>
                        <div class="domains-check__item-register">
                            register
                        </div>
                        <div class="domains-check__item-order">
                            order
                        </div>
                    </label>
                    <label class="fake-checkbox-label domains-check__item">
                        <h3 class="domains-check__item-title">.berlin</h3>
                        <div class="domains-check__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-check__item-price">
                            <div class="domains-check__item-price-new"> €8.99</div>
                            <div class="domains-check__item-price-old"> €8.99</div>
                        </div>
                        <span class="fake-checkbox-label__box js-check"></span>
                        <input class="hidden-input" name="check-2" type="checkbox"/>
                        <div class="domains-check__item-register">
                            register
                        </div>
                        <div class="domains-check__item-order">
                            order
                        </div>
                    </label>
                    <label class="fake-checkbox-label domains-check__item">
                        <h3 class="domains-check__item-title">.com</h3>
                        <div class="domains-check__item-text">
                            The domain for entrepreneurs.
                        </div>
                        <div class="domains-check__item-price">
                            <div class="domains-check__item-price-new"> €8.99</div>
                            <div class="domains-check__item-price-old"> €8.99</div>
                        </div>
                        <span class="fake-checkbox-label__box js-check"></span>
                        <input class="hidden-input" name="check-3" type="checkbox"/>
                        <div class="domains-check__item-register">
                            register
                        </div>
                        <div class="domains-check__item-order">
                            order
                        </div>
                    </label>
                    <label class="fake-checkbox-label domains-check__item">
                        <h3 class="domains-check__item-title">.space</h3>
                        <div class="domains-check__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-check__item-price">
                            <div class="domains-check__item-price-new"> €8.99</div>
                            <div class="domains-check__item-price-old"> €8.99</div>
                        </div>
                        <span class="fake-checkbox-label__box js-check"></span>
                        <input class="hidden-input" name="check-4" type="checkbox"/>
                        <div class="domains-check__item-register">
                            register
                        </div>
                        <div class="domains-check__item-order">
                            order
                        </div>
                    </label>
                </div>
            <div>
                <a class="b-news__more" href="#">
                    <div class="b-news__more-plus">
                        <span class="b-icon b-news__more-plus-icon"></span>
                    </div>
                    <div class="b-news__more-text">show all<br>prices</div>
                </a>
            </div>
        </div>

        {plugin "Content_ContentBlock_Plugin" view="Voucher" target="voucher"}
        {plugin "Content_ContentBlock_Plugin" view="NeedMore" target="information"}


    </div>

    <div class="footer-push"></div>
</div>
