<div class="b-page">

    <!--Test page template -->
    <div class="b-page__promo b-page__promo_text-page_yes">
        <div class="b-icon b-page__scroll-icon" onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title b-page__promo-title_black_yes">{$H1}</h1>
    </div>

    <div class="b-text-page" style="float: left; width: 100%;">
        <div class="scroll-anchor-01" id="scroll-anchor-01"></div>
        <div class="b-text-page__box" style="float: left; width: 25%; box-sizing: border-box; padding: 20px 20px 20px 70px;">
            <h3 class="b-text-page__title b-text-page__title_upline_yes" style="overflow: hidden;">
                {$HEADER_CONTENT}
            </h3>
        </div>

        <div class="b-text-page__box" style="float: left; width: 75%; box-sizing: border-box; padding: 60px 20px 20px 20px;">
            <div class="b-container editable-area" style="float: left; padding:0; width: 95%; box-sizing: border-box;">
                {$content}


                <form action="https://bill.hostkey.com/cart.php?a=add&domain=register" method="post" target="_blank">
                    Domain: <input type="text" name="sld" size="20"/> <select name="tld">
                    <option>.nl</option>
                    <option>.firm.in</option>
                    <option>.gen.in</option>
                    <option>.ind.in</option>
                    <option>.net.in</option>
                    <option>.org.in</option>
                    <option>.ebiz.tw</option>
                    <option>.idv.tw</option>
                    <option>.club.tw</option>
                    <option>.game.tw</option>
                    <option>.org.tw</option>
                    <option>.net.ag</option>
                    <option>.org.ag</option>
                    <option>.nom.ag</option>
                    <option>.co.ag</option>
                    <option>.or.at</option>
                    <option>.com.bz</option>
                    <option>.net.bz</option>
                    <option>.co.bz</option>
                    <option>.com.co</option>
                    <option>.net.co</option>
                    <option>.nom.co</option>
                    <option>.org.co</option>
                    <option>.com.lc</option>
                    <option>.net.lc</option>
                    <option>.org.lc</option>
                    <option>.co.lc</option>
                    <option>.l.lc</option>
                    <option>.p.lc</option>
                    <option>.net.vc</option>
                    <option>.org.vc</option>
                    <option>.net.au</option>
                    <option>.net.nz</option>
                    <option>.org.nz</option>
                    <option>.pw</option>
                    <option>.nom.es</option>
                    <option>.go.gg</option>
                    <option>.net.gg</option>
                    <option>.org.gg</option>
                    <option>.co.je</option>
                    <option>.net.je</option>
                    <option>.org.je</option>
                    <option>.uk</option>
                    <option>.ltd.uk</option>
                    <option>.pic.uk</option>
                    <option>.org.uk</option>
                    <option>.net.uk</option>
                    <option>.me.uk</option>
                    <option>.eu</option>
                    <option>.com</option>
                    <option>.net</option>
                    <option>.be</option>
                    <option>.de</option>
                    <option>.info</option>
                    <option>.org</option>
                    <option>.name</option>
                    <option>.nu</option>
                    <option>.me</option>
                    <option>.biz</option>
                    <option>.ae</option>
                    <option>.ag</option>
                    <option>.am</option>
                    <option>.asia</option>
                    <option>.at</option>
                    <option>.bz</option>
                    <option>.ca</option>
                    <option>.cc</option>
                    <option>.ch</option>
                    <option>.cn</option>
                    <option>.co</option>
                    <option>.co.at</option>
                    <option>.co.in</option>
                    <option>.co.nz</option>
                    <option>.co.uk</option>
                    <option>.com.ag</option>
                    <option>.com.es</option>
                    <option>.com.tw</option>
                    <option>.com.vc</option>
                    <option>.com.au</option>
                    <option>.dk</option>
                    <option>.es</option>
                    <option>.fm</option>
                    <option>.fr</option>
                    <option>.gg</option>
                    <option>.in</option>
                    <option>.it</option>
                    <option>.je</option>
                    <option>.lc</option>
                    <option>.li</option>
                    <option>.mn</option>
                    <option>.mobi</option>
                    <option>.pl</option>
                    <option>.pm</option>
                    <option>.pro</option>
                    <option>.re</option>
                    <option>.ru</option>
                    <option>.sc</option>
                    <option>.se</option>
                    <option>.sx</option>
                    <option>.tel</option>
                    <option>.tf</option>
                    <option>.to</option>
                    <option>.tv</option>
                    <option>.tw</option>
                    <option>.us</option>
                    <option>.vc</option>
                    <option>.wf</option>
                    <option>.ws</option>
                    <option>.xxx</option>
                    <option>.yt</option>
                    <option>.org.es</option>
                </select>
                    <input type="submit" value="Go"/>
                </form>
                <br>


                <input type="hidden" name="domain" value="register">

                <form action="https://bill.hostkey.com/cart.php" method="post" target="_blank">
                    <input type="hidden" name="a" value="add">
                    <input type="hidden" name="currency" value="2">
                    <input type="hidden" name="domain" value="register">
                    <select name="domains[]" multiple>
                        <option>zero-funtik.ru</option>
                        <option>zero-funtik.de</option>
                        <option>zero-funtik.fr</option>
                        <option>zero-funtik.com.au</option>
                    </select>
                    domainselect: <input type="text" name="domainselect" value="3" size="20"/><br>
                    <input type="checkbox" name="domainsregperiod[funtik.ru]" value="1">zero-funtik.ru<br>
                    <input type="checkbox" name="domainsregperiod[funtik.de]" value="1">zero-funtik.de<br>
                    <input type="checkbox" name="domainsregperiod[funtik.fr]" value="2">zero-funtik.fr<br>
                    <input type="checkbox" name="domainsregperiod[funtik.fr]" value="2">zero-funtik.com.au<br>
                    <input type="submit" value="Go"/>
                </form>
                <br>


                <a href="#" target="_blank">TEST ORDER</a>


            </div>

        </div>

    </div>
    <div style="clear: both;"></div>

    <div class="footer-push"></div>
</div>

<style>
    .b-text-page__title_upline_yes {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }

    .scroll-anchor-01 {
        width: 30%;
        border-top: 4px solid #ff692d;
        height: 10px;
    }

</style>