<link rel="stylesheet" href="/assets/css/jquery/jquery-ui.min.css"/>
<link rel="stylesheet" href="/assets/css/switchery.css"/>
<div class="b-page">

    <div class="b-page__promo b-page__promo_domains_yes">
        <div class="b-icon b-page__scroll-icon" onclick="$.scrollTo('#scroll-anchor-01', 1500, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$H1}</h1>
    </div>

    <div class="b-domains" id="scroll-anchor-01">
        <div class="b-domains__container">
            <div class="loader-view"></div>
            <h3 class="b-domains__title b-domains__title-main">
                GET A PERFECT<br/>
                DOMAIN FOR YOUR PROJECT
            </h3>

            <div class="b-container" id="searchBarContainer" style="display: block;">
                <div class="search-bar">
                    <input type="text" class="b-input search-bar__input" name="" placeholder="Find your new domain name today"/><!--
                        --><textarea class="b-input search-bar__input search-bar__input-hidden" name="" cols="30"
                                     rows="10"></textarea><!--
                        -->
                    <button class="search-bar__button-bulk">Bulk Options</button><!--
                        -->
                    <button class="search-bar__button-hide"></button><!--
                        -->
                    <button class="b-submit search-bar__submit search-bar__submit__disabled" href="#">search</button>
                </div>
            </div>

            <div class="domains-step" id="step1">
                <div class="b-container">
                    <div class="domain-zone">
                        <!-- json result -->
                    </div>
                    <a class="b-news__more" href="#" id="domain-zone__more">
                        <div class="b-news__more-plus">
                            <span class="b-icon b-news__more-plus-icon"></span>
                        </div>
                        <div class="b-news__more-text">
                            SHOW<br/>
                            MORE TLDs
                        </div>
                    </a>
                </div>

                <h3 class="b-domains__title b-domains__title_upline_yes">
                    special offers
                </h3>


                <div class="domains-offers">
                    <div class="domains-check">

                        <div class="domains-check__row">
                            <!-- json result  -->
                        </div>
                        <div>
                            <a class="b-news__more" href="#" id="domains-check__more">
                                <div class="b-news__more-plus">
                                    <span class="b-icon b-news__more-plus-icon"></span>
                                </div>
                                <div class="b-news__more-text">
                                    SHOW<br/>
                                    MORE TLDs
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="domains-step domains-step2n3">
                <div class="domains-step2__tab tab-list b-modal__tabs js-tab-wrapper" id="step2">
                    <div class="tab-list__container tab-list__items tab-list__items-grid6">
                        <div class="tab-list__item current js-tab" data-tab="1">
                            <div class="tab-list__item-name">Options</div>
                        </div>
                        <div class="tab-list__item js-tab" data-tab="2" data-id="Popular" data-pg="1">
                            <div class="tab-list__item-name">Popular</div>
                        </div>
                        <div class="tab-list__item js-tab" data-tab="3" data-id="Promo" data-pg="1">
                            <div class="tab-list__item-name">Promo</div>
                        </div>
                        <div class="tab-list__item js-tab" data-tab="4" data-id="National" data-pg="1">
                            <div class="tab-list__item-name">National</div>
                        </div>
                        <div class="tab-list__item js-tab" data-tab="5" data-id="Thematic" data-pg="1">
                            <div class="tab-list__item-name">Thematic</div>
                        </div>
                    </div>
                    <div class="tab-list__container tab-list__content-block">
                        <div class="tab-list__content current js-tab-content" data-tab="1">
                            <div class="resultCont">
                                <p id="result-table-message">
                                    Congratulations! You can register the domains of your choice.
                                </p>
                                <table class="tab-list__content-table" id="result-table"></table>
                                <div class="nextPg">Show more results</div>
                                <br>
                                <br>
                                <p id="result-table2-message">
                                    Make a search for your website effortless and protect your brand by getting additional TLDs.
                                </p>
                                <table class="tab-list__content-table" id="result-table2"></table>
                                <div class="nextPg">Show more results</div>
                            </div>
                        </div>
                        <div class="tab-list__content js-tab-content" data-tab="2">
                            <h3>Popular</h3>
                            <p>
                                Congratulations! You can register the domains of your choice.
                            </p>
                            <table class="tab-list__content-table" id="PopularTable"></table>
                            <div class="nextPg">Show more results</div>
                        </div>
                        <div class="tab-list__content js-tab-content" data-tab="3">
                            <h3>Promo</h3>
                            <p>
                                Congratulations! You can register the domains of your choice.
                            </p>
                            <table class="tab-list__content-table" id="PromoTable"></table>
                            <div class="nextPg">Show more results</div>
                        </div>
                        <div class="tab-list__content js-tab-content" data-tab="4">

                            <h3>National</h3>
                            <p>
                                Congratulations! You can register the domains of your choice.
                            </p>
                            <table class="tab-list__content-table" id="NationalTable"></table>
                            <div class="nextPg">Show more results</div>
                        </div>
                        <div class="tab-list__content js-tab-content" data-tab="5">

                            <h3>Thematic</h3>
                            <p>
                                Congratulations! You can register the domains of your choice.
                            </p>
                            <table class="tab-list__content-table" id="ThematicTable"></table>
                            <div class="nextPg">Show more results</div>
                        </div>
                    </div>
                </div>

                <div class="domains-step3__tab" id="step3">
                    <div class="tab-list__content-block">
                        <div class="domains-infoBlock">
                            <p class="domains-infoBlockTitle">
                                WHOIS privacy
                            </p>
                            <div class="domains-infoBlockDescription">
                                <p>Upon domain registration, your name, address and phone as a registered domain holder will be published in a publicly available directory.</p>
                                <p>WHOIS PRIVACY service replaces your personal information with an anonymous proxy identity your data will be not invisible to spammers and scammers.</p>
                                <p>Annual price: €4 per domain.</p>
                            </div>
                            <div class="domains-infoBlockTable">
                                <div class="domains-infoBlockTableCell">
                                    <span>Your info <b>without</b> WHOIS PRIVACY</span>
                                    <b>John Smith</b><br>
                                    401 Main Street<br>
                                    Los Angeles 90001<br>
                                    USA<br>
                                    +1 555 3451135<br>
                                    john.smith@icloud.com
                                </div>
                                <div class="domains-infoBlockTableCell">
                                    <span>Your info <b>with</b> WHOIS PRIVACY</span>
                                    <b>My Domain Provider</b><br>
                                    Ceintuurbaan 32A<br>
                                    Zwolle 8024 AA<br>
                                    The Netherlands<br>
                                    +31.382305013<br>
                                    mydomain.com@mydomainprovider.com
                                </div>
                            </div>
                        </div>
                        <div class="domains-infoBlock">
                            <p class="domains-infoBlockTitle">
                                DNS hosting
                            </p>
                            <div class="domains-infoBlockDescription">
                                <p>Make use of our secure geographically dispersed DNS servers with a powerful management console for handy DNS settings and domain management.</p>
                                <p>Annual price: €10.56 per domain.</p>
                            </div>
                        </div>
                        <table class="tab-list__content-table" id="additServTable">
                            <thead>
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Registration period</th>
                                <th width="260" class="tab-list__content-table-cell"><a href="#" class="tab-list__content-reg-idprotAll">WHOIS privacy<span class="tab-list__content-reg-help js-tooltip" title="Add WHOIS privacy protection for all domains in your order by clicking on this title or choose one or several domains manually below. Note:&nbsp;It&nbsp;will&nbsp;be&nbsp;provided&nbsp;for&nbsp;the entire registration period for the selected domains. This service cannot be provided for some domain extensions."></span></a></th>
                                <th width="300" class="tab-list__content-table-cell"><a href="#" class="tab-list__content-reg-dnsAll">DNS hosting<span class="tab-list__content-reg-help js-tooltip" title="Add DNS-hosting service for all domains in your by clicking on the title, or select one or several domains manually below. Note:&nbsp;DNS&nbsp;hosting&nbsp;will&nbsp;be&nbsp;provided&nbsp;for the entire registration period for the selected domains."></span></a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- -->
                            </tbody>
                        </table>
                        <div class="domains-infoBlock domains-infoBlockExt" id="infoBlockExtFields">
                            <h3>Additional information</h3>
                            <p class="domains-infoBlockSubtitle">
                                To proceed with the domain names registration we'll need some additional information. Please fill-in the respective information below.
                            </p>

                            <div class="domains-infoExtFormat">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="domains-step__summary domains-step__summary_is-purpur" id="scroll-block">
                    <div class="domains-step__summary-title">Your Domains</div>
                    <div class="domains-step__summary-section" id="registerSection">
                        <div class="domains-step__summary-subtitle">Register</div>
                        <table class="domains-step__summary-table" id="domains-register-table">
                            <tbody>
                            <!-- json content -->
                            </tbody>
                        </table>
                    </div>
                    <div class="domains-step__summary-section" id="transferSection">
                        <div class="domains-step__summary-subtitle">Transfer</div>
                        <table class="domains-step__summary-table" id="domains-transfer-table">
                            <tbody>
                            <!-- json content -->
                            </tbody>
                        </table>
                    </div>
                    <div class="domains-step__summary-price">
                        <span class="domains-step__summary-price-value" id="Summa">Empty cart</span>
                        <span class="domains-step__summary-price-discount" id="Discount"></span>
                    </div>
                    <button class="b-submit domains-step__summary-submit" href="#" id="buy">Buy</button>
                </div>
            </div>
        </div>
        {plugin "Content_ContentBlock_Plugin" view="SelectServiceFeatures" target="feature"}
        {plugin "Content_ContentBlock_Plugin" view="Voucher" target="voucher"}
        {plugin "Content_ContentBlock_Plugin" view="NeedMore" target="information"}
        <div class="footer-push"></div>
    </div>
</div>

<script type="application/javascript" src="/assets/js/jquery/jquery-ui.js"></script>
<script type="application/javascript" src="/assets/js/jquery/jquery.dform-1.1.0.js"></script>
<script type="application/javascript" src="/assets/js/jquery.redirect.js"></script>
<script type="application/javascript" src="/assets/js/switchery.js"></script>
<script type="application/javascript" src="/assets/js/domains.js"></script>