.humane,
.humane-flatty
    position fixed
    transition all 0.4s ease-in-out
    z-index 100000
    opacity 1

.humane,
.humane-flatty
    position fixed
    z-index 9999
    top 0
    left 0
    width 100%
    padding 23px 20px
    text-align center
    line-height 22px
    font-size 18px
    color #fff
    opacity 0
    transform translateY(-100px)

    background-color rgba(129, 204, 77, 0.95)

    
.humane p,
.humane-flatty p,
.humane ul,
.humane-flatty ul 
    margin 0
    padding 0

.humane ul,
.humane-flatty ul 
    list-style none

.humane.humane-flatty-info,
.humane-flatty.humane-flatty-info 
    background-color rgba(239, 51, 58, 0.95)
    color #FFF

.humane.humane-flatty-success,
.humane-flatty.humane-flatty-success 
    background-color rgba(129, 204, 77, 0.95)
    color #FFF

.humane.humane-flatty-error,
.humane-flatty.humane-flatty-error 
    background-color rgba(239, 51, 58, 0.95)
    color #FFF

.humane-animate,
.humane-flatty.humane-flatty-animate 
    opacity 1
    transform translateY(0)

.humane-animatehover,
.humane-flatty.humane-flatty-animatehover 
    opacity 0.7

.humane-js-animate,
.humane-flatty.humane-flatty-js-animate 
    opacity 1
    transform translateY(0)

.humane-js-animatehover,
.humane-flatty.humane-flatty-js-animatehover 
    opacity 0.7


@media (max-width: 461px)

    .humane,
    .humane-flatty
        left 0
        width 100%
        margin 0