        <div class="b-page">

            <div class="b-page__promo b-page__promo_dedicated-select-service_yes">
                <h1 class="b-page__promo-title">dedicated</h1>
            </div>

            <div class="b-dedicated">
                
                <h3 class="b-dedicated__title">
                    DEDICATED<br>
                    FEATURE
                </h3>

                {plugin "Content_ContentBlock_Plugin" view="SelectService"}

                <div class="b-dedicated__box">
                    <h3 class="b-dedicated__title b-dedicated__title_upline_yes">
                        OUR<br>
                        SOLUTIONS
                    </h3>

                    <div class="b-dedicated__switch js-switch-box">
                        <div class="b-dedicated__switch-item js-switch-item active">netherland</div>
                        <div class="b-dedicated__switch-item">/</div>
                        <div class="b-dedicated__switch-item js-switch-item">russia</div>
                    </div>
                </div>

                <div class="b-dedicated__list js-switch-box">
                    <div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.1.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-1.png">
                        <h3 class="b-dedicated__item-title">Micro servers</h3>
                        <h4 class="b-dedicated__item-subtitle">For smalll projects</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€15.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.1.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-2.png">
                        <h3 class="b-dedicated__item-title">Mini servers</h3>
                        <h4 class="b-dedicated__item-subtitle">For smalll projects</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€25.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.1.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-3.png">
                        <h3 class="b-dedicated__item-title">Virtualisation nodes</h3>
                        <h4 class="b-dedicated__item-subtitle">Power of one server</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€25.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.1.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-4.png">
                        <h3 class="b-dedicated__item-title">Hosting nodes</h3>
                        <h4 class="b-dedicated__item-subtitle">Power of one server</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€25.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.1.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-5.png">
                        <h3 class="b-dedicated__item-title">Storage</h3>
                        <h4 class="b-dedicated__item-subtitle">Power of one server</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€25.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.1.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-6.png">
                        <h3 class="b-dedicated__item-title">Big data</h3>
                        <h4 class="b-dedicated__item-subtitle">For smalll projects</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€15.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.2.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-7.png">
                        <h3 class="b-dedicated__item-title">Configurator</h3>
                        <h4 class="b-dedicated__item-subtitle">Your own configuration</h4>
                        <div class="b-dedicated__item-start">Starts from</div>
                        <div class="b-dedicated__item-price">€15.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div><!--
                    --><div class="b-dedicated__item js-switch-item js-more-setting" data-url="/application/shop/view/Dedicated/include.ajax.content.3.html">
                        <img class="b-dedicated__item-image" src="/assets/img/dedicate-select-icon-2-8.png">
                        <h3 class="b-dedicated__item-title">Extra price</h3>
                        <h4 class="b-dedicated__item-subtitle">2014 sale</h4>
                        <div class="b-dedicated__item-start b-dedicated__item-start_red_yes">Starts from</div>
                        <div class="b-dedicated__item-price b-dedicated__item-price_red_yes">€25.99/month</div>
                        <a class="b-dedicated__item-detail" href="#">Detail</a>
                    </div>
                </div>


                <!-- Строится с помощью AJAX -->
                <div class="b-dedicated__hide-block js-setting">

                </div>

                <div class="b-dedicated__box">
                    <h3 class="b-dedicated__title b-dedicated__title_upline_yes">
                        features
                    </h3>

                </div>

                {plugin "Content_ContentBlock_Plugin" view="SelectServiceFeatures" IsFeatures="1"}

                <div class="b-dedicated__free">
                    <a class="b-dedicated__free-title" href="#">free<br>
                        test<br>
                        drive
                    </a>
                    <div class="b-dedicated__free-period">30 day free trial </div>
                    <a class="b-submit b-dedicated__free-submit" href="#">see plans</a>
                </div>

                <div class="black-sale">

                    <h2 class="black-sale__title">2014 SALE</h2>

                    {include "Shop_Dedicated_include.black.sale.slider"}
                </div>

            </div>

            <div class="footer-push"></div>
        </div>
