<div class="b-page">

    <div class="b-page__promo b-page__promo_dedicated_yes">
        <h1 class="b-page__promo-title">dedicated</h1>
    </div>

    <div class="b-dedicated">

        <h3 class="b-dedicated__title">
            DEDICATED<br>
            FEATURE
        </h3>

        <div class="b-dedicated__feature b-container">
            <div class="b-dedicated__feature-item">
                <img class="b-dedicated__feature-item-icon" src="/assets/img/feature-1.png" alt="иконка">
                <h3 class="b-dedicated__feature-item-title">
                    Tier 3 Data Centers
                </h3>
                <p class="b-dedicated__feature-item-text">
                    Only the best secure premises with reliable power and fastest roots to EU, US and Asia for
                    your hardware.
                </p>
            </div><!--
                    --><div class="b-dedicated__feature-item">
            <img class="b-dedicated__feature-item-icon" src="/assets/img/feature-2.png" alt="иконка">
            <h3 class="b-dedicated__feature-item-title">
                Servers to be sure of
            </h3>
            <p class="b-dedicated__feature-item-text">
                Always the most reliable
                hardware from industry learders.
                Full remote control through IP-KVM (IPMI) on each server.
            </p>
        </div><!--
                    --><div class="b-dedicated__feature-item">
            <img class="b-dedicated__feature-item-icon" src="/assets/img/feature-3.png" alt="иконка">
            <h3 class="b-dedicated__feature-item-title">
                Fast service 24/7
            </h3>
            <p class="b-dedicated__feature-item-text">
                Rapid Hardware replacement. Instant delivery of stock
            </p>
        </div><!--
                    --><div class="b-dedicated__feature-item">
            <img class="b-dedicated__feature-item-icon" src="/assets/img/feature-4.png" alt="иконка">
            <h3 class="b-dedicated__feature-item-title">
                No-nonsense
                affordability
            </h3>
            <p class="b-dedicated__feature-item-text">
                VAT free for International
                customers. Flat traffic rates.
                No minimum period & setup fee. Save on value rates. All major
                payment systems accepted.
            </p>
        </div>
        </div>

        <h3 class="b-dedicated__title b-dedicated__title_upline_yes">
            OUR<br>
            SOLUTIONS
        </h3>

        <div class="b-dedicated__list">
            <div class="b-dedicated__item">
                <img class="b-dedicated__item-image" src="/assets/img/icon-option-1.png">
                <h3 class="b-dedicated__item-title">Starter</h3>
                <h4 class="b-dedicated__item-subtitle">For smalll projects</h4>
                <div class="b-dedicated__item-start">Starts from</div>
                <div class="b-dedicated__item-price">€15.99/month</div>
                <a class="b-dedicated__item-detail" href="#">Detail</a>
            </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-2.png">
            <h3 class="b-dedicated__item-title">Hosting</h3>
            <h4 class="b-dedicated__item-subtitle">For smalll projects</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€25.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-3.png">
            <h3 class="b-dedicated__item-title">Infrastructure</h3>
            <h4 class="b-dedicated__item-subtitle">Power of one server</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€25.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-1.png">
            <h3 class="b-dedicated__item-title">Storage</h3>
            <h4 class="b-dedicated__item-subtitle">Power of one server</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€25.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-2.png">
            <h3 class="b-dedicated__item-title">Bigdata</h3>
            <h4 class="b-dedicated__item-subtitle">Power of one server</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€25.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-3.png">
            <h3 class="b-dedicated__item-title">Enterprice</h3>
            <h4 class="b-dedicated__item-subtitle">For smalll projects</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€15.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-1.png">
            <h3 class="b-dedicated__item-title">Configurator</h3>
            <h4 class="b-dedicated__item-subtitle">Your own configuration</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€15.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div><!--
                    --><div class="b-dedicated__item">
            <img class="b-dedicated__item-image" src="/assets/img/icon-option-2.png">
            <h3 class="b-dedicated__item-title">Extra price</h3>
            <h4 class="b-dedicated__item-subtitle">2014 sale</h4>
            <div class="b-dedicated__item-start">Starts from</div>
            <div class="b-dedicated__item-price">€15.99/month</div>
            <a class="b-dedicated__item-detail" href="#">Detail</a>
        </div>
        </div>

        <div class="b-dedicated__free">
            <h2 class="b-dedicated__free-title">free<br>
                test<br>
                drive
            </h2>
            <div class="b-dedicated__free-period">30 day free trial </div>
            <a class="b-submit b-dedicated__free-submit" href="#">see plans</a>
        </div>

        <div class="black-sale">

            <h2 class="black-sale__title">2014 SALE</h2>

            {include "Shop_Dedicated_include.black.sale.slider"}
        </div>

    </div>

    <div class="footer-push"></div>
</div>