.pagination

    li
        display inline-block

        a
            text-decoration none !important
            font-size 20px
            padding 10px
            color #ff692d

        &.disabled
            a
                color #ccc


