/*
List 0f varibles
*/
.b-slider__legend-1 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-5 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-5-item {
  position: absolute;
  top: 20px;
  width: 80px;
  color: #945ae0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.b-slider__legend-5-item:after {
  content: '|';
  position: absolute;
  top: -13px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
  margin-left: -2px;
}
.b-slider__legend-5-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-5-item_place_2 {
  left: 25%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-5-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-5-item_place_3 {
  left: 50%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-5-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-5-item_place_4 {
  left: 75%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-5-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-5-item_place_5 {
  left: 100%;
  margin-left: -55px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-5-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-7 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-7-item {
  position: absolute;
  top: 20px;
  width: 80px;
  color: #945ae0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.b-slider__legend-7-item:after {
  content: '|';
  position: absolute;
  top: -13px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
  margin-left: -2px;
}
.b-slider__legend-7-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_2 {
  left: 17%;
  margin-left: -36px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-7-item_place_3 {
  left: 34%;
  margin-left: -40px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-7-item_place_4 {
  left: 51%;
  margin-left: -42px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-7-item_place_5 {
  left: 68%;
  margin-left: -45px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-7-item_place_6 {
  left: 85%;
  margin-left: -48px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-7-item_place_7 {
  left: 100%;
  margin-left: -55px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-7-item_place_7:after {
  margin-left: -2px;
}
.b-slider__legend-9 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-9-item {
  position: absolute;
  top: 20px;
  width: 80px;
  color: #945ae0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.b-slider__legend-9-item:after {
  content: '|';
  position: absolute;
  top: -13px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
  margin-left: -2px;
}
.b-slider__legend-9-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_2 {
  left: 12.5%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_3 {
  left: 25%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_4 {
  left: 37.5%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_5 {
  left: 50%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_6 {
  left: 62.5%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_7 {
  left: 75%;
  margin-left: -36px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_7:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_8 {
  left: 87.5%;
  margin-left: -36px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_8:after {
  margin-left: -2px;
}
.b-slider__legend-9-item_place_9 {
  left: 100%;
  margin-left: -55px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-9-item_place_9:after {
  margin-left: -2px;
}
.b-slider__legend-3 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-3-item {
  position: absolute;
  top: 20px;
  width: 60px;
  color: #945ae0;
  text-align: center;
}
.b-slider__legend-3-item:after {
  content: '|';
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
}
.b-slider__legend-3-item_place_1 {
  left: 0;
}
.b-slider__legend-3-item_place_2 {
  left: 50%;
  margin-left: -26px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-3-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-3-item_place_3 {
  left: 100%;
  margin-left: -60px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-3-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-4 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-4-item {
  position: absolute;
  top: 20px;
  width: 80px;
  color: #945ae0;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.b-slider__legend-4-item:after {
  content: '|';
  position: absolute;
  top: -13px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
  margin-left: -2px;
}
.b-slider__legend-4-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-4-item_place_2 {
  left: 33.3%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-4-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-4-item_place_3 {
  left: 66.6%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-4-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-4-item_place_4 {
  left: 100%;
  margin-left: -55px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-4-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-6 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-6-item {
  position: absolute;
  top: 20px;
  width: 80px;
  color: #945ae0;
  text-align: center;
}
.b-slider__legend-6-item:after {
  content: '|';
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
}
.b-slider__legend-6-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-6-item_place_2 {
  left: 20%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-6-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-6-item_place_3 {
  left: 40%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-6-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-6-item_place_4 {
  left: 60%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-6-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-6-item_place_5 {
  left: 80%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-6-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-6-item_place_6 {
  left: 100%;
  margin-left: -55px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-6-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-8 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-8-item {
  position: absolute;
  top: 20px;
  width: 80px;
  color: #945ae0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.b-slider__legend-8-item:after {
  content: '|';
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
}
.b-slider__legend-8-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_2 {
  left: 14.3%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-8-item_place_3 {
  left: 28.6%;
  margin-left: -34px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-8-item_place_4 {
  left: 42.9%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-8-item_place_5 {
  left: 57.2%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-8-item_place_6 {
  left: 73.5%;
  margin-left: -49px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-8-item_place_7 {
  left: 85.8%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_7:after {
  margin-left: -2px;
}
.b-slider__legend-8-item_place_8 {
  left: 100%;
  margin-left: -55px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-8-item_place_8:after {
  margin-left: -2px;
}
.b-slider__legend-15 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-15-item {
  position: absolute;
  top: 20px;
  width: 60px;
  color: #945ae0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}
.b-slider__legend-15-item:after {
  content: '|';
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
}
.b-slider__legend-15-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_2 {
  left: 7.1%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_3 {
  left: 14.3%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_4 {
  left: 21.4%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_5 {
  left: 28.3%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_6 {
  left: 35.6%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_7 {
  left: 42.8%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_7:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_8 {
  left: 49.9%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_8:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_9 {
  left: 57.1%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_9:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_10 {
  left: 64.3%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_10:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_11 {
  left: 71.5%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_11:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_12 {
  left: 76.7%;
  margin-left: -12px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_12:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_13 {
  left: 83.8%;
  margin-left: -12px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_13:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_14 {
  left: 91%;
  margin-left: -15px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_14:after {
  margin-left: -2px;
}
.b-slider__legend-15-item_place_15 {
  left: 100%;
  margin-left: -35px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-15-item_place_15:after {
  margin-left: -2px;
}
.b-slider__legend-17 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-17-item {
  position: absolute;
  top: 20px;
  width: 60px;
  color: #945ae0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.b-slider__legend-17-item:after {
  content: '|';
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
}
.b-slider__legend-17-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_2 {
  left: 6.25%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_3 {
  left: 12.5%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_4 {
  left: 18.75%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_5 {
  left: 25%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_6 {
  left: 31.25%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_7 {
  left: 37.5%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_7:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_8 {
  left: 43.75%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_8:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_9 {
  left: 50%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_9:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_10 {
  left: 56.25%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_10:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_11 {
  left: 62.5%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_11:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_12 {
  left: 68.75%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_12:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_13 {
  left: 75%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_13:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_14 {
  left: 81.25%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_14:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_15 {
  left: 87.5%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_15:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_16 {
  left: 93.75%;
  margin-left: -26px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_16:after {
  margin-left: -2px;
}
.b-slider__legend-17-item_place_17 {
  left: 100%;
  margin-left: -33px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-17-item_place_17:after {
  margin-left: -2px;
}
.b-slider__legend-16 {
  position: relative;
  height: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.b-slider__legend-16-item {
  position: absolute;
  top: 20px;
  width: 60px;
  color: #945ae0;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
.b-slider__legend-16-item:after {
  content: '|';
  position: absolute;
  top: -11px;
  left: 50%;
  font-size: 8px;
  line-height: 12px;
}
.b-slider__legend-16-item_place_1 {
  left: 0;
  margin-left: -20px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_2 {
  left: 6.7%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_2:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_3 {
  left: 13.4%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_3:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_4 {
  left: 20.1%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_4:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_5 {
  left: 26.8%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_5:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_6 {
  left: 33.5%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_6:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_7 {
  left: 40.2%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_7:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_8 {
  left: 46.9%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_8:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_9 {
  left: 53.5%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_9:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_10 {
  left: 60.2%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_10:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_11 {
  left: 66.8%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_11:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_12 {
  left: 73.5%;
  margin-left: -23px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_12:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_13 {
  left: 80.1%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_13:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_14 {
  left: 86.8%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_14:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_15 {
  left: 93.5%;
  margin-left: -25px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_15:after {
  margin-left: -2px;
}
.b-slider__legend-16-item_place_16 {
  left: 100%;
  margin-left: -33px;
  font-size: 14px;
  cursor: pointer;
}
.b-slider__legend-16-item_place_16:after {
  margin-left: -2px;
}
