        <div class="b-page">

            <div class="b-page__promo b-page__promo_ssl_yes">
                <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
                <h1 class="b-page__promo-title">{$H1} 1</h1>
            </div>

            <div class="b-ssl" id="scroll-anchor-01">

                <div class="b-container">
                    <h1 class="b-ssl__title">
                        When online customers feel secure,<br>
                        they are more likely to complete a purchase<br>
                        or personalize their profile and return<br>
                        to your web site.
                    </h1>
                    <p class="b-ssl__description">
                        When online customers feel secure, they are more likely to complete a purchase
                        or personalize their profile and return to your web site. What inspires confidence online?
                        An SSL certificate from a globally recognized certificate authority such as Thawte.
                        Expert support, a robust authentication process, and easy online management make
                        Thawte® SSL Certificates the best value for securing your site.
                    </p>
                </div>
                {$Content}
                {plugin "Content_FaqSsl_Plugin" view="Page"}
            </div>

            <div class="footer-push"></div>
        </div>
