
<div class="b-page">

    <div class="b-page__promo b-page__promo_managed-cloud_yes">
        <h1 class="b-page__promo-title">Managed<br>
            cloud
        </h1>
    </div>

    <div class="b-managed-cloud">

        <div class="b-dedicated__box">
            <h3 class="b-dedicated__title b-dedicated__title_upline_yes">
                cloud
                Configurator
            </h3>
        </div>



        <div class="b-container">
            <table class="b-managed-cloud__table">
                <tr class="b-managed-cloud__table-row">
                    <td class="b-managed-cloud__table-cell b-managed-cloud__table-cell_title_yes b-managed-cloud__table-cell_top_yes">Select the
                        cloud server</td>
                    <td class="b-managed-cloud__table-cell">
                        <div class="b-slider js-slider" data-slides="8" data-position="3" data-preset="CloudVDS"></div>
                        <div class="b-slider__legend-8">
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_1">Cloud 3</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_2">Cloud 4</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_3">Cloud 5</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_4">Cloud 6</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_5">Cloud 7</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_6">Cloud 8</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_7">Cloud 9</div>
                            <div class="b-slider__legend-8-item b-slider__legend-8-item_place_8">Cloud 10</div>
                        </div>
                        <div class="b-slider js-slider" data-slides="4" data-position="1" data-preset="CloudVDS_1"></div>
                        <div class="b-slider__legend-8">
                            <div class="b-slider__legend-4-item b-slider__legend-4-item_place_1">Cloud 3</div>
                            <div class="b-slider__legend-4-item b-slider__legend-4-item_place_2">Cloud 4</div>
                            <div class="b-slider__legend-4-item b-slider__legend-4-item_place_3">Cloud 5</div>
                            <div class="b-slider__legend-4-item b-slider__legend-4-item_place_4">Cloud 6</div>
                        </div>
                    </td>
                </tr>
                <tr class="b-managed-cloud__table-row">
                    <td class="b-managed-cloud__table-cell b-managed-cloud__table-cell_title_yes">
                        Server
                        configuration
                    </td>
                    <td class="b-managed-cloud__table-cell">
                        <table class="b-managed-cloud__result-table">
                            <tr class="b-managed-cloud__result-table-row">
                                <td class="b-managed-cloud__result-table-cell">
                                    <div class="b-managed-cloud__result-table-cell-title" data_pole_name="CPU cores">CPU cores</div>
                                    <div class="b-managed-cloud__result-table-cell-text" data_pole="CPU cores">2 cores</div>
                                </td>
                                <td class="b-managed-cloud__result-table-cell">
                                    <div class="b-managed-cloud__result-table-cell-title" data_pole_name="Ram">Ram</div>
                                    <div class="b-managed-cloud__result-table-cell-text" data_pole="Ram">3 008 Mb</div>
                                </td>
                                <td class="b-managed-cloud__result-table-cell">
                                    <div class="b-managed-cloud__result-table-cell-title" data_pole_name="Hdd">Hdd</div>
                                    <div class="b-managed-cloud__result-table-cell-text" data_pole="Hdd">80 Gb</div>
                                </td>
                                <td class="b-managed-cloud__result-table-cell">
                                    <div class="b-managed-cloud__result-table-cell-title" data_pole_name="Traffic">Traffic</div>
                                    <div class="b-managed-cloud__result-table-cell-text" data_pole="Traffic">2000 Gb</div>
                                </td>
                                <td class="b-managed-cloud__result-table-cell">
                                    <div class="b-managed-cloud__result-table-cell-title" data_pole_name="OS">Windows License: </div>
                                    <div class="b-managed-cloud__result-table-cell-text" data_pole="LICENSIA">Include</div>
                                </td>
                                <td class="b-managed-cloud__result-table-cell b-managed-cloud__result-table-cell_border_no">
                                    <div class="b-managed-cloud__result-table-cell-price" data_pole="Cost">€475.99 / month </div>
                                    <a class="b-submit b-managed-cloud__result-table-cell-submit" href="#" id="byu_cloud">buy</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <div class="b-vps__try">
            <div class="b-vps__try-line">
                <span class="b-vps__try-line-text">need more resourses?</span>
            </div>
            <h3 class="b-vps__try-title">Try our<br>vds plan</h3>
            <p class="b-vps__try-text"><span class="b-vps__try-text_purpur_yes">starts from 300 eur / month</span><br>or configurate your own</p>
            <a class="b-submit b-vps__try-submit" href="#">see plans</a>
        </div>
    </div>

    <div class="footer-push"></div>
</div>

<script>
    $( document ).ready(function() {

        listOfProducts = new Array();
        zakaz = new Object();
        listOfProducts["CloudVDS_1"] =
        {
            "Code": 0,
            "Message": "",
            "ErrorStatus": false,
            "1": {
                "Content": {
                    "Hardware": {
                        "CPU cores": "100000000000 core",
                        "Ram": 100,
                        "Hdd": 80,
                    },
                    "Software": {
                        "OS": "Debian",
                        "LICENSIA": "GPL",
                        "Bit": 64
                    },
                    "Network": {
                        "Traffic": "2tb",
                    },
                    "Price": {
                        "Cost" : "€475.99 / month",
                    },
                    "UID": {
                        "id": "172727"
                    }
                }
            },
            "2": {
                "Content": {
                    "Hardware": {
                        "CPU cores": "2 core",
                        "Ram": 200,
                        "Hdd": "20tb",
                    },
                    "Software": {
                        "OS": "Win",
                        "LICENSIA": "include",
                        "Bit": 64
                    },
                    "Network": {
                        "Traffic": "10tb unlimited",
                    },
                    "Price": {
                        "Cost" : "usd 475.99 / month",
                    },
                    "UID": {
                        "id": "172727"
                    }
                }
            }
        };

        listOfProducts["CloudVDS"] =
        {
            "1": {
                "Content": {
                    "Hardware": {
                        "CPU cores": "10 cores",
                        "Ram": 100000,
                        "Hdd": "100 Mb",
                    },
                    "Software": {
                        "OS": "Debian",
                        "LICENSIA": "FREE",
                        "Bit": 32
                    },
                    "Network": {
                        "Traffic": "2tb",
                    },
                    "Price": {
                        "Cost" : "evro 1999 / yaer",
                    },
                    "UID": {
                        "id": "172727"
                    }
                }
            },
            "2": {
                "Content": {
                    "Hardware": {
                        "CPU cores": "200 core",
                        "Ram": 200,
                        "Hdd": "1 Gb",
                    },
                    "Software": {
                        "OS": "Windows",
                        "LICENSIA": "Include",
                        "Bit": 32
                    },
                    "Network": {
                        "Traffic": "10tb unlimited",
                    },
                    "Price": {
                        "Cost": "evro 200000/ yaer",
                    },
                    "UID": {
                        "id": "172727"
                    }
                }
            }
        };


        // Slider
        if ( $( ".js-slider").length ) {

            $(".js-slider").each(function (index, val) {
                var slidesCount = $(val).data('slides');
                var Begin_position = $(val).data('position');
                var Preset = $(val).data('preset');
                zakaz = listOfProducts[Preset][Begin_position];//ставим дефолтный заказ
                $(function ( ) {
                    $(val).slider({
                        range: "min",
                        min: 1,
                        value: Begin_position,
                        max: slidesCount,
                        slide: function (event, ui ) {
                            calculatePreset ( index, ui, Preset);

                        },
                        change: function(event, ui ) {
                            calculatePreset ( index, ui, Preset);
                        }
                    });

                });
            });

        }

        /*
        *   Открываем окно завершения заказа
        */
  $( '#byu_cloud').bind( 'click', function () {
      $ ( '.popup_callback').show();
      return false;
  })



        /*
        *  убираем рамки если исправили ошибки в обязательных полях
        */
        $('.popup_callback input[required = "required"]' ).bind( 'keyup', function() {
            stroka = $(this).val().replace(/\s{2,}/g, '');
           if (  stroka.length  <5 ) {
                console.log(  stroka.length );
           } else {
               $(this).css('border', '2px solid #d9dcdd');
           }
        })




        /*
        *   Закрываем окно
        */
  $('.close_window_information_manager_cloud').click(function(){
            $('.popup').hide();
            $( '#callback_btn_manage_cloud').removeClass( 'disabled_href_button').css( 'color', '#ff6a39');// при закрытии окна очищаем кнопку отправки
            messager_windows_operator ( "", $( "#message_load_ajax" ), 'clear+hide' );
            return false;
        });









    /*
    * Отправляем заказ
     */
     $( '#callback_btn_manage_cloud').bind( 'click', function(){
        // messager_windows_operator ( "", $( "#message_load_ajax" ), 'clear+hide');
         AJAX_SEND( $('.popup_callback input[required = "required"]' ),  $( "#message_load_ajax" ) );
         return false;
     });




    function calculatePreset ( index, ui, Preset){
        if ( typeof window.listOfProducts[Preset][ui.value] != "undefined" ) {

            zakaz = listOfProducts[Preset][ui.value];

            for (var prop in listOfProducts[Preset][ui.value].Content.Hardware ) {
                $( '[data_pole_name = "' + prop + '"]' ).html( prop );
                $( '[data_pole = "' + prop + '"]' ).html( listOfProducts[Preset][ui.value].Content.Hardware[prop] );
            }

            for (var prop in listOfProducts[Preset][ui.value].Content.Software ) {
                console.log( "---" + prop + "---" + listOfProducts[Preset][ui.value].Content.Software[prop] );
                $( '[data_pole_name = "' + prop + '"]' ).html( listOfProducts[Preset][ui.value].Content.Software[prop]
                        + " " +listOfProducts[Preset][ui.value].Content.Software.Bit
                );
                $( '[data_pole = "' + prop + '"]' ).html( listOfProducts[Preset][ui.value].Content.Software[prop]);
            }

            for (var prop in listOfProducts[Preset][ui.value].Content.Network) {
                $('[data_pole_name = "' + prop + '"]').html(prop);
                $('[data_pole = "' + prop + '"]').html(listOfProducts[Preset][ui.value].Content.Network[prop]);
            }
            for (var prop in listOfProducts[Preset][ui.value].Content.Price) {
                $( '[data_pole = "' + prop + '"]' ).html( listOfProducts[Preset][ui.value].Content.Price[prop] );
            }
        } else {
            console.log( "not_prod---" + ui.value + "--" + Preset );
        }
    }

    });

  </script>

<div class="popup popup_callback" style="display: none;" id="information_manage_cloud">
    <a class="close close_window_information_manager_cloud" href="#"><img src="/assets/img/close.png"></a>

    <h2>INFORMATION for REQUEST</h2>
    <div class="message_pole" id="message_load_ajax"></div>
    <div class="callback_div">
        <input type="text" required="required" id="name_host" placeholder="Host name*" name="name_host" data_min_chars="4">
    </div>
    <div class="callback_div div3">
        <input type="password" required="required" id="name_pass" placeholder="Admin pass*" name="name_pass" data_min_chars="5"></div>
    <label>* - required fields</label>

    <div class="clear"></div>
    <a id="callback_btn_manage_cloud" class="btn" href="#">Send ITEM</a>
</div>