
<div class="b-page">

    <div class="b-page__promo b-page__promo_vps_yes">
        <div onclick="$.scrollTo('#calc', 1000, { offset:-90 })" class="b-icon b-page__scroll-icon"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>

    </div>


    <div class="b-vps">

        <div class="b-vps__feature b-container">
            <div class="b-vps__feature-item">
                <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-01.png" alt="иконка">
                <h3 class="b-vps__feature-item-title">
                    Ready in minutes
                </h3>
                <p class="b-vps__feature-item-text">
                    We start preparing your server while you order. Pay and play.
                </p>
            </div>
            <div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-02.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                Nothing gets lost
            </h3>
            <p class="b-vps__feature-item-text">
                All your actions while
                managing your server are fully backed up and can be instantly restored without contacting the support team
            </p>
        </div>
            <div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-03.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                Perfection achievable
            </h3>
            <p class="b-vps__feature-item-text">
                You get an unlimited number
                or reinstalls and a huge number of OS presets
            </p>
        </div>
            <div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-04.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                You’re the boss!
            </h3>
            <p class="b-vps__feature-item-text">
                Full administrative access
                to your server. No catch.
            </p>
        </div>
        </div>


        <div class="switch_country_for_container_VPS" id="calc">
            {if ( $PID==530 )}
            <div  class="b-dedicated__switch-item active  flag_nl">
                netherland
            </div>
            {else}
            <div  class="b-dedicated__switch-item  flag_nl">
                <a href="/cloud/vps#nl" target="_self" title="ckoud VDS Russia>">
                    netherland
                </a>
            </div>
            {/if}
            <div class="b-dedicated__switch-item">/</div>
            {if ( $PID==538 )}
            <div class="b-dedicated__switch-item active  flag_ru">
                russia
            </div>
            {else}
            <div class="b-dedicated__switch-item  flag_ru">
                <a href="/cloud/vps/russia#ru" target="_self" title="ckoud VDS Russia>">
                    russia
                </a>
            </div>
            {/if}
        </div>

        <div class="b-dedicated__back" style="display: none;">
            <a href="#" class="b-dedicated__back-text" id="calc-breadcrambs-back">
                <span class="b-icon b-dedicated__back-icon"></span>
                back
            </a>

            <div class="b-dedicated__back-breadcrumbs">
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_disable" id="Service">Service</div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_separate_yes"></div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_active" id="Options">Options</div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_disable b-dedicated__back-breadcrumbs-item_separate_yes"></div>
                <div class="b-dedicated__back-breadcrumbs-item ">Payment</div>
            </div>
        </div>

        <table class="b-vps__table" data_id="Service">
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_head_yes"></td>
                {foreach ( $configuration as $key => $value)}
                    <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                        <h2 class="b-vps-table__title">{$value['name']}</h2>
                        <div class="b-vps-table__subtitle">{$value['value']}</div>
                    </td>
                {/foreach}
            </tr>
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" data_summa_preset="{$key}">{$value['summ']} € / month</div>
                </td>
                {/foreach}
            </tr>

            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                {foreach ( $configuration as $key => $value)}
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#" data_preset="{$key}" data_name="Container_VPS">BUY</a>
                        </td>
                {/foreach}

            </tr>

            {foreach ( $table_row_data as $key => $value)}
                <tr class="b-vps__table-row">
                    <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                        <h3 class="b-vps__table-cell_main_yes">{$key}</h3>
                    </td>
                    {foreach ( $value as $k => $v)}
                    <td class="b-vps__table-cell b-vps__table-cell_border_yes">

                        {if ( 'VM Template' == $key )}
                        <div class="b-vps-table__text">
                            <select class="table-select__item  vm" name="tbl-selectVM-{$k}" id="vm_template{$k}" data_preset="{$k}">
                                {foreach ( $arr_VM_Template['696'] as $key_arr_select => $val_arr_select )}
                                {if ( $val_arr_select['name'] == $v['name'] )}
                                     <option value="{$val_arr_select['id']}" selected="selected">{$val_arr_select['name']}</option>
                                {else}
                                <option value="{$val_arr_select['id']}">{$val_arr_select['name']}</option>
                                {/if}
                                {/foreach}
                                {if ( $v['name'] == 'NONE')}
                                <option value="{$v['name']}" selected="selected">{$v['name']}</option>
                                {/if}
                            </select>
                        </div>
                        {else}
                            <div class="b-vps-table__text">{$v['name']}</div>
                        {/if}


                    </td>
                    {/foreach}
                    </tr>
            {/foreach}

            <tr class="b-vps__table-row">

                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes">payment period</h3>
                </td>
                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item js-select-test" name="tbl-select-{$key}" id="payment{$key}" data_preset="{$key}">
                            {foreach ($payment_period as $k => $v)}
                            <option value="{$k}"
                                    {if ( 0== $v )} selected="selected"{/if}>{$k}{if ($v>0)} - {$v}%{/if}
                            </option>
                            {/foreach}
                        </select>

                    </div>
                </td>
                {/foreach}

            </tr>

            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" data_summa_preset="{$key}">{$value['summ']} € / month</div>
                </td>
                {/foreach}
            </tr>
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>

                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy  preset-buy" href="#" data_preset="{$key}" data_name="Container_VPS">BUY</a>
                </td>
                {/foreach}
            </tr>
        </table>


        <table class="b-vps__table" data_id="Options" style="display: none;">
            <tr>
                <td>
                    <iframe id="configure_cloud_VDS" src="" name="configure_cloud_VDS"></iframe>
                </td>
                <td>
                    {include "Shop_Step2"}
                </td>
            </tr>
        </table>

        <div class="b-vps__try">
            <div class="b-vps__try-line">
                <span class="b-vps__try-line-text">need more resourses?</span>
            </div>
            <h3 class="b-vps__try-title">Try our<br>vds plan</h3>
            <p class="b-vps__try-text"><span class="b-vps__try-text_purpur_yes">starts from 300 eur / month</span><br>or configurate your own</p>
            <a class="b-submit b-vps__try-submit" href="#">see plans</a>
        </div>
    </div>

    <div class="footer-push"></div>
</div>


<div class="popup popup_callback" style="display: none;" id="information_manage_cloud">
    <a class="close close_window_information_manager_cloud" href="#"><img src="/assets/img/close.png"></a>

    <h2>INFORMATION for REQUEST</h2>

    <div class="message_pole" id="message_load_ajax"></div>
    <div id="add_iframe_from_billing">
        <iframe id="configure_cloud_VDS" src="" name="configure_cloud_VDS"></iframe>
    </div>
</div>

<script>
    $(document).ready(function (){


        var Zakaz = new Object();
        var ZakazY = new Object();


        var currency = {
            "2": "€",
            "1": "RUR",
            "3": "$"
        };
        var currencyID = {$currencyId};

        var VM_Template = {json_encode($arr_VM_Template)};

        var Table_Row = {json_encode($table_row_data)};

       // window.ToStringJSON ( VM_Template );

        var listOfProducts = new Object();
        var listOfProducts = {json_encode($configuration)};
        listOfProducts.payment = {
            "name": "payment",
            "hidden": "0",
            "data": {
                "0": {
                    "name": "monthly",
                    "discount": "0",
                    'period': "month",
                    'month': 1
                },
                "1": {
                    "name": "quarterly",
                    "discount": "3",
                    "period": "quarter",
                    'month': 3
                },
                "2": {
                    "name": "semiannually",
                    "discount": "6",
                    "period": "half-year",
                    'month': 6
                },
                "3": {
                    "name": "annually",
                    "discount": "12",
                    "period": "year",
                    'month': 12
                }
            }
        };



        var $eventSelect = $(".js-select-test");
        var $eventSelectVM = $(".vm");


      //  window.ToStringJSON ( {json_encode ( $table_row_data)} );

        /* формируем дефолтные пресеты */
        $('.preset-buy').each(function () {
            var preset_number = $( this ).attr( 'data_preset' );
            //console.log( preset_number );
            ZakazY[preset_number] = window.startZakaz ( 0, listOfProducts[preset_number][0] );
            //ZakazY[preset_number]['696']['data']['0'] = window.AddOptionToZakaz( VM_Template, Table_Row[preset_number]['id'] );
            if( Table_Row['VM Template'][preset_number].id  != "NONE"){
               // ZakazY[preset_number] window.AddOptionToZakaz( VM_Template, Table_Row['VM Template'][preset_number].id ) );
            } else {

            }

           // window.ToStringJSON (  Table_Row['VM Template'][preset_number].id   );
            window.set_payment_for_preset( ZakazY[preset_number], listOfProducts, 0 );/* устанавливаем платежный период для заказа */
        });

       //window.ToStringJSON ( Table_Row['VM Template'][4].name );

      window.ToStringJSON ( Table_Row );

        $eventSelect.on("change", function (e) {
            var payment_period = $( this ).select2("val");
            var preset_number =e.target.getAttribute('data_preset');
            for( var prop in listOfProducts.payment.data ) {
                if ( listOfProducts.payment.data[prop].name == payment_period ) {
                    window.set_payment_for_preset( ZakazY[preset_number], listOfProducts, prop);/* устанавливаем платежный период для заказа */
                    Zakaz = ZakazY[preset_number];/* формирование товарного наполнения заказа */
                    var p = window.SumUpResultZakaz( Zakaz );// - window.SumUpDiscountByMonthly( Zakaz );
                    p = p  + " " + currency[currencyID] + " / " + Zakaz.payment.data[0].period;
                    $( '[data_summa_preset=' + preset_number + ']').html( p );
                }
            }
        });


        $eventSelectVM.on("change", function (e) {
            var id_vm_template = $( this ).select2("val");
            var preset_number = e.target.getAttribute('data_preset');
            console.log(  preset_number + "---" + id_vm_template );
            ZakazY[preset_number]['696']['data']['0'] = window.AddOptionToZakaz( VM_Template, id_vm_template );

           // window.ToStringJSON ( ZakazY );
            /*
            for( var prop in listOfProducts[preset_number][0]) {
                if ( listOfProducts[preset_number][0][prop].name == "VM Template" ) {
                    for( var prop2 in listOfProducts[preset_number][0][prop].data ) {
                        alert ( id_vm_template + "---" + listOfProducts[preset_number][0][prop].data[prop2].id  );
                        if ( listOfProducts[preset_number][0][prop].data[prop2].id == id_vm_template ) {
                           // ZakazY[preset_number]['696']['data']['0'] = window.AddOptionToZakaz( VM_Template, Table_Row[preset_number]['id'] );
                    }
                    }
                }
            }
            */
        });


        var CoocieObjZakazContainer = new Object();
        CoocieObjZakazContainer.type = '';
        CoocieObjZakazContainer.select = '';
        CoocieObjZakazContainer.Zakaz = new Object();


        document.getElementById('configure_cloud_VDS').src = "/assets/clear/index.html";

        $('.b-vps-table__buy').bind('click', function () {
            var name_kyki = $( this).attr( 'data_name' );

             // $('.popup_callback').show();
              var PRESET_ID = $( this).attr( 'data_preset' );
              for( var prop in listOfProducts ) {
                    if( prop == PRESET_ID ) {
                        Zakaz = ZakazY[prop];/* Присваиваем пресет заказу без указания оплаты*/
                        /* тут смотрим данные о каком периоде оплаты идет речь */
                       // window.set_payment_for_preset( Zakaz, listOfProducts, 0);
                    }
              }

            CoocieObjZakazContainer.type = name_kyki;
            CoocieObjZakazContainer.select = 'options';
            CoocieObjZakazContainer.Zakaz = Zakaz;

            if ( name_kyki !== 'undefined' ){
                $.cookie( name_kyki, JSON.stringify( CoocieObjZakazContainer ) );
            } else {
                $.removeCookie( name_kyki );
                $.cookie( name_kyki , JSON.stringify( CoocieObjZakazContainer ) );
            }
            $( '#calc').hide( 'slow' );
            $( '.b-dedicated__back'). show( 'slow' );
            $( '.b-page__promo_vps_yes').hide( 'slow' );
            $( '.b-vps__feature').hide( 'slow');
            $( '[data_id=Options]').show( 'slow');
            $( '[data_id=Service]').hide( 'slow');
            $( '.b-dedicated__summary-title').text( 'Your Solution');
            $( '.b-dedicated__summary-table-cel').text( Zakaz.payment.data[0].name );
            $.scrollTo(0, 1000);
              crFrame( );
              return false;
            ;
        });

        function crFrame( )
        {
            document.getElementById('configure_cloud_VDS').src = 'https://bill.hostkey.com/cart.php?systpl=siteF&a=add&pid={$PID}&carttpl=cartF&currency=2&'
                    + generate_post ( Zakaz ) ;
        };





    });


</script>
<style>
    .b-vds-cloud__summary-table-cell {
        vertical-align: middle;
    }

    #add_iframe_from_billing {
        display: block;
    }


    #configure_cloud_VDS {
        border: none;
        display: block;
        width: 570px;
        height: 500px;
        margin: 0 auto;
    }

    .popup_callback { width: 700px; height: 700px; margin: -225px 0 0 -350px; }

    .popup { display: none; position: relative; background: #fff; position: fixed; z-index: 100000; top: 40%; left: 50%; }

    .popup h2{ width: 100%; display: block; font: bold 24px KievitOT,Arial; color: #171819; text-transform: uppercase; text-align: center; margin: 45px auto 60px auto; }


    .switch_country_for_container_VPS {
        display: block;
        padding: 50px 0 20px 485px;
        background: #fff;
    }
    .switch_country_for_container_VPS a{
        color: #000;
        text-decoration: none;
    }
</style>