        <div class="b-page">

            <div class="b-page__promo b-page__promo_hosting_yes">
                <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
                <h1 class="b-page__promo-title">hosting</h1>
            </div>

            <div class="b-hosting">

                <div class="b-dedicated__box" id="scroll-anchor-01">
                    <h3 class="b-dedicated__title">HOSTING FEATURES</h3>
                </div>

                <div class="b-vps__feature b-container">
                    <div class="b-vps__feature-item">
                        <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-01.png" alt="иконка">
                        <h3 class="b-vps__feature-item-title">
                            Ready in minutes
                        </h3>
                        <p class="b-vps__feature-item-text">
                            We start preparing your server while you order. Pay and play.
                        </p>
                    </div><!--
                        --><div class="b-vps__feature-item">
                        <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-02.png" alt="иконка">
                        <h3 class="b-vps__feature-item-title">
                            Nothing gets lost
                        </h3>
                        <p class="b-vps__feature-item-text">
                            All your actions while
                            managing your server are fully backed up and can be instantly restored without contacting the support team
                        </p>
                    </div><!--
                        --><div class="b-vps__feature-item">
                        <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-03.png" alt="иконка">
                        <h3 class="b-vps__feature-item-title">
                            Perfection achievable
                        </h3>
                        <p class="b-vps__feature-item-text">
                            You get an unlimited number
                            or reinstalls and a huge number of OS presets
                        </p>
                    </div><!--
                        --><div class="b-vps__feature-item">
                        <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-04.png" alt="иконка">
                        <h3 class="b-vps__feature-item-title">
                            You’re the boss!
                        </h3>
                        <p class="b-vps__feature-item-text">
                            Full administrative access
                            to your server. No catch.
                        </p>
                    </div>
                </div>

                <table class="b-vps__table">
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes"></td>
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                            <h2 class="b-vps-table__title">Starter</h2>
                            <div class="b-vps-table__subtitle">Get started on the web</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                            <h2 class="b-vps-table__title b-vps-table__title_red_yes">Basic</h2>
                            <div class="b-vps-table__subtitle">Most popular plan</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                            <h2 class="b-vps-table__title">Pro</h2>
                            <div class="b-vps-table__subtitle">Most popular plan</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                            <h2 class="b-vps-table__title">Advanced</h2>
                            <div class="b-vps-table__subtitle">Scalable hosting with
                                guaranted resources</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                            <h2 class="b-vps-table__title">Pro</h2>
                            <div class="b-vps-table__subtitle">Most popular plan</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                            <h2 class="b-vps-table__title">Advanced</h2>
                            <div class="b-vps-table__subtitle">Scalable hosting with
                                guaranted resources</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell"></td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">1.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">2.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">3.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">4.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">3.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">4.99 EUR / month</div>
                        </td>
                    </tr>

                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell"></td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">CPU Cores</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">2</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">2</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">4</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">3</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">1</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">2</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">RAM</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">2 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">4 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">8 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">3 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">3 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">8 Gb</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">Disk space</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">50 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">60 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">70 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">140 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">140 Gb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">70 Gb</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">OS</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Linux</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">Linux</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Linux</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Linux</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Linux</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Linux</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">control panel</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">None</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">None</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">None</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">None</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">None</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">None</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">extra ips</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">8 IP</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">10 IP</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">9 IP</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">8 IP</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">14 IP</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">14 IP</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">Traffic TB (100MBPS)</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">4 Tb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">5 Tb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">6 Tb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">6 Tb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">7 Tb</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">10 Mbps
                                Unmetered</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <h3 class="b-vps__table-cell_main_yes">payment period</h3>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Semiannually</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text b-vps-table__text_red_yes">Semiannually</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Semiannually</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Semiannually</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Semiannually</div>
                        </td>
                        <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                            <div class="b-vps-table__text">Semiannually</div>
                        </td>
                    </tr>

                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell"></td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">1.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">2.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">3.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">4.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">3.99 EUR / month</div>
                        </td>
                        <td class="b-vps__table-cell">
                            <div class="b-vps-table__price">4.99 EUR / month</div>
                        </td>
                    </tr>
                    <tr class="b-vps__table-row">
                        <td class="b-vps__table-cell"></td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#">BUY</a>
                        </td>
                    </tr>
                </table>

                <div class="b-dedicated-try">
                    <div class="b-dedicated-try__line">
                        <span class="b-dedicated-try__line-text">need more resourses?</span>
                    </div>
                    <h3 class="b-dedicated-try__title">Try our<br>vds plan</h3>
                    <p class="b-dedicated-try__text"><span class="b-dedicated-try__text_red_yes">starts from 300 eur / month</span><br>or configurate your own</p>
                    <a class="b-submit b-dedicated-try__submit" href="#">see plans</a>
                </div>
            </div>

            <div class="footer-push"></div>
        </div>
