
<div class="b-page">

    <div class="b-page__promo b-page__promo_vps_yes">
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <div class="b-vps">

        <div class="b-vps__feature b-container">
            <div class="b-vps__feature-item">
                <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-01.png" alt="иконка">
                <h3 class="b-vps__feature-item-title">
                    Ready in minutes
                </h3>
                <p class="b-vps__feature-item-text">
                    We start preparing your server while you order. Pay and play.
                </p>
            </div><!--
                        --><div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-02.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                Nothing gets lost
            </h3>
            <p class="b-vps__feature-item-text">
                All your actions while managing your server are fully backed up and can be instantly restored without contacting the support team
            </p>
        </div><!--
                        --><div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-03.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                Perfection achievable
            </h3>
            <p class="b-vps__feature-item-text">
                You get an unlimited number of reinstalls and a huge number of OS presets
            </p>
        </div><!--
                        --><div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-04.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                You’re the boss!
            </h3>
            <p class="b-vps__feature-item-text">
                Full administrative access to your server. No catch.
            </p>
        </div>
            <br>
            <br>
            <br>
            <br>
            <a name="country-ru"></a>
            <div class="switch_country_for_container_VPS" id="calc" style="position: relative; left: 350px;">
                <div  class="b-dedicated__switch-item  flag_nl">
                    <a id="Change_nl_winvps" href="/cloud/winvps/netherlands#country-nl" target="_self" title="ckoud VDS Russia" style="text-decoration: none; color: black;">
                        netherlands
                    </a>
                </div>
                <div class="b-dedicated__switch-item">/</div>
                <div class="b-dedicated__switch-item active  flag_ru">
                    russia
                </div>
            </div>
            <br>
        </div>

        <div id="scroll-anchor-01" class="scroll-anchor-01"></div>
        <div style="float: left; width: 100%; box-sizing: border-box; padding: 0px; background: #fff;" class="b-text-page__box">
            <h3 style="overflow: hidden;" class="b-text-page__title b-text-page__title_upline_yes">
                WINDOWS VPS
            </h3>
            <div style="float: right; width: 800px; margin: 20px 0 0 0;" class="desc-container-vps">
                <img src="/assets/img/win.jpg" align="left">
                Windows VPS is a copy of your private Windows Server that is running on the cloud.<br>
                You can connect to your Windows Remote Desktop via RDP connection any time.<br>
                Use your Windows VPS to browse anonymously, run specific software like Media Encoding,<br>
                24x7 Forex trading, Game Server or simply host websites that require IIS/ASP support.<br><br>
                It’s like having another computer that is constantly on to fulfill your needs!
            </div>
        </div>

        <table class="b-vps__table">
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_head_yes"></td>
                <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                    <h2 class="b-vps-table__title">VPS Win RU<br>1/1/20</h2>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                    <h2 class="b-vps-table__title">VPS Win RU<br>1/2/20</h2>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                    <h2 class="b-vps-table__title">VPS Win RU<br>2/2/40</h2>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                    <h2 class="b-vps-table__title">VPS Win RU<br>2/4/40</h2>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                    <h2 class="b-vps-table__title">VPS Win RU<br>4/4/80</h2>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                    <h2 class="b-vps-table__title">VPS Win RU<br>4/8/80</h2>
                </td>
            </tr>
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winh1">€5.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winh2">€7.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winh3">€10.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winh4">€15.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winh5">€20.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winh6">€30.00/month</div>
                </td>
            </tr>

            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(1);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(2);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(3);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(4);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(5);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(6);" href="#">BUY</a>
                </td>
            </tr>
            <!-- CPU Cores -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes">CPU Cores</h3>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">2</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">2</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">4</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">4</div>
                </td>
            </tr>
            <!-- RAM -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes">RAM</h3>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 GB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">2 GB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">2 GB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">4 GB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">4 GB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">8 GB</div>
                </td>
            </tr>
            <!-- Disk space -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes">Disk space</h3>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">20 GB SSD</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">20 GB SSD</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">40 GB SSD</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">40 GB SSD</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">80 GB SSD</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">80 GB SSD</div>
                </td>
            </tr>
            <!-- IPv4 Addresses -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes" nowrap>
                    <h3 class="b-vps__table-cell_main_yes">IPv4 Addresses</h3>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1</div>
                </td>
            </tr>
            <!-- Traffic TB (100MBPS) -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes" style="width: 140px;">PREPAID TRAFFIC <span>*</span></h3>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 TB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 TB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 TB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 TB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 TB</div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">1 TB</div>
                </td>
            </tr>
            <!-- OS -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes">OS</h3>
                </td>

                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-os-1" id="os1">
                            <option value="Windows Server 2012 R2" selected="selected">Windows Server 2012 R2</option>
                            <option value="Windows Server 2008 R2">Windows Server 2008 R2</option>
                            <option value="Windows Server 2008 R2 Web">Windows Server 2008 R2 Web</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-os-2" id="os2">
                            <option value="Windows Server 2012 R2" selected="selected">Windows Server 2012 R2</option>
                            <option value="Windows Server 2008 R2">Windows Server 2008 R2</option>
                            <option value="Windows Server 2008 R2 Web">Windows Server 2008 R2 Web</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-os-3" id="os3">
                            <option value="Windows Server 2012 R2" selected="selected">Windows Server 2012 R2</option>
                            <option value="Windows Server 2008 R2">Windows Server 2008 R2</option>
                            <option value="Windows Server 2008 R2 Web">Windows Server 2008 R2 Web</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-os-4" id="os4">
                            <option value="Windows Server 2012 R2" selected="selected">Windows Server 2012 R2</option>
                            <option value="Windows Server 2008 R2">Windows Server 2008 R2</option>
                            <option value="Windows Server 2008 R2 Web">Windows Server 2008 R2 Web</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-os-5" id="os5">
                            <option value="Windows Server 2012 R2" selected="selected">Windows Server 2012 R2</option>
                            <option value="Windows Server 2008 R2">Windows Server 2008 R2</option>
                            <option value="Windows Server 2008 R2 Web">Windows Server 2008 R2 Web</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-os-6" id="os6">
                            <option value="Windows Server 2012 R2" selected="selected">Windows Server 2012 R2</option>
                            <option value="Windows Server 2008 R2">Windows Server 2008 R2</option>
                            <option value="Windows Server 2008 R2 Web">Windows Server 2008 R2 Web</option>
                        </select>
                    </div>
                </td>

            </tr>
            <!-- payment period -->
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_border_yes" nowrap>
                    <h3 class="b-vps__table-cell_main_yes">payment TERM</h3>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-period-1" id="vm_template1" onchange="changeSum(1, this.value);">
                            <option value="monthly" selected="selected">monthly</option>
                            <option value="quarterly">quarterly - 3%</option>
                            <option value="semiannually">semiannually - 6%</option>
                            <option value="annually">annually - 12%</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-period-2" id="vm_template2" onchange="changeSum(2, this.value);">
                            <option value="monthly" selected="selected">monthly</option>
                            <option value="quarterly">quarterly - 3%</option>
                            <option value="semiannually">semiannually - 6%</option>
                            <option value="annually">annually - 12%</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-period-3" id="vm_template3" onchange="changeSum(3, this.value);">
                            <option value="monthly" selected="selected">monthly</option>
                            <option value="quarterly">quarterly - 3%</option>
                            <option value="semiannually">semiannually - 6%</option>
                            <option value="annually">annually - 12%</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-period-4" id="vm_template4" onchange="changeSum(4, this.value);">
                            <option value="monthly" selected="selected">monthly</option>
                            <option value="quarterly">quarterly - 3%</option>
                            <option value="semiannually">semiannually - 6%</option>
                            <option value="annually">annually - 12%</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-period-5" id="vm_template5" onchange="changeSum(5, this.value);">
                            <option value="monthly" selected="selected">monthly</option>
                            <option value="quarterly">quarterly - 3%</option>
                            <option value="semiannually">semiannually - 6%</option>
                            <option value="annually">annually - 12%</option>
                        </select>
                    </div>
                </td>
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item  bal" name="tbl-period-6" id="vm_template6" onchange="changeSum(6, this.value);">
                            <option value="monthly" selected="selected">monthly</option>
                            <option value="quarterly">quarterly - 3%</option>
                            <option value="semiannually">semiannually - 6%</option>
                            <option value="annually">annually - 12%</option>
                        </select>
                    </div>
                </td>
            </tr>

            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winf1">€5.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winf2">€7.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winf3">€10.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winf4">€15.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winf5">€20.00/month</div>
                </td>
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" id="winf6">€30.00/month</div>
                </td>
            </tr>
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(1);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(2);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(3);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(4);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(5);" href="#">BUY</a>
                </td>
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy" onclick="return saleBuy(6);" href="#">BUY</a>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div class="more-ref"><span>*</span> 1 TB of outgoing traffic is included in your monthly plan, excess traffic usage
                        will be charged at rate of €5 per TB extra.</div>
                </td>
            </tr>
        </table>
        <div class="b-dedicated__free">
            <div class="b-dedicated-try__line">
                <span class="b-vps__try-line-text">Try before you buy</span>
            </div>
            <div class="b-dedicated__free-title" href="#">Take our servers<br/> for a<br/> test drive!</div>
            <div class="b-dedicated__free-period"></div>
            <a id="Mainblock_contact" class="b-submit b-dedicated__free-submit" href="/support/faq">Be the judge</a>
        </div>

        <div class="need-more-resousrses">
            <span class="b-vps__try-line-text need-more-resousrses-container-zag" data_id_need="need_more">need more information?</span>
            <div class="need-more-resousrses-container-header-triangle-white" data_id_need_triangle="need_more"></div>
        </div>
        <div class="need-more-resousrses-container">
            {foreach ( $need_more as $keu => $val )}
            <div class="need-more-resousrses-container-header">
                <div class="need-more-resousrses-container-zag" data_id_need="{$val['ID']}">{$val['Head']}</div>
                <div class="need-more-resousrses-container-header-triangle" data_id_need_triangle="{$val['ID']}"></div>
            </div>

            <div class="need-more-resousrses-container-messager" data_id_need_content_position="{$val['ID']}">{$val['Description']}</div>
            {/foreach}
        </div>
        <div style="clear:both;"></div>




    </div>

    <div class="footer-push"></div>
</div>

<input type="hidden" id="win1" value="5.00">
<input type="hidden" id="win2" value="7.00">
<input type="hidden" id="win3" value="10.00">
<input type="hidden" id="win4" value="15.00">
<input type="hidden" id="win5" value="20.00">
<input type="hidden" id="win6" value="30.00">

<script>
    var periodDiscountArr = {
        monthly: 0,
        quarterly: 0.03,
        semiannually: 0.06,
        annually: 0.12
    };
    var periodMonth = {
        monthly: 'month',
        quarterly: 'quarter',
        semiannually: 'half-year',
        annually: 'year'
    };
    var periodArr = {
        monthly: 1,
        quarterly: 3,
        semiannually: 6,
        annually: 12
    };
    function changeSum(id, period)
    {
        var price = document.getElementById("win"+id);
        var sum = price.value;
        if ( 0 < periodDiscountArr[period] )
        {
            sum = price.value - ( price.value * periodDiscountArr[period] );
        }

        sum = Math.round(sum * periodArr[period] * 100) / 100;

        var obj = document.getElementById("winh"+id);
        obj.innerHTML = '€' + sum + '/' + periodMonth[period];
        obj = document.getElementById("winf"+id);
        obj.innerHTML = '€' + sum + '/' + periodMonth[period];
    }
    function saleBuy(id)
    {
        var period = document.getElementById("vm_template"+id).value;
        var os = document.getElementById("os"+id).value;

        var order = {};
        order['groups'] = 'RU';
        order['period'] = period;
        order['preset'] = id;
        order['os'] = os;

        jQuery.post("/api/v1/vps/order", order,
                function (data) {
                    if (data) {
                        if (data['ErrorStatus'] == true ) {
                            alert(data['Message']);
                            return;
                        }
                        var str = "https://bill.hostkey.com/cart.php?a=add&currency=" + data['Content']['currencyId'] + "&pid=555";
                        str += "&configoption[800]=" + data['Content']['OptionID'];
                        str += "&billingcycle="+period+"&customfield[310]=" + data['Content']['Configuration'];
                        window.console.log(str);
                        document.location = str;
                    } else {
                        alert('Error order create');
                    }
                });
        return false;
    }
</script>

<style>
    .need-more-resousrses {
        background-color: #945ae0;
        box-sizing: border-box;
        padding:  20px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        width: 100%;
        margin: 20px 0 0 0;
        text-decoration: none;
    }
    .need-more-resousrses-container {
        display: none;
        background-color: #fff;
        width: 100%;
        padding: 0 0 20px 0;
    }
    .need-more-resousrses-container-messager {
        display: none;
        margin: 0 75px 20px;
    }
    .need-more-resousrses-container-header{
        padding: 20px 75px;
        font-size: 20px;
        color: #945ae0;
        cursor: pointer;
        margin: 1px;
    }
    .need-more-resousrses-container-zag {
        display: inline-block;
        border-bottom: 1px dashed;
    }
    .need-more-resousrses-container-header-triangle {
        display: inline-block;
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #945ae0; /* Добавляем треугольник */
        position: relative;
        top: 8px;
        left: 0;
    }
    .need-more-resousrses-container-header-triangle-white {
        display: inline-block;
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #fff; /* Добавляем треугольник */
        position: relative;
        top: 8px;
        left: 0;
    }
    h3 span {
        color: red;
    }
</style>

<script>
    $(document).ready(function (){


        $( '.need-more-resousrses').bind( 'click', function(){
            $( ".need-more-resousrses-container" ).toggle();
        });

        $( '.need-more-resousrses-container-zag' ).bind( 'click', function(){
            var id = $( this).attr( 'data_id_need');
            var d = $( '[data_id_need_content_position="' + id + '"]');
            var t= $( '[data_id_need_triangle="' + id + '"]');
            d.toggle();
            t.css( 'border', '10px solid transparent' );
            if ( t.css( 'top') == '0px' ){
                t.css({
                    "border-top": "10px solid",
                    "top": "8px"
                });
            } else {
                t.css( {
                    "border-bottom": "10px solid",
                    "top": "0px"
                } );
            }

        });
    });
</script>