
<div class="b-page">

    <div class="b-page__promo b-page__promo_vps_yes">
        <div onclick="$.scrollTo('#calc', 1000, { offset:-90 })" class="b-icon b-page__scroll-icon"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>

    </div>


    <div class="b-vps">
        <h3 class="b-dedicated__title">
            CONTAINER VPS<br>
            FEATURE
        </h3>
        <div class="b-vps__feature b-container">
            <div class="b-vps__feature-item">
                <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-01.png" alt="иконка">
                <h3 class="b-vps__feature-item-title">
                    Ready in minutes
                </h3>
                <p class="b-vps__feature-item-text">
                    We start preparing your server while you order. Pay and play.
                </p>
            </div>
            <div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-02.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                Nothing gets lost
            </h3>
            <p class="b-vps__feature-item-text">
                All your actions while managing your server are fully backed up and can be instantly restored without contacting the support team
            </p>
        </div>
            <div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-03.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                Perfection achievable
            </h3>
            <p class="b-vps__feature-item-text">
                You get an unlimited number of reinstalls and a huge number of OS presets
            </p>
        </div>
            <div class="b-vps__feature-item">
            <img class="b-vps__feature-item-icon" src="/assets/img/vps-icons-04.png" alt="иконка">
            <h3 class="b-vps__feature-item-title">
                You’re the boss!
            </h3>
            <p class="b-vps__feature-item-text">
                Full administrative access to your server. No catch.
            </p>
        </div>

            <div class="switch_country_for_container_VPS" id="calc">
                {if ( true )}
                <div  class="b-dedicated__switch-item active  flag_nl">
                    netherlands
                </div>
                <div class="b-dedicated__switch-item">/</div>
                <div class="b-dedicated__switch-item  flag_ru">
                    <a href="/cloud/vps/russia#ru" target="_self" title="ckoud VDS Russia>">
                        russia
                    </a>
                </div>
                {else}
                <div  class="b-dedicated__switch-item  flag_nl">
                    <a href="/cloud/vps#nl" target="_self" title="ckoud VDS Russia>">
                        netherlands
                    </a>
                </div>
                <div class="b-dedicated__switch-item">/</div>
                <div class="b-dedicated__switch-item active  flag_ru">
                    russia
                </div>
                {/if}
            </div>

        </div>




        <div class="b-dedicated__back" style="display: none;">
            <a href="#" class="b-dedicated__back-text" id="calc-breadcrambs-back">
                <span class="b-icon b-dedicated__back-icon"></span>
                back
            </a>
<!--
            <div class="b-dedicated__back-breadcrumbs">
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_disable" id="Service">Service</div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_separate_yes"></div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_active" id="Options">Options</div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_disable b-dedicated__back-breadcrumbs-item_separate_yes"></div>
                <div class="b-dedicated__back-breadcrumbs-item ">Payment</div>
            </div>

        -->

        </div>


        <div id="scroll-anchor-01" class="scroll-anchor-01"></div>
        <div style="float: left; width: 100%; box-sizing: border-box; padding: 0px; background: #fff;" class="b-text-page__box">
            <h3 style="overflow: hidden;" class="b-text-page__title b-text-page__title_upline_yes">
                Container VPS configurator
            </h3>
            <div style="float: right; width: 800px; margin: 20px 0 0 0;" class="desc-container-vps">
                VPS (Virtual Private Server) — friendly VPS. You can make use of all the features of VPS via the intuitive interface. You get full root access and the ability to configure and manage the virtual private server with ease.
                <br/>VPS are deployed on Proxmox platform and OpenVZ virtualization technology.
                VPS will be ready in minutes from the moment the order is paid for.

            </div>
        </div>

        <table class="b-vps__table" data_id="Service">
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell b-vps__table-cell_head_yes"></td>
                {foreach ( $configuration as $key => $value)}
                    <td class="b-vps__table-cell b-vps__table-cell_head_yes">
                        <h2 class="b-vps-table__title">{$value['name']}</h2>
                       <!-- <div class="b-vps-table__subtitle">{$value['value']}</div>-->
                    </td>
                {/foreach}
            </tr>
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" data_summa_preset="{$key}">€{$value['summ']}/month</div>
                </td>
                {/foreach}
            </tr>

            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                {foreach ( $configuration as $key => $value)}
                        <td class="b-vps__table-cell">
                            <a class="b-vps-table__buy" href="#" data_preset="{$key}" data_name="Container_VPS">BUY</a>
                        </td>
                {/foreach}

            </tr>

            {foreach ( $table_row_data as $key => $value)}
                <tr class="b-vps__table-row">
                    <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                        <h3 class="b-vps__table-cell_main_yes">{$key}</h3>
                    </td>
                    {foreach ( $value as $k => $v)}
                    <td class="b-vps__table-cell b-vps__table-cell_border_yes">



                        {if ( 'Backups Limit' == $key )}
                        <div class="b-vps-table__text">
                            <select class="table-select__item  bal" name="tbl-selectVM-{$k}" id="vm_template{$k}" data_preset="{$k}">
                                {foreach ( $arr_Backups_Limit[key($arr_Backups_Limit)] as $key_arr_select => $val_arr_select )}
                                {if ( $val_arr_select['name'] == $v['name'] )}
                                <option value="{$val_arr_select['id']}" selected="selected">{$val_arr_select['name']}
                                    {if ($val_arr_select['monthly'] != '0.00' )}
                                    ({$val_arr_select['monthly']})
                                    {/if}
                                </option>
                                {else}
                                <option value="{$val_arr_select['id']}">{$val_arr_select['name']}
                                    {if ($val_arr_select['monthly'] != '0.00' )}
                                    ({$val_arr_select['monthly']})
                                    {/if}
                                </option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                        {else}

                        {if ( 'VM Template' == $key )}
                        <div class="b-vps-table__text">
                            <select class="table-select__item  vm" name="tbl-selectVM-{$k}" id="vm_template{$k}" data_preset="{$k}">
                                {foreach ( $arr_VM_Template[key($arr_VM_Template)] as $key_arr_select => $val_arr_select )}
                                {if ( $val_arr_select['name'] == $v['name'] )}
                                     <option value="{$val_arr_select['id']}" selected="selected">{$val_arr_select['name']}
                                     {if ($val_arr_select['monthly'] != '0.00' )}
                                            ({$val_arr_select['monthly']})
                                     {/if}
                                     </option>
                                {else}
                                <option value="{$val_arr_select['id']}">{$val_arr_select['name']}
                                    {if ($val_arr_select['monthly'] != '0.00' )}
                                            ({$val_arr_select['monthly']})
                                    {/if}

                                </option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                        {else}
                            <div class="b-vps-table__text">{$v['name']}</div>
                        {/if}
                        {/if}
                    </td>
                    {/foreach}
                    </tr>
            {/foreach}

            <tr class="b-vps__table-row">

                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <h3 class="b-vps__table-cell_main_yes">payment term</h3>
                </td>
                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell b-vps__table-cell_border_yes">
                    <div class="b-vps-table__text">
                        <select class="table-select__item js-select-test" name="tbl-select-{$key}" id="payment{$key}" data_preset="{$key}">
                            {foreach ($payment_period as $k => $v)}
                            <option value="{$k}"
                                    {if ( 0== $v )} selected="selected"{/if}>{$k}{if ($v>0)} - {$v}%{/if}
                            </option>
                            {/foreach}
                        </select>

                    </div>
                </td>
                {/foreach}

            </tr>

            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>
                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell">
                    <div class="b-vps-table__price" data_summa_preset="{$key}">€{$value['summ']}/month</div>
                </td>
                {/foreach}
            </tr>
            <tr class="b-vps__table-row">
                <td class="b-vps__table-cell"></td>

                {foreach ( $configuration as $key => $value)}
                <td class="b-vps__table-cell">
                    <a class="b-vps-table__buy  preset-buy" href="#" data_preset="{$key}" data_name="Container_VPS">BUY</a>
                </td>
                {/foreach}
            </tr>
        </table>

        <table class="b-vps__table" data_id="Options" style="display: none;">
            <tr>
                <td valign="top">
                    <!--<h3 style="text-align: center;">Additional services and service options</h3>-->
                    <iframe id="configure_cloud_VDS" src="" name="configure_cloud_VDS"></iframe>
                </td>
                <td>
                    {#{include "Shop_Step2"}#}
                </td>
            </tr>
        </table>

        <div class="b-dedicated__free">
            <div class="b-dedicated-try__line">
                <span class="b-vps__try-line-text">Try before you buy</span>
            </div>
            <a class="b-dedicated__free-title" href="#">Request<br>a free<br>test drive</a>
            <div class="b-dedicated__free-period"></div>
            <a class="b-submit b-dedicated__free-submit" href="/about/contacts">contact us</a>
        </div>

        <!--
        <div class="b-vps__try">
            <div class="b-vps__try-line">
                <span class="b-vps__try-line-text">need more resourses?</span>
            </div>
            <h3 class="b-vps__try-title">Try our<br>vds plan</h3>
            <p class="b-vps__try-text"><span class="b-vps__try-text_purpur_yes">starts from 300 eur / month</span><br>or configurate your own</p>
            <a class="b-submit b-vps__try-submit" href="#">see plans</a>
        </div>
        -->

        <div class="need-more-resousrses">
            <span class="b-vps__try-line-text need-more-resousrses-container-zag" data_id_need="need_more">need more information?</span>
            <div class="need-more-resousrses-container-header-triangle-white" data_id_need_triangle="need_more"></div>
        </div>
        <div class="need-more-resousrses-container">
            {foreach ( $need_more as $keu => $val )}
            <div class="need-more-resousrses-container-header">
                <div class="need-more-resousrses-container-zag" data_id_need="{$val['ID']}">{$val['Head']}</div>
                <div class="need-more-resousrses-container-header-triangle" data_id_need_triangle="{$val['ID']}"></div>
            </div>

              <div class="need-more-resousrses-container-messager" data_id_need_content_position="{$val['ID']}">{$val['Description']}</div>
            {/foreach}
        </div>
        <div style="clear:both;"></div>
    </div>

    <div class="footer-push"></div>
</div>
<style>
    .need-more-resousrses {
        background-color: #945ae0;
        box-sizing: border-box;
        padding:  20px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        width: 100%;
        margin: 20px 0 0 0;
    }
    .need-more-resousrses-container {
        display: none;
        background-color: #fff;
        width: 100%;
        padding: 0 0 20px 0;
    }
    .need-more-resousrses-container-messager {
        display: none;
        margin: 0 0 20px 20px;
    }
    .need-more-resousrses-container-header{
        padding: 20px;
        font-size: 20px;
        color: #945ae0;
        cursor: pointer;
        margin: 1px;
    }
    .need-more-resousrses-container-zag {
        display: inline-block;
        text-decoration: underline;
    }
    .need-more-resousrses-container-header-triangle {
        display: inline-block;
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #945ae0; /* Добавляем треугольник */
        position: relative;
        top: 8px;
        left: 0;
    }
    .need-more-resousrses-container-header-triangle-white {
        display: inline-block;
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #fff; /* Добавляем треугольник */
        position: relative;
        top: 8px;
        left: 0;
    }
</style>
<script>
    $(document).ready(function (){


        $( '.need-more-resousrses').bind( 'click', function(){
            $( ".need-more-resousrses-container" ).toggle();
        });

        $( '.need-more-resousrses-container-zag' ).bind( 'click', function(){
            var id = $( this).attr( 'data_id_need');
            var d = $( '[data_id_need_content_position="' + id + '"]');
            var t= $( '[data_id_need_triangle="' + id + '"]');
            d.toggle();
            t.css( 'border', '10px solid transparent' );
            if ( t.css( 'top') == '0px' ){
                t.css({
                    "border-top": "10px solid",
                    "top": "8px"
            });
            } else {
               t.css( {
                    "border-bottom": "10px solid",
                    "top": "0px"
        } );
            }

        });


        var Zakaz = new Object();
        var ZakazY = new Object();


        var currency = {
            "2": "€",
            "1": "RUR",
            "3": "$"
        };
        var currencyID = {$currencyId};

        var VM_Template = {json_encode($arr_VM_Template)};
        var Bandwidth_Limit = {json_encode($arr_Bandwidth_Limit)};
        var Backups_Limit = {json_encode($arr_Backups_Limit)};

        var Table_Row = {json_encode($table_row_data)};


        var listOfProducts = new Object();
        var listOfProducts = {json_encode($configuration)};
        listOfProducts.payment = {
            "name": "payment",
            "hidden": "0",
            "data": {
                "0": {
                    "name": "monthly",
                    "discount": "0",
                    'period': "month",
                    'month': 1
                },
                "1": {
                    "name": "quarterly",
                    "discount": "3",
                    "period": "quarter",
                    'month': 3
                },
                "2": {
                    "name": "semiannually",
                    "discount": "6",
                    "period": "half-year",
                    'month': 6
                },
                "3": {
                    "name": "annually",
                    "discount": "12",
                    "period": "year",
                    'month': 12
                }
            }
        };



        var $eventSelect = $(".js-select-test");
        var $eventSelectVM = $(".vm");
        var $eventSelectBWL = $(".bwl");
        var $eventSelectBAL = $(".bal");


        $('.preset-buy').each(function () {
            var preset_number = $( this ).attr( 'data_preset' );
            ZakazY[preset_number] = window.startZakaz ( 0, listOfProducts[preset_number][0] );
            if( Table_Row['VM Template'][preset_number].id  != "NONE"){
            } else {

            }

            window.set_payment_for_preset( ZakazY[preset_number], listOfProducts, 0 );
        });


        $eventSelect.on("change", function (e) {
            var payment_period = $( this ).select2("val");
            var preset_number =e.target.getAttribute('data_preset');
            for( var prop in listOfProducts.payment.data ) {
                if ( listOfProducts.payment.data[prop].name == payment_period ) {
                    window.set_payment_for_preset( ZakazY[preset_number], listOfProducts, prop);
                    Zakaz = ZakazY[preset_number];
                    var p = window.SumUpResultZakaz( Zakaz );
                    p = currency[currencyID] +p + "/" + Zakaz.payment.data[0].period;
                    $( '[data_summa_preset=' + preset_number + ']').html( p );
                    window.ToStringJSON ( Zakaz );
                }
            }
        });


        $eventSelectVM.on("change", function (e) {
            var id_vm_template = $( this ).select2("val");
            var preset_number = e.target.getAttribute('data_preset');
            ZakazY[preset_number][{key($arr_VM_Template)}]['data']['0'] = window.AddOptionToZakaz( VM_Template, id_vm_template );
            Zakaz = ZakazY[preset_number];
            var p = window.SumUpResultZakaz( Zakaz );
            p = currency[currencyID] +p + "/" + Zakaz.payment.data[0].period;
            $( '[data_summa_preset=' + preset_number + ']').html( p );
            window.ToStringJSON ( Zakaz );

        });

        $eventSelectBWL.on("change", function (e) {
            var id_vm_template = $( this ).select2("val");
            var preset_number = e.target.getAttribute('data_preset');
            ZakazY[preset_number][{key($arr_Bandwidth_Limit)}]['data']['0'] = window.AddOptionToZakaz( Bandwidth_Limit, id_vm_template );
            Zakaz = ZakazY[preset_number];
             var p = window.SumUpResultZakaz( Zakaz );
            p = currency[currencyID] +p + "/" + Zakaz.payment.data[0].period;
             $( '[data_summa_preset=' + preset_number + ']').html( p );
            window.ToStringJSON ( Zakaz);

        });

        $eventSelectBAL.on("change", function (e) {
            var id_vm_template = $( this ).select2("val");
            var preset_number = e.target.getAttribute('data_preset');
            ZakazY[preset_number][{key($arr_Backups_Limit)}]['data']['0'] = window.AddOptionToZakaz( Backups_Limit, id_vm_template );
            Zakaz = ZakazY[preset_number];
             var p = window.SumUpResultZakaz( Zakaz );
            p = currency[currencyID] +p + "/" + Zakaz.payment.data[0].period;
             $( '[data_summa_preset=' + preset_number + ']').html( p );
            window.ToStringJSON ( Zakaz );

        });



        var CoocieObjZakazContainer = new Object();
        CoocieObjZakazContainer.type = '';
        CoocieObjZakazContainer.select = '';
        CoocieObjZakazContainer.Zakaz = new Object();


        document.getElementById('configure_cloud_VDS').src = "/assets/clear/index.html";

        $('.b-vps-table__buy').bind('click', function () {
            var name_kyki = $( this).attr( 'data_name' );

              var PRESET_ID = $( this).attr( 'data_preset' );
              for( var prop in listOfProducts ) {
                    if( prop == PRESET_ID ) {
                        Zakaz = ZakazY[prop];
                    }
              }

            CoocieObjZakazContainer.type = name_kyki;
            CoocieObjZakazContainer.select = 'options';
            CoocieObjZakazContainer.Zakaz = Zakaz;

            if ( name_kyki !== 'undefined' ){
                $.cookie( name_kyki, JSON.stringify( CoocieObjZakazContainer ) );
            } else {
                $.removeCookie( name_kyki );
                $.cookie( name_kyki , JSON.stringify( CoocieObjZakazContainer ) );
            }
            $( '#calc').hide( 'slow' );
            $( '.b-dedicated__back').show( 'slow' );
            $( '.b-page__promo_vps_yes').hide( 'slow' );
            $( '.b-vps__feature').hide( 'slow');
            $( '[data_id=Options]').show( 'slow');
            $( '[data_id=Service]').hide( 'slow');
            $( '.b-dedicated__summary-title').text( 'Your Solution');
            $( '.b-dedicated__title').hide( 'slow');
            $( '#scroll-anchor-01').hide( 'slow');
            $( '.b-text-page__title ').hide( 'slow');
            $( '.desc-container-vps').hide( 'slow');
            $( '.b-dedicated__summary-table-cel').text( Zakaz.payment.data[0].name );
            $.scrollTo(0, 1000);
              crFrame( );
              return false;
        });

        $( '#calc-breadcrambs-back').bind('click', function(){
            $( '#calc').show( 'slow' );
            $( '.b-dedicated__back').hide( 'slow' );
            $( '.b-page__promo_vps_yes').show( 'slow' );
            $( '.b-vps__feature').show( 'slow');
            $( '[data_id=Options]').hide( 'slow');
            $( '[data_id=Service]').show( 'slow');
            $( '.b-dedicated__title').show( 'slow');
            $( '#scroll-anchor-01').show( 'slow');
            $( '.b-text-page__title ').show( 'slow');
            $( '.desc-container-vps').show( 'slow');
            $.scrollTo('#calc', 1000, { offset:-1100 });
            document.getElementById('configure_cloud_VDS').src = "/assets/clear/index.html";
            return false;
        });

        function crFrame( )
        {
            document.getElementById('configure_cloud_VDS').src = 'https://bill.hostkey.com/cart.php?systpl=siteF&a=add&pid={$PID}&carttpl=cartF&currency=2&'
                    + generate_post ( Zakaz ) ;
        }





    });


</script>
<style>
    .b-vds-cloud__summary-table-cell {
        vertical-align: middle;
    }

    #add_iframe_from_billing {
        display: block;
    }


    #configure_cloud_VDS {
        border: none;
        display: block;
        width: 100%;
        height: 1000px;
        margin: 0 auto;
    }

    .popup_callback { width: 700px; height: 700px; margin: -225px 0 0 -350px; }

    .popup { display: none; position: relative; background: #fff; position: fixed; z-index: 100000; top: 40%; left: 50%; }

    .popup h2{ width: 100%; display: block; font: bold 24px KievitOT,Arial; color: #171819; text-transform: uppercase; text-align: center; margin: 45px auto 60px auto; }


    .switch_country_for_container_VPS {
        display: block;
        padding: 50px 0 20px 385px;
        background: none;
    }
    .switch_country_for_container_VPS a{
        color: #000;
        text-decoration: none;
    }
</style>