
.b-slider__legend-1 {
    position: relative;
    height: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.b-slider__legend-5 {
    position: relative;
    height: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.b-slider__legend-5-item {
    position: absolute;
    top: 20px;
    width: 80px;
    color: #945ae0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.b-slider__legend-5-item:after {
    content: '|';
    position: absolute;
    top: -13px;
    left: 50%;
    font-size: 8px;
    line-height: 12px;
    margin-left: -2px;
}

.b-slider__legend-5-item_place_1 {
    left: 0;
    margin-left: -20px;
}

.b-slider__legend-5-item_place_2 {
    left: 25%;
    margin-left: -34px;
}

.b-slider__legend-5-item_place_2:after {
    margin-left: -2px;
}

.b-slider__legend-5-item_place_3 {
    left: 50%;
    margin-left: -34px;
}

.b-slider__legend-5-item_place_3:after {
    margin-left: -2px;
}

.b-slider__legend-5-item_place_4 {
    left: 75%;
    margin-left: -35px;
}

.b-slider__legend-5-item_place_4:after {
    margin-left: -2px;
}

.b-slider__legend-5-item_place_5 {
    left: 100%;
    margin-left: -55px;
}

.b-slider__legend-5-item_place_5:after {
    margin-left: -2px;
}

.b-slider__legend-7 {
    position: relative;
    height: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.b-slider__legend-7-item {
    position: absolute;
    top: 20px;
    width: 80px;
    color: #945ae0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.b-slider__legend-7-item:after {
    content: '|';
    position: absolute;
    top: -13px;
    left: 50%;
    font-size: 8px;
    line-height: 12px;
    margin-left: -2px;
}

.b-slider__legend-7-item_place_1 {
    left: 0;
    margin-left: -20px;
}

.b-slider__legend-7-item_place_2 {
    left: 17%;
    margin-left: -36px;
}

.b-slider__legend-7-item_place_2:after {
    margin-left: -2px;
}

.b-slider__legend-7-item_place_3 {
    left: 34%;
    margin-left: -40px;
}

.b-slider__legend-7-item_place_3:after {
    margin-left: -2px;
}

.b-slider__legend-7-item_place_4 {
    left: 51%;
    margin-left: -42px;
}

.b-slider__legend-7-item_place_4:after {
    margin-left: -2px;
}

.b-slider__legend-7-item_place_5 {
    left: 68%;
    margin-left: -45px;
}

.b-slider__legend-7-item_place_5:after {
    margin-left: -2px;
}

.b-slider__legend-7-item_place_6 {
    left: 85%;
    margin-left: -48px;
}

.b-slider__legend-7-item_place_6:after {
    margin-left: -2px;
}

.b-slider__legend-7-item_place_7 {
    left: 100%;
    margin-left: -55px;
}

.b-slider__legend-7-item_place_7:after {
    margin-left: -2px;
}



.b-slider__legend-9 {
    position: relative;
    height: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}

.b-slider__legend-9-item {
    position: absolute;
    top: 20px;
    width: 80px;
    color: #945ae0;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.b-slider__legend-9-item:after {
    content: '|';
    position: absolute;
    top: -13px;
    left: 50%;
    font-size: 8px;
    line-height: 12px;
    margin-left: -2px;
}

.b-slider__legend-9-item_place_1 {
    left: 0;
    margin-left: -20px;
}

.b-slider__legend-9-item_place_2 {
    left: 12.5%;
    margin-left: -34px;
}

.b-slider__legend-9-item_place_2:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_3 {
    left: 25%;
    margin-left: -35px;
}

.b-slider__legend-9-item_place_3:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_4 {
    left: 37.5%;
    margin-left: -35px;
}

.b-slider__legend-9-item_place_4:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_5 {
    left: 50%;
    margin-left: -35px;
}

.b-slider__legend-9-item_place_5:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_6 {
    left: 62.5%;
    margin-left: -35px;
}

.b-slider__legend-9-item_place_6:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_7 {
    left: 75%;
    margin-left: -36px;
}

.b-slider__legend-9-item_place_7:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_8 {
    left: 87.5%;
    margin-left: -36px;
}

.b-slider__legend-9-item_place_8:after {
    margin-left: -2px;
}

.b-slider__legend-9-item_place_9 {
    left: 100%;
    margin-left: -55px;
}

.b-slider__legend-9-item_place_9:after {
    margin-left: -2px;
}
