{if ( count($newsList) > 0)}
  <div class="b-main-page__news">
    <h2 class="b-main-page__title b-main-page__title_upline_yes">
        news
    </h2>
      <div class="b-main-page__news-list">

        {foreach ( $newsList as $key => $val )}
          <div class="b-main-page__news-item">
              <div class="b-main-page__news-item-title">
                  HOSTKEY finally deployed
                  HYPER-V cluster in our NL facility and proud to offer reliable
                  Windows hosts.
              </div>
              <div class="b-main-page__news-item-date b-main-page__news-item-date_first_yes">10.04.2015</div>
              <p class="b-main-page__news-item-text">
                  We would like to inform you that the European Directive 2002/38/EC has introduced new VAT rules involving business to consumer supplies of digital services, which came into force on the 1st January 2015.
              </p>
          </div>
        {/foreach}
      </div>
    </div>
  {/if}
<script>
    // Начальная загрузка области Special offers
    $.getJSON('/api/v1/shop/domains/zone/list?groups=promo', function (data) {
        var items = data['Content'],
                readyPromo = '',
                sum = items.length;

        if (sum > 4) {
            sum = 4;
            $('b-main-page__news-item').css("display", "block");
        }
        for (a = 0; a < sum; a++) {
            var name = items[a].Name,
                    img = '<img src="/upload/data/' + items[a].Img + '" title="' + name + '"/>',
                    imgFlag = items[a].Img,
                    price = items[a].PriceRegister,
                    comment = (!!items[a].Comment) ? ((items[a].Comment).stripTags()) : '',
                    slicedComment = comment.slice(0, 90);

            if (slicedComment.length < comment.length) {
                slicedComment += '...';
                comment = slicedComment;
            }

            var priceold = items[a].PriceOld;
            readyPromo += '<label class="fake-checkbox-label domains-check__item">' +
                    '<h3 class="domains-check__item-title">' + (imgFlag != null ? img : name) + '</h3>' +
                    '<div class="domains-check__item-text">' + comment + '</div>' +
                    '<div class="domains-check__item-price">' +
                    '<div class="domains-check__item-price-new"> €' + price + '</div>' +
                    '<div class="domains-check__item-price-old"> €' + priceold + '</div>' +
                    '</div>' +
                    '<span class="fake-checkbox-label__box js-check"></span><input data-name="' + name + '" class="hidden-input" name="check-1" type="checkbox"/>' +
                    '<div class="domains-check__item-register">register</div><div class="domains-check__item-order">order</div>' +
                    '</label>';

        }
        AddData('.domains-check__row', readyPromo, 'add');
    });

    // Вывод полного списка доменных зон в область под поиском
    $('.b-main-page__news-item').on('click', '', function () {
        var self = $(this);
        $.getJSON('/api/v1/shop/domains/zone/list?groups=top100', function (data) {
            var items = data['Content'];
            var ready = '';
            var iter = i + 6;
            if (items.length <= iter) {
                iter = items.length;
                self.hide();
            }
            for (i; i < iter; i++) {
                var name = items[i].Name;
                var price = items[i].PriceRegister;
                ready += '<label class="domain-zone__item" for="regular_check-' + i + '">' +
                        '<span class="domain-zone__item-title">' + name + '</span><br>' +
                        '<input data-name="' + name + '" class="hidden-input" name="check-' + i + '" type="checkbox" id="regular_check-' + i + '"/>' +
                        '<span class="domain-zone__item-price">€' + price + '</span>' +
                        '</label>';
            }
            AddData('.domain-zone', ready, 'append');
        });
        return false;
    });
</script>