<div class="b-page">

    <div class="b-page__promo b-page__promo_news_yes">
        <div class="b-icon b-page__scroll-icon" onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$H1}</h1>
    </div>

    <div class="b-news">
        <div class="b-news__list" id="scroll-anchor-01">
            {foreach ($newsList1 as $key => $row)}
            <div class="b-news__item" onClick="clickNews({$row['ID']}, {$row['IsDetails']});">
                <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
                {if ( $row['Name'] )}
                <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
                <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">{$row['Name']}</p>
                {else}
                <div class="b-news__item-separate"></div>
                <p class="b-news__item-text news-height-anons-block">{$row['Name']}</p>
                {/if}
                <p class="b-news__item-text news-height-anons-block">
                    {$row['Description']}
                </p>
                {if ( $row['IsDetails'] )}
                <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
                {/if}
            </div>
            {/foreach}
        </div>
        <div class="b-news__list" id="scroll-anchor-02" style="display: none;">
            {foreach ($newsList2 as $key => $row)}
            <div class="b-news__item" onClick="clickNews({$row['ID']}, {$row['IsDetails']});">
                <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
                {if ( $row['Name'] )}
                <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
                <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">{$row['Name']}</p>
                {else}
                <div class="b-news__item-separate"></div>
                <p class="b-news__item-text news-height-anons-block">{$row['Name']}</p>
                {/if}
                <p class="b-news__item-text news-height-anons-block">
                    {$row['Description']}
                </p>
                {if ( $row['IsDetails'] )}
                <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
                {/if}
            </div>
            {/foreach}
        </div>
        <div class="b-news__list" id="scroll-anchor-03" style="display: none;">
            {foreach ($newsList3 as $key => $row)}
            <div class="b-news__item" onClick="clickNews({$row['ID']}, {$row['IsDetails']});">
                <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
                {if ( $row['Name'] )}
                <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
                <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">{$row['Name']}</p>
                {else}
                <div class="b-news__item-separate"></div>
                <p class="b-news__item-text news-height-anons-block">{$row['Name']}</p>
                {/if}
                <p class="b-news__item-text news-height-anons-block">
                    {$row['Description']}
                </p>
                {if ( $row['IsDetails'] )}
                <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
                {/if}
            </div>
            {/foreach}
        </div>
        <div class="b-news__list" id="scroll-anchor-04" style="display: none;">
            {foreach ($newsList4 as $key => $row)}
            <div class="b-news__item" onClick="clickNews({$row['ID']}, {$row['IsDetails']});">
                <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
                {if ( $row['Name'] )}
                <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
                <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">{$row['Name']}</p>
                {else}
                <div class="b-news__item-separate"></div>
                <p class="b-news__item-text news-height-anons-block">{$row['Name']}</p>
                {/if}
                <p class="b-news__item-text news-height-anons-block">
                    {$row['Description']}
                </p>
                {if ( $row['IsDetails'] )}
                <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
                {/if}
            </div>
            {/foreach}
        </div>

        <span class="b-news__more" onclick="lineNewsNext();">
            <div class="b-news__more-plus" style="cursor: pointer;">
                <span class="b-icon b-news__more-plus-icon"></span>
            </div>
            <div class="b-news__more-text" style="cursor: pointer;">more<br>news</div>
        </span>
    </div>

    <div class="footer-push"></div>
</div>
<script>

    var lineNews = 1;
    function clickNews(id, flag) {
        if (flag) {
            document.location.href = '{URL}_'.id;
        }
    }
    function lineNewsNext() {
        lineNews++;
        f = document.getElementById('scroll-anchor-0' + lineNews);

            if (lineNews >= 4) {
                $('.b-news__more-text').text("hide news");


                for (i = lineNews; i > 0; i--) {
                    f = document.getElementById('scroll-anchor-0' + i);
                    if (f !== null) {
                        f.style.display = "none";
                    }
                   
                }
                lineNews = 1;
                $('.b-news__more-text').text("more news");
            }


        if (f !== null) {
            f.style.display = "block";
        }
        return false;
    }


    /*var lineNews = 1;
    function clickNews(id, flag) {
        if (flag) {
            document.location.href = '{URL}_'.id;
        }
    }
    function lineNewsNext() {
        lineNews++;
        f = document.getElementById('scroll-anchor-0' + lineNews);
        if (f !== null) {
            f.style.display = "block";
        }
        return false;
    }*/


</script>
