<div class="b-page">

    <div class="b-page__promo b-page__promo_news_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$H1}</h1>
    </div>


    <div class="b-news">
        <div class="b-news__list" id="scroll-anchor-01">

            {foreach ($newsList1 as $key => $row)}
            <div class="b-news__item"
                 {if ( $row['IsDetails'] )} onClick="javascript: document.location.href='{URL}_{$row['ID']}';" {/if}  {if ( 0 == $key )} style="background: #fff;" {/if}>
            <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
            {if ( $row['Name'] )}
            <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
            <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">
                {else}
            <div class="b-news__item-separate"></div>
            <p class="b-news__item-text news-height-anons-block">
                {/if}
                {$row['Name']}
            </p>
            <p class="b-news__item-text news-height-anons-block">
                {$row['Description']}
            </p>
            {if ( $row['IsDetails'] )}
            <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
            {/if}
        </div>
        {/foreach}
    </div>




    <div class="b-news">
        <div class="b-news__list" id="scroll-anchor-01">

            {foreach ($newsList2 as $key => $row)}
            <div class="b-news__item"
                 {if ( $row['IsDetails'] )} onClick="javascript: document.location.href='{URL}_{$row['ID']}';" {/if}  {if ( 0 == $key )} style="background: #fff;" {/if}>
            <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
            {if ( $row['Name'] )}
            <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
            <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">
                {else}
            <div class="b-news__item-separate"></div>
            <p class="b-news__item-text news-height-anons-block">
                {/if}
                {$row['Name']}
            </p>
            <p class="b-news__item-text news-height-anons-block">
                {$row['Description']}
            </p>
            {if ( $row['IsDetails'] )}
            <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
            {/if}
        </div>
        {/foreach}
    </div>


    <div class="b-news">
        <div class="b-news__list" id="scroll-anchor-01">

            {foreach ($newsList3 as $key => $row)}
            <div class="b-news__item"
                 {if ( $row['IsDetails'] )} onClick="javascript: document.location.href='{URL}_{$row['ID']}';" {/if}  {if ( 0 == $key )} style="background: #fff;" {/if}>
            <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
            {if ( $row['Name'] )}
            <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
            <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">
                {else}
            <div class="b-news__item-separate"></div>
            <p class="b-news__item-text news-height-anons-block">
                {/if}
                {$row['Name']}
            </p>
            <p class="b-news__item-text news-height-anons-block">
                {$row['Description']}
            </p>
            {if ( $row['IsDetails'] )}
            <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
            {/if}
        </div>
        {/foreach}
    </div>

    <div class="b-news">
        <div class="b-news__list" id="scroll-anchor-01">

            {foreach ($newsList4 as $key => $row)}
            <div class="b-news__item"
                 {if ( $row['IsDetails'] )} onClick="javascript: document.location.href='{URL}_{$row['ID']}';" {/if}  {if ( 0 == $key )} style="background: #fff;" {/if}>
            <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
            {if ( $row['Name'] )}
            <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
            <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">
                {else}
            <div class="b-news__item-separate"></div>
            <p class="b-news__item-text news-height-anons-block">
                {/if}
                {$row['Name']}
            </p>
            <p class="b-news__item-text news-height-anons-block">
                {$row['Description']}
            </p>
            {if ( $row['IsDetails'] )}
            <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
            {/if}
        </div>
        {/foreach}
    </div>



    <a class="b-news__more" href="#">
        <div class="b-news__more-plus">
            <span class="b-icon b-news__more-plus-icon"></span>
        </div>
        <div class="b-news__more-text">more<br>news</div>
    </a>


<div class="footer-push"></div>
</div>


<!--<div class="b-page">

            <div class="b-page__promo b-page__promo_news_yes">
                <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
                <h1 class="b-page__promo-title">{$H1}</h1>
            </div>

            <div class="b-news">
                <div class="b-news__list" id="scroll-anchor-01">

                        {foreach ($newsList1 as $key => $row)}
                        <div class="b-news__item"
                             {if ( $row['IsDetails'] )} onClick="javascript: document.location.href='{URL}_{$row['ID']}';" {/if}  {if ( 0 == $key )} style="background: #fff;" {/if}>
                                <div class="b-news__item-date b-news__item-date_first_yes">{$row['Date']}</div>
                               {if ( $row['Name'] )}
                                     <div class="b-news__item-separate b-news__item-separate_red_yes"></div>
                                     <p class="b-news__item-text b-news__item-text_red_yes news-height-title-block">
                               {else}
                                     <div class="b-news__item-separate"></div>
                                     <p class="b-news__item-text news-height-anons-block">
                               {/if}
                                {$row['Name']}
                            </p>
                            <p class="b-news__item-text news-height-anons-block">
                                {$row['Description']}
                            </p>
                            {if ( $row['IsDetails'] )}
                            <a class="b-news__item-detail" href="{URL}_{$row['ID']}">Details</a>
                            {/if}
                        </div>
                        {/foreach}
                </div>

                <a class="b-news__more" href="#">
                    <div class="b-news__more-plus">
                        <span class="b-icon b-news__more-plus-icon"></span>
                    </div>
                    <div class="b-news__more-text">more<br>news</div>
                </a>
            </div>

            <div class="footer-push"></div>
        </div>-->
<!--<script>
    $(document).ready(function(){
        $('a.b-news__more').click(function(){
            $block_div = $(this).parent().children('.b-news-hidden').css("display");

            if ($block_div == "block") {
                $(this).text("more news");
            }
            else
            {
                $(this).text("hide news");
            }
            $(this).parent().children('.b-news-hidden').slideToggle('normal');
            return false;

        });
    });

    </script>-->