.b-text-page__box
    h3.b-text-page__title.b-text-page__title_upline_yes
        | EXTRA PRICE

    .b-dedicated__description
        p
            | HOSTKEY offers own dedicated and virtual servers in various Datacenters in Moscow, Russia. We are first hands for offshore Dedicated servers in Russia since 2008, managing 600+ servers here with 20+ international resellers. Virtually any server configuration could be provided to our customers. We offer full range of modern and stock servers for every task. You could lease Cisco network equipment or collocate your own servers in Moscow.

.b-dedicated__hide-block-close.js-close
    span.b-icon.b-dedicated__hide-block-close-image
    span.b-dedicated__hide-block-close-text hide

div
    .b-container

        //-.dedicated-extra-price__box
            table.dedicated-extra-price__table.dedicated-extra-price__table_type_head
                tr.dedicated-extra-price__table-row
                    td.dedicated-extra-price__table-cell(style="width:300px;")

                    //-td.dedicated-extra-price__table-cell.js-checked
                        .dedicated-extra-price__table-title CPU number
                        label.b-checkbox-submit.b-checkbox-submit_size_70
                            span.b-checkbox-submit__text 1 CPU
                            input.js-checked-submit(name='check-01', type='radio')
                        label.b-checkbox-submit.b-checkbox-submit_size_70
                            span.b-checkbox-submit__text 2 CPU
                            input.js-checked-submit(name='check-01', type='radio')

                    td.dedicated-extra-price__table-cell
                    td.dedicated-extra-price__table-cell(style="width:370px;")
                        .dedicated-extra-price__table-title Sort
                        span(ui-select="filter.sort", options="list.sort", width="280", style="display:inline-block;")
                    //-td.dedicated-extra-price__table-cell
                        button.b-submit.dedicated-extra-price__table-submit(type='button') find

        .dedicated-extra-price__box

            table.dedicated-extra-price__table(ng-table="tableData", show-filter="true")
                thead
                    tr.dedicated-extra-price__table-row.dedicated-extra-price__table-row_title_yes
                        th.dedicated-extra-price__table-cell
                        th.dedicated-extra-price__table-cell.sortable(ng-class="{'sort-asc': tableData.isSortBy('CpuKpd', 'asc'), 'sort-desc': tableData.isSortBy('CpuKpd', 'desc')}", ng-click="tableData.sorting('CpuKpd', tableData.isSortBy('CpuKpd', 'asc') ? 'desc' : 'asc')", style="width:400px;")
                            div processor
                        th.dedicated-extra-price__table-cell.sortable(ng-class="{'sort-asc': tableData.isSortBy('Ram', 'asc'), 'sort-desc': tableData.isSortBy('Ram', 'desc')}", ng-click="tableData.sorting('Ram', tableData.isSortBy('Ram', 'asc') ? 'desc' : 'asc')")
                            div memory
                        th.dedicated-extra-price__table-cell.sortable(ng-class="{'sort-asc': tableData.isSortBy('Hdd', 'asc'), 'sort-desc': tableData.isSortBy('Hdd', 'desc')}", ng-click="tableData.sorting('Hdd', tableData.isSortBy('Hdd', 'asc') ? 'desc' : 'asc')", style="width:200px;")
                            div hard drive
                        th.dedicated-extra-price__table-cell.sortable(ng-class="{'sort-asc': tableData.isSortBy('Raid', 'asc'), 'sort-desc': tableData.isSortBy('Raid', 'desc')}", ng-click="tableData.sorting('Raid', tableData.isSortBy('Raid', 'asc') ? 'desc' : 'asc')", style="width:120px;")
                            div hw raid
                        th.dedicated-extra-price__table-cell.sortable(ng-class="{'sort-asc': tableData.isSortBy('Price', 'asc'), 'sort-desc': tableData.isSortBy('Price', 'desc')}", ng-click="tableData.sorting('Price', tableData.isSortBy('Price', 'asc') ? 'desc' : 'asc')", style="width:240px;")
                            div monthly
                        th.dedicated-extra-price__table-cell.dedicated-extra-price__table-cell_red_yes(style="width:315px;")
                            div price will change after:

                tbody(ng-repeat="s in $data")
                    tr.dedicated-extra-price__table-row
                        td.dedicated-extra-price__table-cell
                            span.b-icon.b-flag(ng-class="{'b-flag_country_nether': s.LocationCode==='NL'}")

                        td.dedicated-extra-price__table-cell(sortable="'CpuKpd'")
                            .dedicated-extra-price__text(ng-bind="s.CpuName")
                            kpd-indicator(cpu-kpd="s.CpuKpd", cpu-kpd-link="s.CpuKpdLink", cpu-cnt="s.CpuCnt")

                        td.dedicated-extra-price__table-cell(sortable="'Ram'")
                            span.dedicated-extra-price__text {{s.Ram}} GB

                        td.dedicated-extra-price__table-cell(sortable="'Hdd'")
                            span(ng-bind-html="s.Hdd")

                        td.dedicated-extra-price__table-cell(sortable="'Hdd'")
                            span.b-icon.dedicated-extra-price__icon-good(ng-if="s.Raid")

                        td.dedicated-extra-price__table-cell(sortable="'Price'")
                            .b-submit.dedicated-item-content__submit(ng-if="s.Price", href="", ng-click="selectSale(s)") {{s.Price|verboseCurrency}}

                        td.dedicated-extra-price__table-cell
                            .black-sale__slider-item-timer(time-to="s.Timer", callback="changePrice(s)")

                    tr.dedicated-extra-price__table-row(ng-if="s.Id === selectedSale.Id")
                        td.dedicated-extra-price__table-cell(colspan="9")
                            div(sale-server-calculator="", sale-server="s")