<div class="b-dedicated__summary" id="scroll-block">
    <div class="b-dedicated__summary-title"></div>
    <table class="b-dedicated__summary-table">
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell" id="Сaption_solution">Monthly Base Price</td>
            <td class="b-dedicated__summary-table-cell" id="Solution_price>€ 759</td>
        </tr>
    </table>
    <div class="b-dedicated__summary-subtitle" id="Caption_OS_PO_solution">Software</div>
    <table class="b-dedicated__summary-table">
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">CentOS 5</td>
            <td class="b-dedicated__summary-table-cell">€ 0</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell" id="PO_solution">
                Parallels Plesk Panel
                12 Web Host
                Edition - Unlimited
                Domains (Linux)
            </td>
            <td class="b-dedicated__summary-table-cell">€ 250</td>
        </tr>
    </table>
    <div class="b-dedicated__summary-subtitle" id="Caption_Network">Network </div>
    <table class="b-dedicated__summary-table">
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                1 x 100Mbps
                Full-Duplex
            </td>
            <td class="b-dedicated__summary-table-cell">incl.</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                1.000Mbps
                Unmetered
            </td>
            <td class="b-dedicated__summary-table-cell">€ 250</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                1 IP
            </td>
            <td class="b-dedicated__summary-table-cell">incl.</td>
        </tr>
    </table>
    <div class="b-dedicated__summary-subtitle">Contract </div>
    <table class="b-dedicated__summary-table">
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                R1Soft CDP Backup
                Agent - 200GB
            </td>
            <td class="b-dedicated__summary-table-cell">€ 65</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                Silver – 24x7x2
            </td>
            <td class="b-dedicated__summary-table-cell">€ 49</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                Monitoring - Mail
            </td>
            <td class="b-dedicated__summary-table-cell">€ 5</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                Contract Term
            </td>
            <td class="b-dedicated__summary-table-cell">1 month</td>
        </tr>
        <tr class="b-dedicated__summary-table-row">
            <td class="b-dedicated__summary-table-cell">
                Payment period
            </td>
            <td class="b-dedicated__summary-table-cell">1 month</td>
        </tr>
    </table>
    <div class="b-dedicated__summary-price">
        <span class="b-dedicated__summary-price-value">€ 1 143.00/month</span>
        <span class="b-dedicated__summary-price-discount">12% discount, save €97.92</span>
    </div>
    <a class="b-submit b-dedicated__summary-submit" href="#">continue</a>
</div>