<div class="b-page">

    <div class="b-page__promo b-page__promo_text-page_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{Zero_App::$Section->Name}</h1>
    </div>

    <div class="b-about" id="scroll-anchor-01">
        <div class="b-container editable-area" style="background-color: #fff;">
            <div class="b-col b-about__description">
                <div class="b-col__item">
                    {plugin "Zero_Content_Plugin_Page" block="content_Left"}
                </div><!--
                        --><div class="b-col__item">
                {plugin "Zero_Content_Plugin_Page" block="content_Center"}
            </div><!--
                        --><div class="b-col__item">
                {plugin "Zero_Content_Plugin_Page" block="content_Right"}
            </div>
            </div>
        </div>
        {if ( Zero_App::$Section->ID == 88 )}

        {else}
        <div class="b-page__promo b-page__promo_about-2_yes"></div>
        {/if}
        <!--<div class="b-about__offer">
            <div class="b-container editable-area">
                <h2 class="b-about__offer-title">
                    Advantages<br>
                    offered
                </h2>
            </div>

            {plugin "Content_ContentBlock_Plugin" view="About"}

        </div>-->


    </div>

    <div class="footer-push"></div>
</div>