<div class="b-page b-page_contacts-page_yes">

    <div class="b-page__promo b-page__promo_faq_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">Contacts</h1>
    </div>

    <div class="b-contacts">

        <div class="b-container">
            <div class="b-contacts__text" id="scroll-anchor-01">
                Sales Department
      </div>
            <p class="b-contacts__text b-contacts__text_inline_yes">
                <span class="b-icon b-contacts__text-icon b-contacts__text-icon_1"></span>Phone: +31 20 820 3777
                 <span style="margin-left: 60px; margin-right: 0px;">  <img src="http://site-f.hostke.ru/upload/data_content/sk(1).png" /><span style="margin-left: 6px; margin-right: 0px; vertical-align:25%;"><span style="color:#ff692d;">HOSTKEY_SALES</span></span></span></p>
            <p class="b-contacts__text b-contacts__text_inline_yes b-contacts__text_red_yes">
             <span style="margin-left: 10px; margin-right: 0px;" >   <span class="b-icon b-contacts__text-icon b-contacts__text-icon_2";></span> <a href="mailto:sales@hostkey.com"><span style="color:#945AE0;">sales@hostkey.com</span></a></span>
            </p>
        </div>
        <br>
		<div class="b-container">
            <div class="b-contacts__text" id="scroll-anchor-01">
                Technical Support <p class="b-contacts__text b-contacts__text_inline_yes b-contacts__text_red_yes">
                 <span style="margin-left: 394px; margin-right: 0px;" > <span class="b-icon b-contacts__text-icon b-contacts__text-icon_2"></span><a href="https://my.hostkey.com/index.php?/Tickets/Submit" target="_blank"><span style="color:#945AE0; margin-left: 7px; margin-right: 0px;">Submit a ticket</span></a></span>
            </p>
            </div>
        </div>

		
			<div class="b-container">
            <div class="b-contacts__text" id="scroll-anchor-01">
                General information
            </div>
            <p class="b-contacts__text b-contacts__text_inline_yes">
                <span class="b-icon b-contacts__text-icon b-contacts__text-icon_1"></span>Phone / fax: +31 20 820 3777 / +31 20 820 3778
            </p>
			<p class="b-contacts__text b-contacts__text_inline_yes b-contacts__text_red_yes">
            <span style="margin-left: 15px; margin-right: 0px;" > <span class="b-icon b-contacts__text-icon b-contacts__text-icon_2";></span> <a href="mailto:sales@hostkey.com"><span style="color:#945AE0;">sales@hostkey.com</span></a></span></p>
			 <div class="b-contacts__text" id="scroll-anchor-01">Billing & Finance
            <p class="b-contacts__text b-contacts__text_inline_yes b-contacts__text_red_yes">
			<span style="margin-left: 406px; margin-right: 0px;" > <span class="b-icon b-contacts__text-icon b-contacts__text-icon_2"></span><a href="mailto:bill@hostkey.com"><span style="color:#945AE0; margin-left: 7px; margin-right: 0px;">bill@hostkey.com</span></a></span></p>
			<br>Abuse
            <p class="b-contacts__text b-contacts__text_inline_yes b-contacts__text_red_yes">
			<span style="margin-left: 521px; margin-right: 0px;" > <span class="b-icon b-contacts__text-icon b-contacts__text-icon_2"></span><a href="mailto:abuse@hostkey.com"><span style="color:#945AE0; margin-left: 7px; margin-right: 0px;">abuse@hostkey.com</span></a></span></p></div>
        </div>
		
<div class="b-contacts__list js-tab-wrapper">
            <div class="b-contacts__switch">
                <div class="b-container">
                    <div class="b-contacts__title current js-add-map js-tab" data-pos-x="52.383239" data-pos-y="4.888968" data-tab="1">
                        <span class="b-icon b-contacts__title-icon"></span>
                        Central offices
                    </div>
                    <div class="b-contacts__title js-add-map js-tab" data-pos-x="55.697631" data-pos-y="37.565654" data-tab="2">
                        <span class="b-icon b-contacts__title-icon"></span>
                        data centers in Russia
                    </div>
                    <div class="b-contacts__title js-add-map js-tab" data-pos-x="52.543666" data-pos-y="5.70521" data-tab="3">
                        <span class="b-icon b-contacts__title-icon"></span>
                        data center in the netherlands
                    </div>
                </div>
            </div>

 <div class="b-contacts__item js-tab-content current" data-tab="1">
                <div class="b-container">
                    <div class="b-contacts__description">
                        The technical services of the data center are available 7 days a week and 24 hours a day.<br>
                        Please let us know at least 24 hours prior to your visit.
                    </div>
                    <div class="b-contacts__description">ADDRESS:</div>
                    <a class="b-contacts__item-map js-map" href="#">
                       <div class=" js-add-map" data-pos-x="52.383239" data-pos-y="4.888968">
                            <div class="b-contacts__item-link">
                                <span class="b-icon b-contacts__item-icon"></span>
                                Tussen de Bogen 6, 1013JB Amsterdam
                            </div>
                        </div> 
                    </a>
                    <a class="b-contacts__item-map js-map" href="#">
                       <div class=" js-add-map" data-pos-x="55.783485" data-pos-y="37.709158">
                            <div class="b-contacts__item-link">
                                <span class="b-icon b-contacts__item-icon"></span>
                                Barabanniy per, 4/4, Moscow, Russia
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-contacts__item js-tab-content" data-tab="2">
                <div class="b-container">
                    <div class="b-contacts__description">
                        The technical services of the data center are available 7 days a week and 24 hours a day.<br>
                        Please let us know at least 24 hours prior to your visit.
                    </div>
                    <div class="b-contacts__description">ADDRESS:</div>
                    <a class="b-contacts__item-map js-map" href="#">
                        <div class=" js-add-map" data-pos-x="55.697631" data-pos-y="37.565654">
                            <div class="b-contacts__item-link">
                                <span class="b-icon b-contacts__item-icon"></span>
                                City Systems, Leninskiy prospekt 53, Moscow
                            </div>
                        </div>
                    </a>
                    <a class="b-contacts__item-map js-map" href="#">
                        <div class=" js-add-map" data-pos-x="55.736262" data-pos-y="37.721089">
                            <div class="b-contacts__item-link">
                                <span class="b-icon b-contacts__item-icon"></span>
                                DataPro, Aviamotornaya Str 69, Moscow
                            </div>
                        </div>
                    </a>
                    <a class="b-contacts__item-map js-map" href="#">
                        <div class=" js-add-map" data-pos-x="55.8858983" data-pos-y="37.5147407">
                            <div class="b-contacts__item-link">
                                <span class="b-icon b-contacts__item-icon"></span>
                                DataLine, Korovinskoe shosse, 41, Moscow
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="b-contacts__item js-tab-content" data-tab="3">
                <div class="b-container">
                    <div class="b-contacts__description">
                        The technical services of the data center are available 7 days a week and 24 hours a day.<br>
                        Please let us know at least 24 hours prior to your visit.
                    </div>
                    <div class="b-contacts__description">ADDRESS:</div>
                    <a class="b-contacts__item-map js-map" href="#">
                        <div class=" js-add-map" data-pos-x="52.543666" data-pos-y="5.70521">
                            <div class="b-contacts__item-link">
                                <span class="b-icon b-contacts__item-icon"></span>
                                Serverius, De Linge 26, Dronten
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>





        <div class="map-canvas-wrapper"><div id="map-canvas" class="map-canvas"></div></div>

    </div>

    <div class="footer-push footer-push_contacts-page_yes"></div>
</div>