<div class="b-page is-black">

    <div class="b-page__promo b-page__promo_main_yes"
         data-path="/assets/video/"
         data-file="wave"
         data-poster="/assets/media/promo_main.png"
         data-types='["mov"]'>
        <h1 class="b-page__promo-title">{$H1}</h1>
        <div class="b-page__promo-text">
            {Zero_App::$Section->NameSub}
        </div>

        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>

        <div class="b-page__promo-dots"></div>
    </div>

    <div class="b-main-page">

        <h3 class="b-main-page__title " id="scroll-anchor-01">
            best offers
            <span class="b-main-page__title-description">Follow us:
                  <a class="b-link" href="https://www.facebook.com/Hostkey-134583353265905/" title="Facebook" target="blank"><img src="/assets/img/fb.png" border="0" style="margin: 0 0 -14px 0"/></a>
                <a class="b-link" href="https://twitter.com/Hostkey" title="Twitter" target="blank"><img src="/assets/img/tv.png" border="0" style="margin: 0 0 -14px 0"/></a>
                 <a class="b-link" href="http://weibo.com/5750893601/profile?topnav=1&wvr=6&is_all=1" title="Sina Weibo" target="blank"><img src="/assets/img/v.png" border="0" style="margin: 0 0 -14px 0"/></a>
            </span>
        </h3>



       {# <div class="main-page-offers"> #}
            {plugin "Content_ContentBlock_Plugin" view="MainPageBestOffers" target="top"}
        {# </div> #}
        <div class="b-main-page__offer">
            <h2 class="b-main-page__title b-main-page__title_upline_yes">
                Our<br>
                advantages
            </h2>
            {plugin "Content_ContentBlock_Plugin" view="MainPage" target="feature"}
        </div>

        <!--СЛАЙДЕР С ОТЗЫВАМИ-->
        <h2 class="b-main-page__title b-main-page__title_upline_yes">
            reviews
        </h2>
        <div class="b-main-page__slider js-carousel-5">
            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-reviews">
                    <div class="b-main-page__slider-item-reviews-logo">
                        <img class="b-main-page__slider-item-image-reviews" src="/assets/img/14_ip-lable_mono.png" alt="logo" onmouseout="this.src='/assets/img/14_ip-lable_mono.png'" onmouseover="this.src='/assets/img/14_ip-lable.png'"/>
                    </div>
                    <div class="b-main-page__slider-item-reviews-text">
                        <div class="b-main-page__slider-item-reviews-text-reviews">Thanks to the quality hosting services provided to us by HOSTKEY for over 4 years, Ip-label is able to conduct in Russia some of its 100+ million daily measurements, making our metrology network’s coverage even more complete.
                            <a class ="b-main-page__slider-item-hint-description-reviews-text-link" href=""></a>
                        </div>
                        <div class="b-main-page__slider-item-hint-description-reviews-text-fio">
                            <p class="b-main-page__slider-item-hint-description-reviews-text-fio-person">D. Jayes</p>
                            <p class="b-main-page__slider-item-hint-description-reviews-text-fio-person">ip-label</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-reviews">
                    <div class="b-main-page__slider-item-reviews-logo">
                        <img class="b-main-page__slider-item-image-reviews" src="/assets/img/14_ip-lable_mono.png" alt="logo" onmouseout="this.src='/assets/img/14_ip-lable_mono.png'" onmouseover="this.src='/assets/img/14_ip-lable.png'"/>
                    </div>
                    <div class="b-main-page__slider-item-reviews-text">
                        <div class="b-main-page__slider-item-reviews-text-reviews">Thanks to the quality hosting services provided to us by HOSTKEY for over 4 years, Ip-label is able to conduct in Russia some of its 100+ million daily measurements, making our metrology network’s coverage even more complete.
                            <a class ="b-main-page__slider-item-hint-description-reviews-text-link" href=""></a>
                        </div>
                        <div class="b-main-page__slider-item-hint-description-reviews-text-fio">
                            <p class="b-main-page__slider-item-hint-description-reviews-text-fio-person">D. Jayes</p>
                            <p class="b-main-page__slider-item-hint-description-reviews-text-fio-person">ip-label</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!---СЛАЙДЕР С ЛОГОТИПАМИ -->
        <h2 class="b-main-page__title b-main-page__title_upline_yes">
            partners
        </h2>
        <div class="b-main-page__slider js-carousel-4">
            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/1_Dell_mono.png" alt="logo" onmouseout="this.src='/assets/img/1_Dell_mono.png'" onmouseover="this.src='/assets/img/1_Dell.png'"/>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/2_Supermicro_mono.png" alt="logo" onmouseout="this.src='/assets/img/2_Supermicro_mono.png'" onmouseover="this.src='/assets/img/2_Supermicro.png'"/>
                </div>
            </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/3_cisco_mono.png" alt="logo" onmouseout="this.src='/assets/img/3_cisco_mono.png'" onmouseover="this.src='/assets/img/3_cisco.png'"/>
                </div>

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/4_brocade_mono.png" alt="logo" onmouseout="this.src='/assets/img/4_brocade_mono.png'" onmouseover="this.src='/assets/img/4_brocade.png'"/>
                </div>
            </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/5_huawei_mono.png" alt="logo" onmouseout="this.src='/assets/img/5_huawei_mono.png'" onmouseover="this.src='/assets/img/5_huawei.png'"/>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/6_AMS-IX_mono.png" alt="logo" onmouseout="this.src='/assets/img/6_AMS-IX_mono.png'" onmouseover="this.src='/assets/img/6_AMS-IX.png'"/>
                </div>
            </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/7_retn_mono.png" alt="logo" onmouseout="this.src='/assets/img/7_retn_mono.png'" onmouseover="this.src='/assets/img/7_retn.png'"/>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/8_Microsoft_mono.png" alt="logo" onmouseout="this.src='/assets/img/8_Microsoft_mono.png'" onmouseover="this.src='/assets/img/8_Microsoft.png'"/>
                </div>
            </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/9_CPanel_mono.png" alt="logo" onmouseout="this.src='/assets/img/9_CPanel_mono.png'" onmouseover="this.src='/assets/img/9_CPanel.png'"/>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/10_nginx_mono.png" alt="logo" onmouseout="this.src='/assets/img/10_nginx_mono.png'" onmouseover="this.src='/assets/img/10_nginx.png'"/>
                </div>
                </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/11_sts_mono.png" alt="logo" onmouseout="this.src='/assets/img/11_sts_mono.png'" onmouseover="this.src='/assets/img/11_sts.png'"/>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/12_TechAccess_mono.png" alt="logo" onmouseout="this.src='/assets/img/12_TechAccess_mono.png'" onmouseover="this.src='/assets/img/12_TechAccess.png'"/>
                </div>
            </div>
            </div>
































        {# <div class="b-main-page__news"> #}
             {plugin "Content_News_Page" view="NewsInMainPage"}
        {# </div> #}


    {# <div class="footer-push"></div> #}

</div>
    <div class="footer-push"></div>
</div>
