<div class="b-page is-black">

    <div class="b-page__promo b-page__promo_main_yes"
         data-path="/assets/video/"
         data-file="wave"
         data-poster="/assets/media/promo_main.png"
         data-types='["mov"]'>
        <h1 class="b-page__promo-title">{$Head}</h1>
        <div class="b-page__promo-text">
            {Zero_App::$Section->NameSub}
        </div>

        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>

        <div class="b-page__promo-dots"></div>
    </div>

    <div class="b-main-page">

        <h3 class="b-main-page__title " id="scroll-anchor-01">
            best offers
            <span class="b-main-page__title-description">Follow us:
                  <a class="b-link" href="https://www.facebook.com/Hostkey-134583353265905/" title="Facebook" target="blank"><img src="/assets/img/fb.png" border="0" style="margin: 0 0 -14px 0"/></a>
                <a class="b-link" href="https://twitter.com/Hostkey" title="Twitter" target="blank"><img src="/assets/img/tv.png" border="0" style="margin: 0 0 -14px 0"/></a>
                 <a class="b-link" href="http://weibo.com/5750893601/profile?topnav=1&wvr=6&is_all=1" title="Sina Weibo" target="blank"><img src="/assets/img/v.png" border="0" style="margin: 0 0 -14px 0"/></a>
            </span>
        </h3>



       {# <div class="main-page-offers"> #}
            {plugin "Content_ContentBlock_Plugin" view="MainPageBestOffers" target="top"}
        {# </div> #}
        <div class="b-main-page__offer">
            <h2 class="b-main-page__title b-main-page__title_upline_yes">
                Our<br>
                advantages
            </h2>
            {plugin "Content_ContentBlock_Plugin" view="MainPage" target="feature"}
        </div>


        <!---Слайдер с отзывами -->
        <div class="b-main-page__slider js-carousel-4">
            <div class="b-main-page__slider-item">
                </div>
            </div>



        <!---jshdjsdhjshdjshdjshdjshdjhs -->
        <div class="b-main-page__slider js-carousel-4">
            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img style="cursor: pointer" class="b-main-page__slider-item-image js-hint" src="/assets/img/11_Dell.png" alt="logo"/>

                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">BlueOcean Gaming</div>
                            <div class="b-main-page__slider-item-hint-logo-site">www.blueoceangaming.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            We decided for renting dedicated server at Hostkey because they had best price-performance ratio.
                            Delivery time was really fast, setup time according to our specific needs was reasonable,
                            but could be faster. After initial setup was made, we didn’t experience any issues with hosting.
                            We are really satisfied with excellent account manager we got, so if we take everything in
                            consideration, we have no excuse but to stick with HostKey hosting in future.
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img style="cursor: pointer" class="b-main-page__slider-item-image js-hint" src="/assets/img/12_cisco.png" alt="logo"/>

                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">Ip-label</div>
                            <div class="b-main-page__slider-item-hint-logo-site">www.ip-label.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            Thanks to the quality hosting services provided to us by Hostkey for over 4 years,
                            ip-label is able to conduct in Russia some of its 100+ million daily measurements,
                            making our metrology network’s coverage even more complete.
                        </div>
                    </div>

                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img style="cursor: pointer" class="b-main-page__slider-item-image js-hint" src="/assets/img/3_sts.png" alt="logo"/>

                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">STS-Tecom</div>
                            <div class="b-main-page__slider-item-hint-logo-site">www.sts-tecom.de</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            As CEO and founder of STS-Tecom, I have worked with HOSTKEY since July 2011.
                            In that time, the communication was very pleasant and clear. 
                            Overall, I want to complement HOSTKEY for their reliability and a pleasant working relationship,
                            and say that I would recommend working with them to other organizations. 
                        </div>
                    </div>
                </div>

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/4_Supermicro.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/5_huawei.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/6_AMS-IX.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/7_retn.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/8_Microsoft.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/9_CPanel.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/10_nginx.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
            </div>

            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/13_brocade.png" alt="logo"/>
                    <!--
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>-->
                </div>
            <!--
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-04.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>-->
            </div>

        </div>


        {# <div class="b-main-page__news"> #}
             {plugin "Content_News_Page" view="NewsInMainPage"}
        {# </div> #}


    {# <div class="footer-push"></div> #}

</div>
    <div class="footer-push"></div>
</div>
