<div class="popup popup_callback" style="display: none;">
    <a class="close" href="#"><img src="/assets/img/close.png"></a>

    <h2>Request Call back</h2>
    <a class="combox" href="#"><img src="/assets/img/arr_d_mini.png"></a>

    <div class="callback_div"><input type="text" required="required" id="callback_name" placeholder="Name*" name="name"></div>
    <div class="callback_div div2">
        <input type="text" required="required" id="callback_code" placeholder="Country code*" name="phone_code"><input type="text" required="required" id="callback_nr"
                                                                                                                       placeholder="Phone*" name="phone_nr">

        <div class="popup_combox">
            <div class="popup_combox2">
                <div class="combox_block" style="width: 200px; padding-right: 3px; outline: medium none; overflow: hidden;" tabindex="0">
                    <p>
                        <a data-code="+7 840" href="#"> Abkhazia (+7 840)</a>
                        <a data-code="+93" href="#"> Afghanistan (+93)</a>
                        <a data-code="+355" href="#"> Albania (+355)</a>
                        <a data-code="+213" href="#"> Algeria (+213)</a>
                        <a data-code="+376" href="#"> Andorra (+376)</a>
                        <a data-code="+244" href="#"> Angola (+244)</a>
                        <a data-code="+1 268" href="#"> Antigua and Barbuda (+1 268)</a>
                        <a data-code="+54" href="#"> Argentina (+54)</a>
                        <a data-code="+374" href="#"> Armenia (+374)</a>
                        <a data-code="+61" href="#"> Australia (+61)</a>
                        <a data-code="+43" href="#"> Austria (+43)</a>
                        <a data-code="+994" href="#"> Azerbaijan (+994)</a>
                        <a data-code="+1 242" href="#"> Bahamas (+1 242)</a>
                        <a data-code="+973" href="#"> Bahrain (+973)</a>
                        <a data-code="+880" href="#"> Bangladesh (+880)</a>
                        <a data-code="+1 246" href="#"> Barbados (+1 246)</a>
                        <a data-code="+375" href="#"> Belarus (+375)</a>
                        <a data-code="+32" href="#"> Belgium (+32)</a>
                        <a data-code="+501" href="#"> Belize (+501)</a>
                        <a data-code="+229" href="#"> Benin (+229)</a>
                        <a data-code="+975" href="#"> Bhutan (+975)</a>
                        <a data-code="+591" href="#"> Bolivia (+591)</a>
                        <a data-code="+387" href="#"> Bosnia and Herzegovina (+387)</a>
                        <a data-code="+267" href="#"> Botswana (+267)</a>
                        <a data-code="+55" href="#"> Brazil (+55)</a>
                        <a data-code="+673" href="#"> Brunei (+673)</a>
                        <a data-code="+359" href="#"> Bulgaria (+359)</a>
                        <a data-code="+226" href="#"> Burkina Faso (+226)</a>
                        <a data-code="+257" href="#"> Burundi (+257)</a>
                        <a data-code="+855" href="#"> Cambodia (+855)</a>
                        <a data-code="+237" href="#"> Cameroon (+237)</a>
                        <a data-code="+1" href="#"> Canada (+1)</a>
                        <a data-code="+238" href="#"> Cape Verde (+238)</a>
                        <a data-code="+236" href="#"> Central African Republic (+236)</a>
                        <a data-code="+235" href="#"> Chad (+235)</a>
                        <a data-code="+56" href="#"> Chile (+56)</a>
                        <a data-code="+86" href="#"> China (+86)</a>
                        <a data-code="+57" href="#"> Colombia (+57)</a>
                        <a data-code="+269" href="#"> Comoros (+269)</a>
                        <a data-code="+242" href="#"> Congo (+242)</a>
                        <a data-code="+506" href="#"> Costa Rica (+506)</a>
                        <a data-code="+225" href="#"> Cote dIvoire (+225)</a>
                        <a data-code="+385" href="#"> Croatia (+385)</a>
                        <a data-code="+53" href="#"> Cuba (+53)</a>
                        <a data-code="+357" href="#"> Cyprus (+357)</a>
                        <a data-code="+420" href="#"> Czech Republic (+420)</a>
                        <a data-code="+45" href="#"> Denmark (+45)</a>
                        <a data-code="+253" href="#"> Djibouti (+253)</a>
                        <a data-code="+1 767" href="#"> Dominica (+1 767)</a>
                        <a data-code="+1 809" href="#"> Dominican Republic (+1 809)</a>
                        <a data-code="+243" href="#"> DR Congo (+243)</a>
                        <a data-code="+670" href="#"> East Timor (+670)</a>
                        <a data-code="+593" href="#"> Ecuador (+593)</a>
                        <a data-code="+20" href="#"> Egypt (+20)</a>
                        <a data-code="+503" href="#"> El Salvador (+503)</a>
                        <a data-code="+240" href="#"> Equatorial Guinea (+240)</a>
                        <a data-code="+291" href="#"> Eritrea (+291)</a>
                        <a data-code="+372" href="#"> Estonia (+372)</a>
                        <a data-code="+251" href="#"> Ethiopia (+251)</a>
                        <a data-code="+691" href="#"> Federated States of Micronesia (+691)</a>
                        <a data-code="+679" href="#"> Fiji (+679)</a>
                        <a data-code="+358" href="#"> Finland (+358)</a>
                        <a data-code="+33" href="#"> France (+33)</a>
                        <a data-code="+241" href="#"> Gabon (+241)</a>
                        <a data-code="+220" href="#"> Gambia (+220)</a>
                        <a data-code="+995" href="#"> Georgia (+995)</a>
                        <a data-code="+49" href="#"> Germany (+49)</a>
                        <a data-code="+233" href="#"> Ghana (+233)</a>
                        <a data-code="+30" href="#"> Greece (+30)</a>
                        <a data-code="+1 473" href="#"> Grenada (+1 473)</a>
                        <a data-code="+502" href="#"> Guatemala (+502)</a>
                        <a data-code="+224" href="#"> Guinea (+224)</a>
                        <a data-code="+245" href="#"> Guinea-Bissau (+245)</a>
                        <a data-code="+592" href="#"> Guyana (+592)</a>
                        <a data-code="+509" href="#"> Haiti (+509)</a>
                        <a data-code="+504" href="#"> Honduras (+504)</a>
                        <a data-code="+36" href="#"> Hungary (+36)</a>
                        <a data-code="+354" href="#"> Iceland (+354)</a>
                        <a data-code="+91" href="#"> India (+91)</a>
                        <a data-code="+62" href="#"> Indonesia (+62)</a>
                        <a data-code="+98" href="#"> Iran (+98)</a>
                        <a data-code="+964" href="#"> Iraq (+964)</a>
                        <a data-code="+353" href="#"> Ireland (+353)</a>
                        <a data-code="+972" href="#"> Israel (+972)</a>
                        <a data-code="+39" href="#"> Italy (+39)</a>
                        <a data-code="+1 876" href="#"> Jamaica (+1 876)</a>
                        <a data-code="+81" href="#"> Japan (+81)</a>
                        <a data-code="+962" href="#"> Jordan (+962)</a>
                        <a data-code="+7" href="#"> Kazakhstan (+7)</a>
                        <a data-code="+254" href="#"> Kenya (+254)</a>
                        <a data-code="+686" href="#"> Kiribati (+686)</a>
                        <a data-code="+965" href="#"> Kuwait (+965)</a>
                        <a data-code="+996" href="#"> Kyrgyzstan (+996)</a>
                        <a data-code="+856" href="#"> Laos (+856)</a>
                        <a data-code="+371" href="#"> Latvia (+371)</a>
                        <a data-code="+961" href="#"> Lebanon (+961)</a>
                        <a data-code="+266" href="#"> Lesotho (+266)</a>
                        <a data-code="+231" href="#"> Liberia (+231)</a>
                        <a data-code="+218" href="#"> Libya (+218)</a>
                        <a data-code="+423" href="#"> Liechtenstein (+423)</a>
                        <a data-code="+370" href="#"> Lithuania (+370)</a>
                        <a data-code="+352" href="#"> Luxembourg (+352)</a>
                        <a data-code="+389" href="#"> Macedonia (+389)</a>
                        <a data-code="+261" href="#"> Madagascar (+261)</a>
                        <a data-code="+265" href="#"> Malawi (+265)</a>
                        <a data-code="+60" href="#"> Malaysia (+60)</a>
                        <a data-code="+960" href="#"> Maldives (+960)</a>
                        <a data-code="+223" href="#"> Mali (+223)</a>
                        <a data-code="+356" href="#"> Malta (+356)</a>
                        <a data-code="+692" href="#"> Marshall Islands (+692)</a>
                        <a data-code="+222" href="#"> Mauritania (+222)</a>
                        <a data-code="+230" href="#"> Mauritius (+230)</a>
                        <a data-code="+52" href="#"> Mexico (+52)</a>
                        <a data-code="+373" href="#"> Moldova (+373)</a>
                        <a data-code="+377" href="#"> Monaco (+377)</a>
                        <a data-code="+976" href="#"> Mongolia (+976)</a>
                        <a data-code="+382" href="#"> Montenegro (+382)</a>
                        <a data-code="+212" href="#"> Morocco (+212)</a>
                        <a data-code="+258" href="#"> Mozambique (+258)</a>
                        <a data-code="+95" href="#"> Myanmar (+95)</a>
                        <a data-code="+264" href="#"> Namibia (+264)</a>
                        <a data-code="+674" href="#"> Nauru (+674)</a>
                        <a data-code="+977" href="#"> Nepal (+977)</a>
                        <a data-code="+31" href="#"> Netherlands (+31)</a>
                        <a data-code="+64" href="#"> New Zealand (+64)</a>
                        <a data-code="+505" href="#"> Nicaragua (+505)</a>
                        <a data-code="+227" href="#"> Niger (+227)</a>
                        <a data-code="+234" href="#"> Nigeria (+234)</a>
                        <a data-code="+850" href="#"> North Korea (+850)</a>
                        <a data-code="+47" href="#"> Norway (+47)</a>
                        <a data-code="+968" href="#"> Oman (+968)</a>
                        <a data-code="+92" href="#"> Pakistan (+92)</a>
                        <a data-code="+680" href="#"> Palau (+680)</a>
                        <a data-code="+507" href="#"> Panama (+507)</a>
                        <a data-code="+675" href="#"> Papua New Guinea (+675)</a>
                        <a data-code="+595" href="#"> Paraguay (+595)</a>
                        <a data-code="+51" href="#"> Peru (+51)</a>
                        <a data-code="+63" href="#"> Philippines (+63)</a>
                        <a data-code="+48" href="#"> Poland (+48)</a>
                        <a data-code="+351" href="#"> Portugal (+351)</a>
                        <a data-code="+974" href="#"> Qatar (+974)</a>
                        <a data-code="+40" href="#"> Romania (+40)</a>
                        <a data-code="+7" href="#"> Russia (+7)</a>
                        <a data-code="+250" href="#"> Rwanda (+250)</a>
                        <a data-code="+1 869" href="#"> Saint Kitts and Nevis (+1 869)</a>
                        <a data-code="+1 758" href="#"> Saint Lucia (+1 758)</a>
                        <a data-code="+1 784" href="#"> Saint Vincent and the Grenadines (+1 784)</a>
                        <a data-code="+685" href="#"> Samoa (+685)</a>
                        <a data-code="+378" href="#"> San Marino (+378)</a>
                        <a data-code="+239" href="#"> Sao Tome and Principe (+239)</a>
                        <a data-code="+966" href="#"> Saudi Arabia (+966)</a>
                        <a data-code="+221" href="#"> Senegal (+221)</a>
                        <a data-code="+381" href="#"> Serbia (+381)</a>
                        <a data-code="+248" href="#"> Seychelles (+248)</a>
                        <a data-code="+232" href="#"> Sierra Leone (+232)</a>
                        <a data-code="+65" href="#"> Singapore (+65)</a>
                        <a data-code="+421" href="#"> Slovakia (+421)</a>
                        <a data-code="+386" href="#"> Slovenia (+386)</a>
                        <a data-code="+677" href="#"> Solomon Islands (+677)</a>
                        <a data-code="+252" href="#"> Somalia (+252)</a>
                        <a data-code="+27" href="#"> South Africa (+27)</a>
                        <a data-code="+82" href="#"> South Korea (+82)</a>
                        <a data-code="+7" href="#"> South Ossetia (+7)</a>
                        <a data-code="+211" href="#"> South Sudan (+211)</a>
                        <a data-code="+34" href="#"> Spain (+34)</a>
                        <a data-code="+94" href="#"> Sri Lanka (+94)</a>
                        <a data-code="+970" href="#"> State of Palestine (+970)</a>
                        <a data-code="+249" href="#"> Sudan (+249)</a>
                        <a data-code="+597" href="#"> Suriname (+597)</a>
                        <a data-code="+268" href="#"> Swaziland (+268)</a>
                        <a data-code="+46" href="#"> Sweden (+46)</a>
                        <a data-code="+41" href="#"> Switzerland (+41)</a>
                        <a data-code="+963" href="#"> Syria (+963)</a>
                        <a data-code="+992" href="#"> Tajikistan (+992)</a>
                        <a data-code="+255" href="#"> Tanzania (+255)</a>
                        <a data-code="+66" href="#"> Thailand (+66)</a>
                        <a data-code="+228" href="#"> Togo (+228)</a>
                        <a data-code="+676" href="#"> Tonga (+676)</a>
                        <a data-code="+1 868" href="#"> Trinidad and Tobago (+1 868)</a>
                        <a data-code="+216" href="#"> Tunisia (+216)</a>
                        <a data-code="+90" href="#"> Turkey (+90)</a>
                        <a data-code="+993" href="#"> Turkmenistan (+993)</a>
                        <a data-code="+688" href="#"> Tuvalu (+688)</a>
                        <a data-code="+256" href="#"> Uganda (+256)</a>
                        <a data-code="+380" href="#"> Ukraine (+380)</a>
                        <a data-code="+971" href="#"> United Arab Emirates (+971)</a>
                        <a data-code="+44" href="#"> United Kingdom (+44)</a>
                        <a data-code="+1" href="#"> United States of America (+1)</a>
                        <a data-code="+598" href="#"> Uruguay (+598)</a>
                        <a data-code="+998" href="#"> Uzbekistan (+998)</a>
                        <a data-code="+678" href="#"> Vanuatu (+678)</a>
                        <a data-code="+379" href="#"> Vatican (+379)</a>
                        <a data-code="+58" href="#"> Venezuela (+58)</a>
                        <a data-code="+84" href="#"> Vietnam (+84)</a>
                        <a data-code="+967" href="#"> Yemen (+967)</a>
                        <a data-code="+260" href="#"> Zambia (+260)</a>
                        <a data-code="+263" href="#"> Zimbabwe (+263)</a>
                    </p>
                </div>
                <div style="position: absolute; z-index: 1; margin: 0px; padding: 0px; display: none; left: 203px; top: 5027px;">
                    <div style="position: relative;" class="enscroll-track vertical-track"><a style="position: absolute; z-index: 1;" href="" class="vertical-handle">
                        <div class="top"></div>
                        <div class="bottom"></div>
                    </a></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="callback_div div3"><input type="text" id="callback_skype" placeholder="Skype" name="skype"></div>
    <label>* - required fields</label>

    <div class="clear"></div>
    <a onclick="ga('send', 'event', 'Russia', 'Отправить заявку');" id="callback_btn" class="btn" href="#">Request Call back</a>
</div>

<div style="display: none;" data_id="Service_In_Russia">
<div data-width="860px" class="b-text-page__box">
    <h2>Our data centers span over</h2>

    <div class="tab_block">
        <div class="tabs">
            <a class="tab1 tab_sel" href="#">data center comparison</a>
            <a class="tab2" href="#">City Systems</a>
            <a class="tab3" href="#">DataLine</a>
            <a class="tab4" href="#">DataPro</a>

            <div class="clear">&nbsp;</div>
        </div>

        <div class="tab_html">
            <div class="html_tab html_tab1" style="display: block;">
                <table>
                    <tbody>
                    <tr>
                        <td><strong>Location</strong></td>
                        <td align="center"><b>MOSCOW</b><br />
                            <br />City Systems<br /><img src="/assets/img/city_logo.png" /></td>
                        <td align="center"><b>MOSCOW</b><br />
                            <br />DataLine<br /><img src="/assets/img/dataline_logo.png" /></td>
                        <td align="center"><b>MOSCOW</b><br />
                            <br />DataPro<br /><img src="/assets/img/Datapro_400.png" /></td>
                    <tr>
                        <td><strong>TIER level</strong></td>
                        <td>TIER II uncertified</td>
                        <td><img class="cert" src="/upload/data_content/dtln_tier.png" style="width: 32px;" />TIER III certified</td>
                        <td><img class="cert" src="/upload/data_content/data_pro1.png" style="width: 32px;" />
                            <img class="cert" src="/upload/data_content/data_pro2.png" style="width: 32px;" />
                            <img class="cert" src="/upload/data_content/data_pro3.png" style="width: 32px;" /><br />
                            <br />
                            TIER III certified</td>

                    </tr>
                    <tr>
                        <td><strong>Units per &ldquo;19 rack</strong></td>
                        <td>47</td>
                        <td>42</td>
                        <td>42</td>

                    </tr>
                    <tr>
                        <td><strong>Power per rack, up to</strong></td>
                        <td>20 KWh</td>
                        <td>10 KWh</td>
                        <td>28 KWh</td>

                    </tr>
                    <tr>
                        <td><strong>Cages and customized racks available</strong></td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Yes</td>

                    </tr>
                    <tr>
                        <td><strong>Security certification level</strong></td>
                        <td>&mdash;</td>
                        <td>ISO/IEC 27001:2013<br />
                            <br />
                            PCI Data Security 3.0</td>
                        <td>PCI Data Security 3.1</td>

                    <tr>
                        <td><strong>Authorized access and support</strong></td>
                        <td>24/7</td>
                        <td>24/7</td>
                        <td>24/7</td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="html_tab html_tab2" style="display: none;">
                <h2>City Systems</h2>
                <img src="/assets/img/CitySystems-big.jpg" />
                <table>
                    <tbody>
                    <tr>
                        <td><strong>location</strong></td>
                        <td>Moscow</td>
                    </tr>
                    <tr>
                        <td><strong>TIER level</strong></td>
                        <td>TIER II uncertified</td>
                    </tr>
                    <tr>
                        <td><strong>Units per &ldquo;19 rack</strong></td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td><strong>Power per rack,<br />
                            up to</strong></td>
                        <td>20 KWh</td>
                    </tr>
                    <tr>
                        <td><strong>Cages and customized racks available</strong></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><strong>Security certification level</strong></td>
                        <td>&mdash;</td>
                    </tr>
                    <tr>
                        <td><strong>Authorized access and support</strong></td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <p>City Systems data center was built in accordance with TIER II standards. It is located in a close proximity to Moscow city center. The data center is equipped with:</p>

                            <ul>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Two independent power supply systems.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Each system has the capacity of 1 MW.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">1250 kVA diesel generator set (DGS) operating in automatic mode.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Three uninterruptible power supply units (UPS) operating under N+1 scheme.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">300 kVA each, excess air conditioning and air humidifying systems.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Automatic fire extinguishing systems.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Security systems for perimeter protection and unauthorized access prevention.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Including video surveillance system.</span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="html_tab html_tab3" style="display: none;">
                <h2>DataLine</h2>
                <img src="/assets/img/DataLine-big.jpg" />
                <table>
                    <tbody>
                    <tr>
                        <td><strong>location</strong></td>
                        <td>Moscow</td>
                    </tr>
                    <tr>
                        <td><strong>TIER level</strong></td>
                        <td><img class="cert" src="/upload/data_content/dtln_tier.png" style="width: 50px;" /><br />
                            TIER III certified</td>
                    </tr>
                    <tr>
                        <td><strong>Units per &ldquo;19 rack</strong></td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td><strong>Power per rack,<br />
                            up to</strong></td>
                        <td>10 KWh</td>
                    </tr>
                    <tr>
                        <td><strong>Cages and customized racks available</strong></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><strong>Security certification level</strong></td>
                        <td>ISO/IEC 27001:2013<br />
                            PCI Data Security 3.0</td>
                    </tr>
                    <tr>
                        <td><strong>Authorized access and support</strong></td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <p>Data center Dataline Nord was built in 2007 and is now offering its customers a possibility of placing equipment in a data center that has the following characteristics:</p>

                            <ul>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Total area of 10,684 square meters.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Total power capacity of 18200 KW.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Power per rack: 6 kW or higher.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">10 server rooms.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">1712 commercial racks.</span></li>
                            </ul>

                            <p>Multi-level infrastructure of this data center includes gas extinguishing systems, CCTV and alarm monitoring system as well as access control. Power supply including backup is structured in accordance with 2N scheme. Power to each rack is supplied via 2 rays. Uninterruptible Power Supply (UPS) is located inside the data center modules. Backup diesel generator sets are setup according to N+1 scheme: two generators are sufficient to provide power supply to a data center plus one backup one in case of emergency.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="html_tab html_tab4" style="display: none;">
                <h2>DataPro</h2>
                <img src="/assets/img/DataPro-big.jpg" />
                <table>
                    <tbody>
                    <tr>
                        <td><strong>location</strong></td>
                        <td>Moscow</td>
                    </tr>
                    <tr>
                        <td><strong>TIER level</strong></td>
                        <td><img class="cert" src="/upload/data_content/data_pro1.png" style="width: 50px;" /><img class="cert" src="/upload/data_content/data_pro2.png" style="width: 50px;" /><img class="cert" src="/upload/data_content/data_pro3.png" style="width: 50px;" /><br />
                            TIER III certified</td>
                    </tr>
                    <tr>
                        <td><strong>Units per &ldquo;19 rack</strong></td>
                        <td>42</td>
                    </tr>
                    <tr>
                        <td><strong>Power per rack,<br />
                            up to</strong></td>
                        <td>28 KWh</td>
                    </tr>
                    <tr>
                        <td><strong>Cages and customized racks available</strong></td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td><strong>Security certification level</strong></td>
                        <td>PCI Data Security 3.1</td>
                    </tr>
                    <tr>
                        <td><strong>Authorized access and support</strong></td>
                        <td>24/7</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <p>DataPro data center in Moscow was commissioned in December 2014 and is by far the largest of the stated objects of its kind in Russia and Eastern Europe with:</p>

                            <ul>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Total area of 16,000 sq.m.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Total power supply of 25 MW.</span></li>
                                <li style="color:#FF692d"><span style="color:rgb(39, 46,56);">Capability of accommodating up to 3,000 racks of IT equipment.</span></li>
                            </ul>

                            <p>Design and construction of this data center was carried out in accordance with international best practices and to the highest international standards.</p>

                            <p>DataPro has received TIER III Uptime Institute Certification. It is one of the most technologically advanced and energy efficient commercial data centers in Russia.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <style type="text/css">.b-text-page__box .tab_block {
        margin: 0 auto 30px;
        width: 100%;
    }
    .b-text-page__box .tabs a.tab1 {
        width: 175px;
    }
    .b-text-page__box .tabs a.tab2 {
        width: 175px;
        padding-left: 40px;
        background-image: url(/assets/img/ru_flag.png);
        background-position: 2px 13px ;
        background-repeat: no-repeat;
    }
    .b-text-page__box .tabs a.tab3 {
        width: 175px;
        padding-left: 40px;
        background-image: url(/assets/img/ru_flag.png);
        background-position: 2px 13px ;
        background-repeat: no-repeat;
    }
    .b-text-page__box .tabs a.tab4 {
        width: 175px;
        padding-left: 40px;
        background-image: url(/assets/img/ru_flag.png);
        background-position: 2px 13px ;
        background-repeat: no-repeat;
    }

    .b-text-page__box .tabs {
        width: 860px;
    }
    .b-text-page__box .tab_html {
        width: 860px;
    }
    .html_tab1 tr td img {
        width: 120px;
        float: left;
    }
    .html_tab1 table {
        width: 100%;
    }
    .html_tab1 {
        padding: 0 0 0 20px;
    }
    .html_tab img {
        width: 800px;
    }
    .html_tab table img.cert {
        float: left;
        margin: 0 15px 0 0;
        padding: 0;
    }
    </style>
    </div>
</div>

<div class="popup popup_bothers" data_id="law"  style="display: none;">
  <div data-width="700px">

      <h2>Russian law</h2>

      <div class="tab_block">
          <p>On 1 September 2015, a new law comes into force in the Russian Federation - <i>“On Amendments to Certain Laws of the Russian Federation in Order to Clarify the Procedure for Personal Data Processing in Information and Telecommunications Networks”</i>. </p>
          <p>Under this new law companies collecting data of Russian citizens are obliged to perform any action related to the personal data of the Russian clients in databases located within the territory of the Russian Federation. </p>
          <p>Even if you conduct your business online (i.e. web shops, hotel/airline reservations, social networking, etc.) you are still obligated to store the personal data of the Russian clients on a server situated in Russia. </p>
          <p>Personal data refers to any information that identifies a specific person. </p>
          <p>In order to comply with the law there are the following options:
          <p>— Collocate your server on the territory on the Russian Federation</p>
          <p>— Rent a physical or virtual server on the territory of the Russian Federation</p>
          <p>— Install a server in your own premises in Russia if applicable. </p>
          <p>Failing to comply with the law may lead to the administrative liability for violation as well as the company information being entered into a blacklist. On top of that, the website might be blocked from operating in Russia. </p>
          <p>HOSTKEY stays on top of the current/new laws & requirements.
              You can always contact us for consultation. We will be your right hand in case you require to rent or collocate a server/infrastructure in the Russian Federation.</p>
          <p>Let’s work together.</p>
      </div>


    </div>
</div>


<script>
    $(document).ready(function() {


        $('.callback').click(function(){
            $('#bgJS').show();
            $('.popup_callback').show();
            return false;
        });

        $('.datacenters').click(function(){
            $('#bgJS').show();
            $('.popup_datacenters').show();
            return false;
        });
/*
        $('.bothers_more').click(function(){
            $('#bgJS').show();
            $('.popup_bothers').show();
            return false;
        });
*/
        $('.popup .close, #bgJS').click(function(){
            $('#bgJS').hide();
            $('.popup').hide();
            return false;
        });

        $('.tabs a').click(function(){
            $('.tabs a').removeClass('tab_sel');
            $('.html_tab').hide();
            var tabid = $(this).attr('class');
            $(this).addClass('tab_sel');
            $('.html_'+tabid).show();
            return false;
        });

        $('.popup_callback .combox').click(function(){
            if($('.popup_combox').css('display') == 'none'){ $('.popup_combox').show(); }
            else { $('.popup_combox').hide(); }
            return false;
        });

        $('.combox_block a').click(function(){
            var code = $(this).data('code');
            $('.div2 input:first-of-type').val(code);
            $('.popup_combox').hide();
            return false;
        });

        $('#callback_btn').click(function(){
            var error = false;
            var name = $('#callback_name').val();
            var code = $('#callback_code').val();
            var phone = $('#callback_nr').val();
            var skype = $('#callback_skype').val();
            $(".popup_callback .callback_div input").removeClass('error');

            $(".popup_callback .callback_div input").each(function(){
                if($(this).attr('required') == 'required' && ($(this).val() == '' || $(this).text())){
                    $(this).addClass('error');
                    error = true;
                }
            });

            if(error == false){
                $('#bgJS').hide(); $('.popup').hide(); $(".popup_callback .callback_div input").val('');
            }
            return false;
        });

        $(document).keyup(function(e) { if (e.keyCode == 27) { $('#bgJS').hide(); $('.popup').hide(); } });
    });
</script>


<!-- Иконка онлайн-консультанта-->

<!--div class="online-chat">
    <a class="b-icon online-chat__icon" href="#"></a>
</div-->

<div style="position: absolute; color: #fff; top: 60px;" data-id="eVQRGWujmG" class="online-chat__icon livechat_button"><a
        href="http://www.livechatinc.com/?partner=lc_6343171&amp;utm_source=chat_button">live chat software</a></div>
<script type="text/javascript">
    var __lc = {};
    __lc.license = 6343171;
    __lc.group = 1;

    (function () {
        var lc = document.createElement('script');
        lc.type = 'text/javascript';
        lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(lc, s);
    })();
</script>

<div class="b-page">

    <!-- 1 block -->
    <div class="b-page__promo b-page__promo_infro_russia">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">your <br/>infrastructure <br/>provider in russia</h1>
    </div>

    <!-- 2 block -->
    <div id="why">
        <h1>Why us</h1>


        <div class="why_blocks">
            <!-- 1 row blocks -->
            <div class="why_block1" id="scroll-anchor-01">
                <div class="why_block_l">
                    <img src="/assets/img/why1.png">
                </div>
                <div class="why_block_r">

                    <div>
                        <span></span>

                        <h2>Profound experience around the world</h2>
                        We have been successfully working with clients around
                        the world for more than 8 years by now.
                        We are operating from star locations in the EU
                        and Russia.
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <!-- 2 row blokc -->
            <div class="why_block2">
                <div class="why_block_l">
                    <div>
                        <span></span>

                        <h2>Specific expertise accommodating foreign clients in Russia</h2>
                        We have got vast experience serving remote clients in Moscow and the regions. We can procure, install and fully support any amounts
                        of equipment in our Tier 2 to certified Tier 3 data centers in Russia.
                    </div>
                </div>
                <div class="why_block_r"><img src="/assets/img/why2.png"></div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- 3 row block -->
        <div class="why_block3">
            <div class="why_block_l"><img src="/assets/img/why3.png"></div>
            <div class="why_block_r">
                <div>
                    <span></span>

                    <h2>Solid performance on your terms</h2>
                    Any SLA, a choice of data centers, specific conditions of placement and security options, tailored to your corporate standards. Every corporate brief is
                    discussed separately.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- 4 row blocks -->
        <div class="why_block4">
            <div class="why_block_l">
                <div>
                    <span></span>

                    <h2>We speak your language</h2>
                    All staff from sales personnel to day to day support is well spoken
                    in business and technical English* and can be contacted through all necessary means: phone, ticketing system, instrant messaging.
                    <div class="note">
                        <div class="note_border"></div>
                        * in case of special demand we are ready to communicate in French, Dutch, German, Chinese, Russian. You name it!
                    </div>
                </div>
            </div>
            <div class="why_block_r"><img src="/assets/img/why4.png"></div>
            <div class="clear"></div>
        </div>
        <!-- 5 row blocks -->
        <div class="why_block5">
            <div class="why_block_l"><img src="/assets/img/why5.png"></div>
            <div class="why_block_r">
                <div>
                    <span></span>

                    <h2>All the cloud technologies applicable</h2>
                    We possess and implement all the up-to date technologies
                    to base your cloud services on. Be it a closed cloud space for your
                    employees or your cloud-based systems, serving your clientele.
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- 6 row blocks -->
        <div class="why_block6">
            <div class="why_block_l">
                <div>
                    <span></span>

                    <h2>Highest standards of financial and legal support</h2>
                    We work with all major payment systems, utilize latest certified
                    software and hardware. Our contract system is fully complacent with highest European legal standards.
                </div>
            </div>
            <div class="why_block_r"><img src="/assets/img/why6.png"></div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- orange service -->
    <div id="service">
        <div>
            <h2>Flexible service plans</h2>

            <p>Depending on the budget and needs, we can tailor a special SLA for you and provide any preset level of support, availability of specific staff and reacting to
                specific serviceable events.</p>
        </div>
    </div>

    <!-- boyend standarts -->
    <div id="opportunities">
        <div>
            <h2>Beyond standards &mdash; easy done</h2>

            <p>We are able to procure, install, lease and service nearly any type of server and networking upon your request. We can do it locally and maintain full service
                including warranties.</p>

            <p>Our local hardware partners are Cisco, Brocade, SuperMicro, HP, Dell and many others.</p>
        </div>
    </div>

    <!-- Data Centers -->
    <div id="datacenters">

        <h1>Our data centers span over</h1>

        <div class="datacenters_block">
            <div class="datacenters_block3" style="padding-top: 80px;">
                <a href="#" class="tier_datacenters_in_russia arctic-modal-popup" data_more="Service_In_Russia" data_table="tab4">
                    <span><span>1. </span>DATAPRO, MOSCOW, TIER <span>3</span></span>
                </a>
                    <a href="#" class="tier_datacenters_in_russia arctic-modal-popup" data_more="Service_In_Russia" data_table="tab3">
                            <span><span>2. </span>DATALINE, MOSCOW TIER <span>3</span></span>
                    </a>
                    <a href="#" class="tier_datacenters_in_russia arctic-modal-popup" data_more="Service_In_Russia" data_table="tab2">
                        <span><span>3.</span> CITY SYSTEMS, MOSCOW, TIER <span>2</span></span>
                    </a>
            <div class="datacenters_descr">
                We are also ready and fully able to setup a separate data facility for your needs
                <a href="#" class="datacenters arctic-modal-popup" data_more="Service_In_Russia"  data_table="tab1"><b>more about our datacenters</b></a>
            </div>
        </div>
    </div>

        <div id="bothers">
            <h1>Why bother</h1>

            <div class="bothers_block">
                <div id="service2">
                    <div>
                        <h2>You can choose the data center that is the most appropriate for your needs.</h2>
                        <p>
                            Simply call our managers and describe the situation. You will be offered the best suitable option. For example, if you plan to host an entertaining resource, you can use any of data centers offered. If your company is engaged in financial transactions or activities involving high demands for information security, then you should pay attention to DataPro and DataLine data centers.
                            DataPro is one of the most reliable data centers in Russia in terms of availability, which has been confirmed by Uptime Institute Tier III resiliency level certification. The data center is suitable for equipment collocation for companies involved in financial activities, as it has PCI Data Security 3.1 certificate. This certificate confirms compliance with the international Payment Card Industry Security Standard.
                            DataLine also suits financial institutions, as it has PCI Data Security 3.0 certificate. This data center is one of the most reliable in terms of information security. It is compliant with the international standard for Information Security ISO / IEC 27001 (ISO / IEC 27001: 2013 certification).
                            In addition to choosing a data center, our staff can help you with the choice of services.<br>
                        </p><ul>
                        You can:
                        <li>	Colocate your server on the territory on the Russian Federation
                        </li><li>	Rent a physical or virtual server on the territory of the Russian Federation
                    </li><li>	Install a server in your own premises in Russia if applicable.
                    </li></ul>
                        <p></p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>


    <div id="contacts">
        <div class="contacts_descr">We’re sure that your case deserves A personal approach, so please feel free to contact our SALES DEPARTMENT</span></div>
        <div class="contacts_data">
            <div class="contacts_phone"><span>+</span><span>31</span><span>20</span><span>820</span><span>37</span><span>77</span></div>
            <div class="contacts_email">sales@hostkey.com</div>
            <script>$('.contacts_email').on('click', function () {
                document.location = 'mailto:russia@hostkey.com';
            });</script>

            <div><a class="callback" href="#callback">Request Call back</a></div>
        </div>
    </div>
    <!--<div class="footer-push"></div>-->
</div>

<!-- SlickJS -->
<link  href="/assets/vendors/slick/slick.css" rel="stylesheet">
<script src="/assets/vendors/slick/slick.min.js"></script>
<script src="/assets/js/slick-run.js"></script>

<script src="/assets/js/interface.js"></script>

<!-- Background video -->
<script type="text/javascript" src="/assets/vendors/background-video/jquery.backgroundvideo.min.js"></script>

<script src="/assets/vendors/jquery.scrollTo-1.4.13/jquery.scrollTo.min.js"></script>

<script src="/assets/vendors/checkbox/fake-checkbox.js"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<link rel="stylesheet" href="/assets/vendors/colorbox/colorbox.css" />
<script src="/assets/vendors/colorbox/jquery.colorbox-min.js"></script>

<style>
    .b-page__promo_main_yes {
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    #video_background {
        position: absolute !important;
        width: 100% !important;
        left: 0 !important;
        top: -43px !important;
        height: 710px !important;
    }
    .b-text-page__box h2 {
        width: 80%;
    }
    #service2 {
        background: url("/assets/img/service_level_1.png") no-repeat scroll left top;
        color: #fff;
        font-size: 18px;
        height: 485px;
        text-align: left;
    }
    #service2 > div {
        margin: 0 auto;
        padding: 10px 0 0;
        width: 900px;
    }
    #service2 h2 {
        color: #fff;
        font-size: 28px;
        text-align: center;
        text-transform: uppercase;
    }
</style>