<div class="b-page">

    <div class="b-page__promo b-page__promo_domains_yes">
        <div class="b-icon b-page__scroll-icon" onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <div class="b-domains" id="scroll-anchor-01">

        <h3 class="b-domains__title">
            START YOUR<br>
            DOMAIN SEARCH
        </h3>

        <div class="b-container">
            <div class="search-bar">
                <textarea class="b-input search-bar__input" name="" id="" cols="30" rows="10"></textarea><!--
                        --><a class="b-submit search-bar__submit" href="#"> search</a>
            </div>
        </div>

        <div class="domains-step" id="step1">
            <div class="b-container">
                <div class="domain-zone">
                    <!-- json result -->
                </div>
                <a class="b-news__more" href="#" id="domain-zone__more">
                    <div class="b-news__more-plus">
                        <span class="b-icon b-news__more-plus-icon"></span>
                    </div>
                    <div class="b-news__more-text">show all<br>prices</div>
                </a>
            </div>

            <h3 class="b-domains__title b-domains__title_upline_yes">
                special offers
            </h3>


            <div class="domains-offers">
                <div class="domains-check">

                    <div class="domains-check__row">
                        <!-- json result 2 -->
                    </div>
                    <div>
                        <a class="b-news__more" href="#" id="domains-check__more">
                            <div class="b-news__more-plus">
                                <span class="b-icon b-news__more-plus-icon"></span>
                            </div>
                            <div class="b-news__more-text">show all<br>prices</div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="domains-step" id="step2">
            <div class="domains-step2__tab tab-list b-modal__tabs js-tab-wrapper">
                <div class="tab-list__container tab-list__items tab-list__items-grid6">
                    <div class="tab-list__item current js-tab" data-tab="1">
                        <div class="tab-list__item-name">Result</div>
                    </div>
                    <div class="tab-list__item js-tab" data-tab="2">
                        <div class="tab-list__item-name">Popular</div>
                    </div>
                    <div class="tab-list__item js-tab" data-tab="3">
                        <div class="tab-list__item-name">New</div>
                    </div>
                    <div class="tab-list__item js-tab" data-tab="4">
                        <div class="tab-list__item-name">International</div>
                    </div>
                    <div class="tab-list__item js-tab" data-tab="5">
                        <div class="tab-list__item-name">International</div>
                    </div>
                    <div class="tab-list__item js-tab" data-tab="6">
                        <div class="tab-list__item-name">Thematic</div>
                    </div>
                </div>
                <div class="tab-list__container tab-list__content-block">
                    <div class="tab-list__content current js-tab-content" data-tab="1">
                        <p>
                            Поздравляем! Вы можете зарегистрировать понравившиеся доменные имена.
                        </p>
                        <table class="tab-list__content-table" id="result-table">
                            <thead>
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Results</th>
                                <th width="240" class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-all">
                                        <i class="b-icon"></i>Register all free
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- JSON content -->
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-list__content js-tab-content" data-tab="2">
                        <p>
                            Поздравляем! Вы можете зарегистрировать понравившиеся доменные имена.
                        </p>
                        <table class="tab-list__content-table">
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Results</th>
                                <th width="240" class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-all">
                                        <i class="b-icon"></i>Register all free
                                    </a>
                                </th>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.es</td>
                                <td class="tab-list__content-table-cell">registred</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__invalid">
                                <td class="tab-list__content-table-cell">hk--.ru</td>
                                <td class="tab-list__content-table-cell">invalid</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-list__content js-tab-content" data-tab="3">
                        <h3>Content area 3</h3>
                        <p>
                            Поздравляем! Вы можете зарегистрировать понравившиеся доменные имена.
                        </p>
                        <table class="tab-list__content-table">
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Results</th>
                                <th width="240" class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-all">
                                        <i class="b-icon"></i>Register all free
                                    </a>
                                </th>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.es</td>
                                <td class="tab-list__content-table-cell">registred</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__invalid">
                                <td class="tab-list__content-table-cell">hk--.ru</td>
                                <td class="tab-list__content-table-cell">invalid</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-list__content js-tab-content" data-tab="4">

                        <h3>Content area 443</h3>
                        <p>
                            Поздравляем! Вы можете зарегистрировать понравившиеся доменные имена.
                        </p>
                        <table class="tab-list__content-table">
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Results</th>
                                <th width="240" class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-all">
                                        <i class="b-icon"></i>Register all free
                                    </a>
                                </th>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.es</td>
                                <td class="tab-list__content-table-cell">registred</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__invalid">
                                <td class="tab-list__content-table-cell">hk--.ru</td>
                                <td class="tab-list__content-table-cell">invalid</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-list__content js-tab-content" data-tab="5">

                        <h3>Content area 5</h3>
                        <p>
                            Поздравляем! Вы можете зарегистрировать понравившиеся доменные имена.
                        </p>
                        <table class="tab-list__content-table">
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Results</th>
                                <th width="240" class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-all">
                                        <i class="b-icon"></i>Register all free
                                    </a>
                                </th>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.es</td>
                                <td class="tab-list__content-table-cell">registred</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__invalid">
                                <td class="tab-list__content-table-cell">hk--.ru</td>
                                <td class="tab-list__content-table-cell">invalid</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-list__content js-tab-content" data-tab="6">

                        <h3>Content area 6</h3>
                        <p>
                            Поздравляем! Вы можете зарегистрировать понравившиеся доменные имена.
                        </p>
                        <table class="tab-list__content-table">
                            <tr>
                                <th width="250" class="tab-list__content-table-cell">Domain</th>
                                <th width="260" class="tab-list__content-table-cell">Results</th>
                                <th width="240" class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-all">
                                        <i class="b-icon"></i>Register all free
                                    </a>
                                </th>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.es</td>
                                <td class="tab-list__content-table-cell">registred</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__invalid">
                                <td class="tab-list__content-table-cell">hk--.ru</td>
                                <td class="tab-list__content-table-cell">invalid</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__available">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                            <tr class="tab-list__content-table-row tab-list__content-table-row__registred">
                                <td class="tab-list__content-table-cell">hk.ru</td>
                                <td class="tab-list__content-table-cell">free</td>
                                <td class="tab-list__content-table-cell">
                                    <a href="#" class="tab-list__content-reg-this" data-domain="hk.ru" data-price="13">
                                        <i class="b-icon"></i>Register | <span>€13</span>
                                    </a>
                                    <a href="#" class="tab-list__content-its-my" data-domain="hk.ru" data-price="0">
                                        <i class="b-icon"></i>It's my domain
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="domains-step2__summary domains-step2__summary_is-purpur" id="scroll-block">
                <div class="domains-step2__summary-title">Your Domains</div>
                <div class="domains-step2__summary-section">
                    <div class="domains-step2__summary-subtitle">Register</div>
                    <table class="domains-step2__summary-table" id="domains-register-table">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="domains-step2__summary-price">
                    <span class="domains-step2__summary-price-value" id="Summa"></span>
                    <span class="domains-step2__summary-price-discount" id="Discount"></span>
                </div>
                <a class="b-submit domains-step2__summary-submit" href="#" id="byu_cloud">Buy</a>
            </div>
        </div>

        <div class="domains-step" id="step3">

        </div>

        {plugin "Content_ContentBlock_Plugin" view="Voucher" target="voucher"}
        {plugin "Content_ContentBlock_Plugin" view="NeedMore" target="information"}
        <div class="footer-push"></div>
    </div>
</div>

<script type="application/javascript" src="/assets/js/domains.js"></script>
<script>
    $(document).ready(function () {


    });


</script>
