<div class="b-page">

    <div class="b-dedicated">

        <div class="b-dedicated__back">
            <a class="b-dedicated__back-text" href="news.php">
                <span class="b-icon b-dedicated__back-icon"></span>
                back
            </a>

            <div class="b-dedicated__back-breadcrumbs">
                <div class="b-dedicated__back-breadcrumbs-item">Service</div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_separate_yes"></div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_active">Options</div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_disable b-dedicated__back-breadcrumbs-item_separate_yes"></div>
                <div class="b-dedicated__back-breadcrumbs-item b-dedicated__back-breadcrumbs-item_disable">Payment</div>
            </div>
        </div>

        <div class="b-dedicated__step-2-block">

            <div class="b-dedicated__item-content b-dedicated__item-content_padding-top_yes dedicated-item-content">
                <div class="b-dedicated__box">
                    <h3 class="b-dedicated__title">Choose your<br>
                        additional options</h3>
                </div>

                <div class="b-container">
                    <div class="b-dedicated__accordion">

                        <div class="b-accordion" id="scroll-box">

                            <h3 class="b-accordion__title">
                                <span class="b-accordion__title-main">1. Software</span>
                                <span class="b-accordion__title-submain">Linux (32 bit) / CentOS 5 / Parallels Plesk Panel 11 - 10 Domains (Linux)</span>
                            </h3>
                            <div class="b-accordion__item">
                                <table class="b-dedicated__accordion-table">
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">CPU</td>
                                        <td class="b-dedicated__accordion-table-cell js-checked">
                                            <label class="b-checkbox-submit b-checkbox-submit_size_220">
                                                <span class="b-checkbox-submit__text">Linux (32 bit)</span>
                                                <input class="js-checked-submit"name="check-01" type="radio"/>
                                            </label><!--
                                                    --><label class="b-checkbox-submit b-checkbox-submit_size_220">
                                            <span class="b-checkbox-submit__text">Windows (64 bit)</span>
                                            <input class="js-checked-submit" name="check-01" type="radio"/>
                                        </label><!--
                                                    --><label class="b-checkbox-submit b-checkbox-submit_size_220">
                                            <span class="b-checkbox-submit__text">Linux (64 bit)</span>
                                            <input class="js-checked-submit" name="check-01" type="radio"/>
                                        </label>
                                            <div class="radio-box radio-box_margin-top">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>CentOS 5
                                                    <input class="hidden-input" name="radio-row-1" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>CentOS 6
                                                    <input class="hidden-input" name="radio-row-1" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Debian 7.0
                                                    <input class="hidden-input" name="radio-row-1" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>FreeBSD 9
                                                    <input class="hidden-input" name="radio-row-1" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Ubuntu 12.04
                                                    <input class="hidden-input" name="radio-row-1" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Ubuntu 14.04
                                                    <input class="hidden-input" name="radio-row-1" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Control Panel
                                            Software</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>None
                                                    <input class="hidden-input" name="radio-row-2" type="radio" checked />
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>DirectAdmin <span class="red-text">(€ 5.00)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Parallels Plesk Panel 11 - 10 Domains (Linux) <span class="red-text">(€ 7.50)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Parallels Plesk Panel 12 Web Admin Edition – 10 Domains (Linux) <span class="red-text">(€ 7.50)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Parallels Plesk Panel 12 Web Pro Edition - 30 Domains (Linux) <span class="red-text">(€ 15.00)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Parallels Plesk Panel 11 - 100 Domains (Linux) <span class="red-text">(€ 15.00)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>cPanel/WHM <span class="red-text">(€ 19.00)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Parallels Plesk Panel 12 Web Host Edition - Unlimited Domains (Linux) <span class="red-text">(€ 20.00)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Parallels Plesk Panel 11 - Unlimited Domains (Linux) <span class="red-text">(€ 20.00)</span>
                                                    <input class="hidden-input" name="radio-row-2" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label is-disabled">
                                                    <span class="fake-input js-check"></span>cPanel/WHM + Fantastico (€ 22.50)
                                                    <input class="hidden-input" disabled name="radio-row-2" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="b-submit b-accordion__next-submit" onclick="$('.b-accordion').accordion({ active: 1 });">Next</div>
                            </div>

                            <h3 class="b-accordion__title">
                                <span class="b-accordion__title-main">2. Network</span>
                                        <span class="b-accordion__title-submain">
                                            1 x 1000Mbps Full-Duplex / 200 TB / 1 IP / 24-Port 1 Gbps Private Switch / Hardware Firewall - Juniper SRX240H / Hardware Loadbalancer - Kemp LM-2400
                                        </span>
                            </h3>
                            <div class="b-accordion__item">
                                <table class="b-dedicated__accordion-table">
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Uplink Port
                                            Speed</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check checked"></span>1 x 100Mbps Full-Duplex <span class="red-text">(incl.)</span>
                                                    <input class="hidden-input" name="radio-row-3" checked type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>x 1000Mbps Full-Duplex <span class="red-text">(€ 10.00)</span>
                                                    <input class="hidden-input" name="radio-row-3" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Bandwidth</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label is-disabled">
                                                    <span class="fake-input js-check"></span>100 TB <span class="red-text">(incl.)</span>
                                                    <input class="hidden-input" name="radio-row-4" disabled type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check checked"></span>200 TB <span class="line-through">€ 150.00</span>  <span class="red-text">(€ 100.00)</span>
                                                    <input class="hidden-input" name="radio-row-4" checked type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>1.000Mbps Unmetered <span class="line-through">€ 350.00</span>  <span class="red-text">(€ 250.00)</span>
                                                    <input class="hidden-input" name="radio-row-4" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">IP</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="b-slider js-slider" data-slides="3"></div>
                                            <div class="b-slider__legend-3">
                                                <div class="b-slider__legend-3-item b-slider__legend-3-item_place_1">1 IP
                                                    <br/><span class="red-text">incl.</span>
                                                </div>
                                                <div class="b-slider__legend-3-item b-slider__legend-3-item_place_2">2 IP
                                                    <br/><span class="red-text">(€ 2.50)</span>
                                                </div>
                                                <div class="b-slider__legend-3-item b-slider__legend-3-item_place_3">3 IP
                                                    <br/><span class="red-text">(€ 5.00)</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Private
                                            Networking</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Non
                                                    <input class="hidden-input" name="radio-row-5" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check checked"></span>24-Port 1 Gbps Private Switch <span class="red-text">(€ 50.00)</span>
                                                    <input class="hidden-input" name="radio-row-5" checked type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Connect to existing Private Switch
                                                    <input class="hidden-input" name="radio-row-5" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Firewall</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Non
                                                    <input class="hidden-input" name="radio-row-6" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label is-disabled">
                                                    <span class="fake-input js-check"></span>Shared Firewall <span class="red-text">(€ 25.00)</span>
                                                    <input class="hidden-input" name="radio-row-6" disabled type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check checked"></span>Hardware Firewall - Juniper SRX240H
                                                    <span class="red-text">(€ 125.00)</span>
                                                    <input class="hidden-input" name="radio-row-6" checked type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Hardware Firewall - Cisco ASA 5515 <span class="red-text">(€ 175.00)</span>
                                                    <input class="hidden-input" name="radio-row-6" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Hardware Firewall - Cisco ASA 5525 <span class="red-text">(€ 350.00)</span>
                                                    <input class="hidden-input" name="radio-row-6" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Hardware Firewall - Cisco ASA 5545 <span class="red-text">(€ 650.00)</span>
                                                    <input class="hidden-input" name="radio-row-6" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Loadbalancer</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Non
                                                    <input class="hidden-input" name="radio-row-7" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Hardware Loadbalancer - Kemp LM-2400  <span class="red-text">(€ 175.00)</span>
                                                    <input class="hidden-input" name="radio-row-7" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check checked"></span>Hardware Loadbalancer - A10 AX Series 1030
                                                    <span class="red-text">(€ 725.00)</span>
                                                    <input class="hidden-input" name="radio-row-7" checked type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="b-submit b-accordion__next-submit" onclick="$('.b-accordion').accordion({ active: 2 });">NExt</div>
                            </div>

                            <h3 class="b-accordion__title">
                                <span class="b-accordion__title-main">3. Contract</span>
                                        <span class="b-accordion__title-submain">
                                            R1Soft CDP Backup Agent - 20GB / Basic – 24x7x24 / Monitoring - Mail / Contract Term 1 Month / Payment period 3 Months
                                        </span>
                            </h3>
                            <div class="b-accordion__item">
                                <table class="b-dedicated__accordion-table">
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Backup</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Non
                                                    <input class="hidden-input" name="radio-row-8" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>R1Soft CDP Backup Agent - 20GB  <span class="red-text">(€ 20.00)</span>
                                                    <input class="hidden-input" name="radio-row-8" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>R1Soft CDP Backup Agent - 50GB  <span class="red-text">(€ 27.50)</span>
                                                    <input class="hidden-input" name="radio-row-8" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>R1Soft CDP Backup Agent - 100GB  <span class="red-text">(€ 40.00)</span>
                                                    <input class="hidden-input" name="radio-row-8" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>R1Soft CDP Backup Agent - 200GB  <span class="red-text">(€ 65.00)</span>
                                                    <input class="hidden-input" name="radio-row-8" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>R1Soft CDP Backup Agent - 500GB  <span class="red-text">(€ 140.00)</span>
                                                    <input class="hidden-input" name="radio-row-8" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Service Level Agreements</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="radio-box">
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Basic – 24x7x24 <span class="red-text">(incl.)</span>
                                                    <input class="hidden-input" name="radio-row-9" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Bronze – 24x7x4  <span class="red-text">(€ 29.00)</span>
                                                    <input class="hidden-input" name="radio-row-9" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Silver – 24x7x2 <span class="red-text">(€ 49.00)</span>
                                                    <input class="hidden-input" name="radio-row-9" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Gold – 24x7x1 <span class="red-text">(€ 79.00)</span>
                                                    <input class="hidden-input" name="radio-row-9" type="radio"/>
                                                </label>
                                                <label class="fake-radio-label">
                                                    <span class="fake-input js-check"></span>Platinum - 24x7x½ <span class="red-text">(€ 119.00)</span>
                                                    <input class="hidden-input" name="radio-row-9" type="radio"/>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Advanced Monitoring</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <label class="fake-checkbox-label">
                                                <span class="fake-checkbox-label__box js-check"></span>Monitoring - Mail <span class="red-text">(€ 5.00)</span>
                                                <input class="hidden-input" name="check-9" type="checkbox"/>
                                            </label>
                                            <label class="fake-checkbox-label">
                                                <span class="fake-checkbox-label__box js-check"></span>Monitoring - SMS <span class="red-text">(€ 10.00)</span>
                                                <input class="hidden-input" name="check-56" type="checkbox"/>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Contract term</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            1 month<br><br>
                                        </td>
                                    </tr>
                                    <tr class="b-dedicated__accordion-table-row">
                                        <td class="b-dedicated__accordion-table-cell b-dedicated__accordion-table-cell_title_yes b-dedicated__accordion-table-cell_top_yes">Payment period</td>
                                        <td class="b-dedicated__accordion-table-cell">
                                            <div class="b-slider js-slider" data-slides="6"></div>
                                            <div class="b-slider__legend-6">
                                                <div class="b-slider__legend-6-item b-slider__legend-6-item_place_1">1 Months<br/>
                                                </div>
                                                <div class="b-slider__legend-6-item b-slider__legend-6-item_place_2">3 Months<br/>
                                                    <span class="red-text">(- 2,5%)</span>
                                                </div>
                                                <div class="b-slider__legend-6-item b-slider__legend-6-item_place_3">6 Months<br/>
                                                    <span class="red-text">(- 5%)</span>
                                                </div>
                                                <div class="b-slider__legend-6-item b-slider__legend-6-item_place_4">12 Months<br/>
                                                    <span class="red-text">(- 10%)</span>
                                                </div>
                                                <div class="b-slider__legend-6-item b-slider__legend-6-item_place_5">24 Months<br/>
                                                    <span class="red-text">(- 20%)</span>
                                                </div>
                                                <div class="b-slider__legend-6-item b-slider__legend-6-item_place_6">36 Months<br/>
                                                    <span class="red-text">(- 30%)</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <div class="b-accordion__continue">
                            <div class="b-accordion__continue-price">Price: <span class="b-accordion__continue-price-qty">€ 804/Mo</span></div>
                            <a class="b-submit b-accordion__continue-submit" href="#">Continue</a>
                        </div>


                    </div>

                    <!-- Скролящийся блок с результатом подбора -->
                    <div class="b-dedicated__summary" id="scroll-block">
                        <div class="b-dedicated__summary-title">Your dedicated</div>
                        <table class="b-dedicated__summary-table">
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">Monthly Base Price</td>
                                <td class="b-dedicated__summary-table-cell">€ 759</td>
                            </tr>
                        </table>
                        <div class="b-dedicated__summary-subtitle">Software </div>
                        <table class="b-dedicated__summary-table">
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">CentOS 5</td>
                                <td class="b-dedicated__summary-table-cell">€ 0</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    Parallels Plesk Panel
                                    12 Web Host
                                    Edition - Unlimited
                                    Domains (Linux)
                                </td>
                                <td class="b-dedicated__summary-table-cell">€ 250</td>
                            </tr>
                        </table>
                        <div class="b-dedicated__summary-subtitle">Network </div>
                        <table class="b-dedicated__summary-table">
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    1 x 100Mbps
                                    Full-Duplex
                                </td>
                                <td class="b-dedicated__summary-table-cell">incl.</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    1.000Mbps
                                    Unmetered
                                </td>
                                <td class="b-dedicated__summary-table-cell">€ 250</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    1 IP
                                </td>
                                <td class="b-dedicated__summary-table-cell">incl.</td>
                            </tr>
                        </table>
                        <div class="b-dedicated__summary-subtitle">Contract </div>
                        <table class="b-dedicated__summary-table">
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    R1Soft CDP Backup
                                    Agent - 200GB
                                </td>
                                <td class="b-dedicated__summary-table-cell">€ 65</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    Silver – 24x7x2
                                </td>
                                <td class="b-dedicated__summary-table-cell">€ 49</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    Monitoring - Mail
                                </td>
                                <td class="b-dedicated__summary-table-cell">€ 5</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    Contract Term
                                </td>
                                <td class="b-dedicated__summary-table-cell">1 month</td>
                            </tr>
                            <tr class="b-dedicated__summary-table-row">
                                <td class="b-dedicated__summary-table-cell">
                                    Payment period
                                </td>
                                <td class="b-dedicated__summary-table-cell">1 month</td>
                            </tr>
                        </table>
                        <div class="b-dedicated__summary-price">
                            <span class="b-dedicated__summary-price-value">€ 1 143.00/month</span>
                            <span class="b-dedicated__summary-price-discount">12% discount, save €97.92</span>
                        </div>
                        <a class="b-submit b-dedicated__summary-submit" href="#">continue</a>
                    </div>

                </div>

            </div>

        </div>



    </div>

    <div class="footer-push"></div>
</div>