<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=1280" />

        <LINK REL="SHORTCUT ICON" href="/assets/img/favicon.gif">

        <meta name="format-detection" content="telephone=no">

        <title>HOSTKEY. Text. Page 1</title>

        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">


        <!--[if lt IE 9]>
            <script src="/assets/js/html5.js"></script>
            <script src="/assets/js/css3-mediaqueries.js"></script>
        <![endif]-->

        <style>
            .b-page__promo_text-page_yes {
                background: url(/assets/media/promo_text_01.png) no-repeat;
                height: 600px;
            }
        </style>

    </head>
    <body>

        {plugin "Content_ContentLittle_Plugin" view="Header"}

        {$Content}

        {plugin "Content_ContentLittle_Plugin" view="Footer"}

        <script src="/assets/js/jquery-1.11.1.min.js"></script>

        <script src="/assets/vendors/jquery-ui-1.11.4/jquery-ui.min.js"></script>

        <script src="/assets/js/interface.js"></script>
        <script src="/assets/js/scroll-block.js"></script>

        {include "Content_Include_include.all.script"}

    </body>
</html>