//- software
accordion-group(is-open='tabs.software.open')

    accordion-heading
        span.b-accordion__title-main 2. {{tabs.software.name}}
        span.b-accordion__title-submain {{order.software|orderVerbose}}


    table.b-dedicated__accordion-table

        tr.b-dedicated__accordion-table-row

            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes {{tabs.software.cpu.name}}

            td.b-dedicated__accordion-table-cell

                label.b-checkbox-submit.b-checkbox-submit_size_220(ng-repeat="cpu in tabs.software.cpu.options", ng-model="order.software.cpu", btn-radio="{{cpu}}")
                    span.b-checkbox-submit__text {{cpu.Name}}

                .radio-box.radio-box_margin-top
                    label.fake-radio-label(ng-repeat="os in tabs.software.os.options", ng-model="order.software.os", btn-radio="{{os}}")
                        span.fake-input(ng-model="order.software.os", btn-radio="{{os}}")
                        | {{os.Name}}
        
        tr.b-dedicated__accordion-table-row

            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes {{tabs.software.controlPanel.name}}

            td.b-dedicated__accordion-table-cell

                .radio-box.radio-box_margin-top__
                    label.fake-radio-label(ng-repeat="controlPanel in tabs.software.controlPanel.options", ng-model="order.software.controlPanel", btn-radio="{{controlPanel}}")
                        span.fake-input(ng-model="order.software.controlPanel", btn-radio="{{controlPanel}}")
                        | {{controlPanel.Name}}
        
    