h3.b-accordion__title
    span.b-accordion__title-main 4. Contract
    span.b-accordion__title-submain
        | R1Soft CDP Backup Agent - 20GB / Basic – 24x7x24 / Monitoring - Mail / Contract Term 1 Month / Payment period 3 Months

.b-accordion__item
    table.b-dedicated__accordion-table
        tr.b-dedicated__accordion-table-row
            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes Backup
            td.b-dedicated__accordion-table-cell
                .radio-box
                    label.fake-radio-label
                        span.fake-input.js-check
                        | Non
                        input.hidden-input(name='radio-row-8', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | R1Soft CDP Backup Agent - 20GB
                        span.red-text (€ 20.00)
                        input.hidden-input(name='radio-row-8', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | R1Soft CDP Backup Agent - 50GB
                        span.red-text (€ 27.50)
                        input.hidden-input(name='radio-row-8', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | R1Soft CDP Backup Agent - 100GB
                        span.red-text (€ 40.00)
                        input.hidden-input(name='radio-row-8', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | R1Soft CDP Backup Agent - 200GB
                        span.red-text (€ 65.00)
                        input.hidden-input(name='radio-row-8', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | R1Soft CDP Backup Agent - 500GB
                        span.red-text (€ 140.00)
                        input.hidden-input(name='radio-row-8', type='radio')
        tr.b-dedicated__accordion-table-row
            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes Service Level Agreements
            td.b-dedicated__accordion-table-cell
                .radio-box
                    label.fake-radio-label
                        span.fake-input.js-check
                        | Basic – 24x7x24
                        span.red-text (incl.)
                        input.hidden-input(name='radio-row-9', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | Bronze – 24x7x4
                        span.red-text (€ 29.00)
                        input.hidden-input(name='radio-row-9', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | Silver – 24x7x2
                        span.red-text (€ 49.00)
                        input.hidden-input(name='radio-row-9', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | Gold – 24x7x1
                        span.red-text (€ 79.00)
                        input.hidden-input(name='radio-row-9', type='radio')
                    label.fake-radio-label
                        span.fake-input.js-check
                        | Platinum - 24x7x½
                        span.red-text (€ 119.00)
                        input.hidden-input(name='radio-row-9', type='radio')
        tr.b-dedicated__accordion-table-row
            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes Advanced Monitoring
            td.b-dedicated__accordion-table-cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    | Monitoring - Mail
                    span.red-text (€ 5.00)
                    input.hidden-input(name='check-9', type='checkbox')
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    | Monitoring - SMS
                    span.red-text (€ 10.00)
                    input.hidden-input(name='check-56', type='checkbox')
        tr.b-dedicated__accordion-table-row
            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes Contract term
            td.b-dedicated__accordion-table-cell
                | 1 month
                br
                br
        tr.b-dedicated__accordion-table-row
            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes.b-dedicated__accordion-table-cell_top_yes Payment period
            td.b-dedicated__accordion-table-cell
                .b-slider.js-slider(data-slides='6')
                .b-slider__legend-6
                    .b-slider__legend-6-item.b-slider__legend-6-item_place_1
                        | 1 Months
                        br
                    .b-slider__legend-6-item.b-slider__legend-6-item_place_2
                        | 3 Months
                        br
                        span.red-text (- 2,5%)
                    .b-slider__legend-6-item.b-slider__legend-6-item_place_3
                        | 6 Months
                        br
                        span.red-text (- 5%)
                    .b-slider__legend-6-item.b-slider__legend-6-item_place_4
                        | 12 Months
                        br
                        span.red-text (- 10%)
                    .b-slider__legend-6-item.b-slider__legend-6-item_place_5
                        | 24 Months
                        br
                        span.red-text (- 20%)
                    .b-slider__legend-6-item.b-slider__legend-6-item_place_6
                        | 36 Months
                        br
                        span.red-text (- 30%)
    