.b-dedicated__accordion

    #scroll-box(accordion="")
    
        div(ui-view="software@")
        //-div(ui-view="network@")
        //-div(ui-view="contract@")
    
    //-pre {{order|json}}
     
    .b-accordion__continue
        .b-accordion__continue-price
            | Price:
            span.b-accordion__continue-price-qty € {{orderPrice}}/Mo
        
        a.b-submit.b-accordion__continue-submit(href='#') Continue

// Скролящийся блок с результатом подбора
.b-dedicated__summary(scroll-block="")
    
    .b-dedicated__summary-title Your dedicated
    //-table.b-dedicated__summary-table
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell Monthly Base Price
            td.b-dedicated__summary-table-cell € 759
    
    .b-dedicated__summary-subtitle Software
    
    table.b-dedicated__summary-table
        tr.b-dedicated__summary-table-row(ng-repeat="opt in order.software")
            td.b-dedicated__summary-table-cell {{opt.Name}}
            td.b-dedicated__summary-table-cell € {{opt.PriceEUR}}

    
    //-.b-dedicated__summary-subtitle Network
    //-table.b-dedicated__summary-table
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | 1 x 100Mbps
                | Full-Duplex
            td.b-dedicated__summary-table-cell incl.
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | 1.000Mbps
                | Unmetered
            td.b-dedicated__summary-table-cell € 250
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | 1 IP
            td.b-dedicated__summary-table-cell incl.
    
    //-.b-dedicated__summary-subtitle Contract
    //-table.b-dedicated__summary-table
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | R1Soft CDP Backup
                | Agent - 200GB
            td.b-dedicated__summary-table-cell € 65
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | Silver – 24x7x2
            td.b-dedicated__summary-table-cell € 49
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | Monitoring - Mail
            td.b-dedicated__summary-table-cell € 5
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | Contract Term
            td.b-dedicated__summary-table-cell 1 month
        tr.b-dedicated__summary-table-row
            td.b-dedicated__summary-table-cell
                | Payment period
            td.b-dedicated__summary-table-cell 1 month
    
    .b-dedicated__summary-price
        span.b-dedicated__summary-price-value € {{orderPrice}}/month
        //-span.b-dedicated__summary-price-discount 12% discount, save €97.92
    
    a.b-submit.b-dedicated__summary-submit(href='#') continue