        <div class="b-page">

            <div class="b-page__promo b-page__promo_ssl_yes">
                <h1 class="b-page__promo-title">SSL</h1>
            </div>

            <div class="b-ssl">

                <div class="b-container">
                    <h1 class="b-ssl__title">
                        When online customers feel secure,<br>
                        they are more likely to complete a purchase<br>
                        or personalize their profile and return<br>
                        to your web site.
                    </h1>
                    <p class="b-ssl__description">
                        When online customers feel secure, they are more likely to complete a purchase
                        or personalize their profile and return to your web site. What inspires confidence online?
                        An SSL certificate from a globally recognized certificate authority such as Thawte.
                        Expert support, a robust authentication process, and easy online management make
                        Thawte® SSL Certificates the best value for securing your site.
                    </p>
                </div>

                <table class="b-ssl__table-checkbox">
                        <tr class="b-ssl__table-checkbox-row">
                            <td class="b-ssl__table-checkbox-cell">
                                <h3 class="b-ssl__table-checkbox-text b-ssl__table-checkbox-text_main_yes">Providers</h3>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="1111" type="checkbox">
                                    <span class="">Hostkey</span>
                                </label>
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="222" type="checkbox">
                                    <span class="">Hostkey</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="333" type="checkbox">
                                    <span class="">Symantec</span>
                                </label>
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="444" type="checkbox">
                                    <span class="">Symantec</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="555" type="checkbox">
                                    <span class="">Comodo</span>
                                </label>
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="6666" type="checkbox">
                                    <span class="">Comodo</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="777" type="checkbox">
                                    <span class="">Thawte</span>
                                </label>
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="8888" type="checkbox">
                                    <span class="">Thawte</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="9999" type="checkbox">
                                    <span class="">Symantec</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="10" type="checkbox">
                                    <span class="">Thawte</span>
                                </label>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-checkbox-row">
                            <td class="b-ssl__table-checkbox-cell">
                                <h3 class="b-ssl__table-checkbox-text b-ssl__table-checkbox-text_main_yes">Options</h3>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="1111" type="checkbox">
                                    <span class="">IDN support</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="333" type="checkbox">
                                    <span class="">EV</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="555" type="checkbox">
                                    <span class="">Wildcard</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="777" type="checkbox">
                                    <span class="">SGS</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">
                                <label class="fake-checkbox-label">
                                    <span class="fake-checkbox-label__box js-check"></span>
                                    <input class="hidden-input" name="9999" type="checkbox">
                                    <span class="">Code Signing</span>
                                </label>
                            </td>
                            <td class="b-ssl__table-checkbox-cell">

                            </td>
                        </tr>
                    </table>

                <table class="b-ssl__table">
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes"></td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">SSL 123</h2>
                                <div class="b-ssl-table__subtitle">Get started on the web</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title b-ssl-table__title_red_yes">SSL Web<br>
                                    Server
                                </h2>
                                <div class="b-ssl-table__subtitle">Most popular plan</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">SSL Web<br>
                                    server<br>
                                    with EV
                                </h2>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">Wildcard SSL</h2>
                                <div class="b-ssl-table__subtitle">Scalable hosting with
                                    guaranted resources</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">SSL Web<br>
                                    server<br>
                                    with EV</h2>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_head_yes">
                                <h2 class="b-ssl-table__title">Wildcard SSL</h2>
                                <div class="b-ssl-table__subtitle">Scalable hosting with
                                    guaranted resources</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">199 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">2 999 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">500 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">7 000 EUR / year</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Provider</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Comodo</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">Hostkey</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Comodo</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Thawte</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Comodo</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Thawte</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Authentication
                                    level
                                </h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">Domain validation</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">SSL encryption</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">128 bit</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Warranty</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">500000$</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">Domains secured</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text b-ssl-table__text_red_yes">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-ssl-table__text">1</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">OCSP and CRL
                                    support</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon b-ssl-table__icon_red_yes"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <h3 class="b-ssl__table-cell_main_yes">IDN support</h3>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon b-ssl-table__icon_red_yes"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                            <td class="b-ssl__table-cell b-ssl__table-cell_border_yes">
                                <div class="b-icon b-ssl-table__icon"></div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">199 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">2 999 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">499 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">500 EUR / year</div>
                            </td>
                            <td class="b-ssl__table-cell">
                                <div class="b-ssl-table__price">7 000 EUR / year</div>
                            </td>
                        </tr>
                        <tr class="b-ssl__table-row">
                            <td class="b-ssl__table-cell"></td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                            <td class="b-ssl__table-cell">
                                <a class="b-ssl-table__buy" href="#">BUY</a>
                            </td>
                        </tr>
                    </table>

                <div class="b-faq">
                    <div class="b-faq__list">

                        <h3 class="b-faq__title">POPULAR QUESTIONS</h3>

                        <div class="b-faq__list-content">
                            <div class="b-faq__questions">
                                <a class="b-faq__questions-item" href="#">How to become your client?<span class="b-icon b-faq__questions-item-icon"></span></a>
                                <a class="b-faq__questions-item active" href="#">Law questions<span class="b-icon b-faq__questions-item-icon"></span></a>
                                <a class="b-faq__questions-item" href="#">How check Internet quality?<span class="b-icon b-faq__questions-item-icon"></span></a>
                            </div><!--
                            --><div class="b-faq__answer">
                                <div class="b-faq__answer-content active" data-id="04">
                                    <h2 class="b-faq__answer-content-title">Law questions</h2>
                                    <p class="b-faq__answer-content-text">
                                        We won’t accept your claim/complaint about violation of copyright and associated rights unless made
                                        in writing and delivered to us by registered mail.
                                    </p>
                                    <p class="b-faq__answer-content-text">Our postal address: 19/2, Lva Tolstogo st., 119021, Moscow, Attn: Mir Telematiki Ltd.</p>
                                    <p class="b-faq__answer-content-text">The claim/complaint should include:</p>
                                    <p class="b-faq__answer-content-text">Applicant name (first names and surname — for individuals, full trade name — for companies);</p>
                                    <p class="b-faq__answer-content-text">
                                        Registered address — for companies, registered address and/or place of residence — for individuals
                                        (apartment /suite, street, city, region, republic/country and zip code), i.e. the address to which a reply to your claim/complaint should be sent to; and your e-mail address;
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        State registration certificate data — for companies; identity document (passport or its equivalent)
                                        data — for individuals;
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        Your claim/complaint should specify the grounds for its filing and all material facts.
                                        If any materials/documents/information etc. are available on any websites and that violates any copyright, your claim/complaint should necessarily indicate full references to specific page (pages) of the website on which the given information and materials are located.
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        Also the claim should state that the applicant undertakes to indemnify for losses incurred by the Operator in case of unauthorized website ban, if afterwards the claim is proved to contain false information about violation of the applicant's copyright.
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        The claim should be accompanied by certified copies of documents proving the applicant's copyright.
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        All pages of such enclosed copies should be signed and stamped by the applicant company chief executive;
                                        or such enclosed copies should be certified by a notary public if the applicant is an individual. The claim/
                                        complaint made for and on behalf of a company should be signed and stamped by its chief executive or by any authorized representative acting under the power-of-attorney, the copy of which to be enclosed.
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        The claim made for and on behalf of an individual applicant should be signed by the applicant itself; and the signature on the claim should be certified by a notary public.
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        All claims/complaints are being considered within 60 days. In case of claim satisfaction, infringing materials could be directly deleted with any technical means. The company will take all necessary measures and will notify the applicant about it by e-mail indicated in the claim. If a claim is not accepted for satisfaction or the remedy is not feasible, the company shall provide the applicant with the grounds for its refusal in writing by mail to the address indicated in the claim.
                                    </p>
                                    <p class="b-faq__answer-content-text">
                                        Any claims made by anonyms or delivered by e-mail or fax WILL NOT be accepted and considered.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="footer-push"></div>
        </div>
