//стили

//ui
@import 'ui/**'


._angular

  .b-dedicated__summary
    margin-left 45px


  .b-checkbox-submit.disable
    pointer-events none


  .b-dedicated__summary-table-cell:nth-child(1)
    max-width 150px

  .b-dedicated__summary-table-cell:nth-child(2)
    text-align right
    width 72px

  .table-select__cell-item
    float left
    margin 2px 3px 15px 2px

    &:nth-child(4n+1)
      margin-left 0

    &:nth-child(4n)
      margin-right -5px


  .b-dedicated__accordion-table-cell_title_select
    vertical-align middle
    width 140px
    text-transform uppercase

  .table-select
    border-spacing 0px 15px

  //.b-container table td, .b-container table th
  //  padding 0

  .table-select__cell
    padding-right 5px
