.b-dedicated__hide-block-close(ng-click="close()")
    span.b-icon.b-dedicated__hide-block-close-image
    span.b-dedicated__hide-block-close-text hide

//-.b-dedicated__item-content.b-dedicated__item-content_padding-top_yes.dedicated-item-content
    .b-dedicated__box
        h3.b-dedicated__title.b-dedicated__title_upline_yes Visualisation nodes
        .b-dedicated__description
            | HOSTKEY offers own dedicated and virtual servers in various Datacenters in Moscow, Russia.
            | We are first hands for offshore Dedicated servers in Russia since 2008, managing 600+ servers here with 20+
            | international resellers. Virtually any server configuration could be provided to our customers. We offer
            | full range of modern and stock servers for every task. You could lease Cisco network equipment or collocate
            | your own servers in Moscow.

    table.dedicated-item-content__table

        tr.dedicated-item-content__row.dedicated-item-content__row_title_yes
            td.dedicated-item-content__cell
            td.dedicated-item-content__cell processor
            td.dedicated-item-content__cell memory
            td.dedicated-item-content__cell hard drive
            td.dedicated-item-content__cell hardwear raid
            td.dedicated-item-content__cell vlan
            td.dedicated-item-content__cell impi
            td.dedicated-item-content__cell free bonus
            td.dedicated-item-content__cell monthly (€)

        tr.dedicated-item-content__row

            td.dedicated-item-content__cell
                span.dedicated-item-content__title Video streaming
                span.dedicated-item-content__subtitle For small projects

            td.dedicated-item-content__cell
                .dedicate-select-red.dedicate-select-red__proc_yes.js-drop-block
                    .dedicate-select-red__value.is-value CoreDuo2 E6320 1.86 GHz (2 core)
                    .dedicate-select-red__drop.is-drop
                        .dedicate-select-red__drop-item.js-drop-item.is-active CoreDuo2 E6320 1.86 GHz (2 core)
                        .dedicate-select-red__drop-item.js-drop-item CoreDuo2 E6320 2.86 GHz (4 core)
                        .dedicate-select-red__drop-item.js-drop-item CoreDuo2 E6320 3.86 GHz (8 core)

            td.dedicated-item-content__cell
                select#mem-1.dedicate-select-red.js-select(name='mem-1')
                    option(value='1') 24 Gb
                    option(value='2') 128 Gb
                    option(value='3') 512 Gb

            td.dedicated-item-content__cell
                select#hard-1.dedicate-select-red.dedicate-select-red__hard_yes.js-select(name='hard-1')
                    option(value='1') 2x500Gb SATA
                    option(value='2') 4x500Gb SATA
                    option(value='3') 2x2Tb SATA

            td.dedicated-item-content__cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    input.hidden-input(name='222', type='checkbox')

            td.dedicated-item-content__cell
                select#vlan-1.dedicate-select-red.js-select(name='vlan-1')
                    option(value='1') 100 Mbps
                    option(value='2') 200 Mbps
                    option(value='3') 50 Mbps

            td.dedicated-item-content__cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    input.hidden-input(name='1111', type='checkbox')

            td.dedicated-item-content__cell
                span.dedicate-item-content__text 20 IP, traffic, cPanel, Windows

            td.dedicated-item-content__cell
                a.b-submit.dedicated-item-content__submit(href='#') 1650.65

        tr.dedicated-item-content__row

            td.dedicated-item-content__cell
                span.dedicated-item-content__title First server
                span.dedicated-item-content__subtitle For small projects

            td.dedicated-item-content__cell
                .dedicate-select-red.dedicate-select-red__proc_yes.js-drop-block
                    .dedicate-select-red__value.is-value CoreDuo2 E6320 1.86 GHz (2 core)
                    .dedicate-select-red__drop.is-drop
                        .dedicate-select-red__drop-item.js-drop-item.is-active CoreDuo2 E6320 1.86 GHz (2 core)
                        .dedicate-select-red__drop-item.js-drop-item CoreDuo2 E6320 2.86 GHz (4 core)
                        .dedicate-select-red__drop-item.js-drop-item CoreDuo2 E6320 3.86 GHz (8 core)

            td.dedicated-item-content__cell
                select#mem-1.dedicate-select-red.js-select(name='mem-1')
                    option(value='1') 24 Gb
                    option(value='2') 128 Gb
                    option(value='3') 512 Gb

            td.dedicated-item-content__cell
                select#hard-1.dedicate-select-red.dedicate-select-red__hard_yes.js-select(name='hard-1')
                    option(value='1') 2x500Gb SATA
                    option(value='2') 4x500Gb SATA
                    option(value='3') 2x2Tb SATA

            td.dedicated-item-content__cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    input.hidden-input(name='222', type='checkbox')

            td.dedicated-item-content__cell
                select#vlan-1.dedicate-select-red.js-select(name='vlan-1')
                    option(value='1') 100 Mbps
                    option(value='2') 200 Mbps
                    option(value='3') 50 Mbps

            td.dedicated-item-content__cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    input.hidden-input(name='1111', type='checkbox')

            td.dedicated-item-content__cell
                span.dedicate-item-content__text 20 IP, traffic, cPanel, Windows, VPS, premium SLA, super backup

            td.dedicated-item-content__cell
                a.b-submit.dedicated-item-content__submit(href='#') 1650.65

        tr.dedicated-item-content__row

            td.dedicated-item-content__cell
                span.dedicated-item-content__title Extra power
                span.dedicated-item-content__subtitle For small projects

            td.dedicated-item-content__cell
                .dedicate-select-red.dedicate-select-red__proc_yes.js-drop-block
                    .dedicate-select-red__value.is-value CoreDuo2 E6320 1.86 GHz (2 core)
                    .dedicate-select-red__drop.is-drop
                        .dedicate-select-red__drop-item.js-drop-item.is-active CoreDuo2 E6320 1.86 GHz (2 core)
                        .dedicate-select-red__drop-item.js-drop-item CoreDuo2 E6320 2.86 GHz (4 core)
                        .dedicate-select-red__drop-item.js-drop-item CoreDuo2 E6320 3.86 GHz (8 core)

            td.dedicated-item-content__cell
                select#mem-1.dedicate-select-red.js-select(name='mem-1')
                    option(value='1') 24 Gb
                    option(value='2') 128 Gb
                    option(value='3') 512 Gb

            td.dedicated-item-content__cell
                select#hard-1.dedicate-select-red.dedicate-select-red__hard_yes.js-select(name='hard-1')
                    option(value='1') 2x500Gb SATA
                    option(value='2') 4x500Gb SATA
                    option(value='3') 2x2Tb SATA

            td.dedicated-item-content__cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    input.hidden-input(name='222', type='checkbox')

            td.dedicated-item-content__cell
                select#vlan-1.dedicate-select-red.js-select(name='vlan-1')
                    option(value='1') 100 Mbps
                    option(value='2') 200 Mbps
                    option(value='3') 50 Mbps

            td.dedicated-item-content__cell
                label.fake-checkbox-label
                    span.fake-checkbox-label__box.js-check
                    input.hidden-input(name='1111', type='checkbox')

            td.dedicated-item-content__cell
                span.dedicate-item-content__text 20 IP, traffic, cPanel, Windows

            td.dedicated-item-content__cell
                a.b-submit.dedicated-item-content__submit(href='#') 1650.65

.b-dedicated__item-content.dedicated-item-content

    .b-dedicated__box
        h3.b-dedicated__title.b-dedicated__title_upline_yes configurator of Virtualisation nodes SOLUTIONS
        .b-dedicated__description
            | HOSTKEY offers own dedicated and virtual servers in various Datacenters in Moscow, Russia.
            | We are first hands for offshore Dedicated servers in Russia since 2008, managing 600+ servers here with 20+
            | international resellers. Virtually any server configuration could be provided to our customers. We offer full
            | range of modern and stock servers for every task. You could lease Cisco network equipment or collocate your own
            | servers in Moscow.

    .b-container

        .b-dedicated__accordion

            #scroll-box(accordion="")

                accordion-group(is-open='tabs.hardware.open')

                    accordion-heading
                        span.b-accordion__title-main {{tabs.hardware.name}}
                        span.b-accordion__title-submain {{order.hardware|orderVerbose}}

                    table.b-dedicated__accordion-table

                        tr.b-dedicated__accordion-table-row

                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes {{tabs.hardware.cpu.name}}

                            td.b-dedicated__accordion-table-cell

                                label.b-checkbox-submit.b-checkbox-submit_size_220(ng-repeat="cpu in tabs.hardware.cpu.options", ng-model="order.hardware.cpu", btn-radio="{{cpu}}")
                                    span.b-checkbox-submit__text {{cpu.Name}}

                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes {{tabs.hardware.ram.name}}

                            td.b-dedicated__accordion-table-cell.js-checked
                                label.b-checkbox-submit.b-checkbox-submit_size_70(ng-repeat="ram in tabs.hardware.ram.options", ng-model="order.hardware.ram", btn-radio="{{ram}}")
                                    span.b-checkbox-submit__text {{ram.Name}}


                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes {{tabs.hardware.hdd.name}}
                            td.b-dedicated__accordion-table-cell.js-checked
                                label.b-checkbox-submit.b-checkbox-submit_size_170(ng-repeat="hdd in tabs.hardware.hdd.options", ng-model="order.hardware.hdd", btn-radio="{{hdd}}")
                                    span.b-checkbox-submit__text {{hdd.Name}}

                        //-tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes
                            td.b-dedicated__accordion-table-cell.js-checked
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-1') 1 disk
                                            select#tbl-select-1.table-select__item.js-select(name='tbl-select-1')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-2') 2 disk
                                            select#tbl-select-2.table-select__item.js-select(name='tbl-select-2')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-3') 3 disk
                                            select#tbl-select-3.table-select__item.js-select(name='tbl-select-3')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-4') 4 disk
                                            select#tbl-select-4.table-select__item.js-select(name='tbl-select-4')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                    tr.table-select__row
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-5') 5 disk
                                            select#tbl-select-5.table-select__item.js-select(name='tbl-select-5')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-6') 6 disk
                                            select#tbl-select-6.table-select__item.js-select(name='tbl-select-6')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-7') 7 disk
                                            select#tbl-select-7.table-select__item.js-select(name='tbl-select-7')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-8') 8 disk
                                            select#tbl-select-8.table-select__item.js-select(name='tbl-select-8')
                                                option(value='1') NONE
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                    tr.table-select__row
                                        td.table-select__cell(colspan='3')
                                            label.table-select__item-label(for='tbl-select-9') RAID:
                                            select#tbl-select-9.table-select__item.js-select(name='tbl-select-9')
                                                option(value='1') LSI MegaRAID SAS 9340 (RAID 0-5)(23)
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label(for='tbl-select-10') LEVEL:
                                            select#tbl-select-10.table-select__item.js-select(name='tbl-select-10')
                                                option(value='1') No raid
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb


                accordion-group

                    accordion-heading
                        span.b-accordion__title-main {{tabs.software.name}}
                        span.b-accordion__title-submain {{order.software|orderVerbose}}

                    table.b-dedicated__accordion-table

                        tr.b-dedicated__accordion-table-row

                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes {{tabs.software.os.name}}

                            td.b-dedicated__accordion-table-cell

                                table.table-select

                                    tr.table-select__row

                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb

                                        td.table-select__cell
                                            select.table-select__item.js-select
                                                option(value='1') 64 BIT
                                                option(value='2') 1 Gb
                                                option(value='3') 4 Gb

                                        td.table-select__cell
                                            label.table-select__item-label.table-select__item-label_inline_yes
                                                | RDP
                                                br
                                                | Licenses
                                            input.table-select__input(type='text')
                                            span.table-select__input-x X € 3

                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes MS SQL
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell

                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes
                                | MS Exchange
                                | CALs
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                            label.table-select__item-label.table-select__item-label_inline_yes Count
                                            input.table-select__input(type='text')
                                            span.table-select__input-x X € 2
                                        td.table-select__cell

                accordion-group

                    accordion-heading
                        span.b-accordion__title-main Network
                        span.b-accordion__title-submain 200Mbps unmetered (52Tb max) (140)/2 IPv4 (4)/VLAN port 100Mbps (5)/FTP Backup 1

                    table.b-dedicated__accordion-table
                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes traffic
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  400 Mbps unmetered (104Tb max) (210)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell


                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes ip
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell


                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes vlan
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell


                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes ftp backup
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell


                accordion-group

                    accordion-heading
                        span.b-accordion__title-main SLA
                        span.b-accordion__title-submain Basic SLA /Self-service


                    table.b-dedicated__accordion-table
                        tr.b-dedicated__accordion-table-row

                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes
                                | Service level
                                | agreement

                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  400 Mbps unmetered (104Tb max) (210)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell

                        tr.b-dedicated__accordion-table-row
                            td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes FTP Backup
                            td.b-dedicated__accordion-table-cell
                                table.table-select
                                    tr.table-select__row
                                        td.table-select__cell.table-select__cell_double_yes(colspan='2')
                                            select.table-select__item.js-select
                                                option(value='1')  Windows Server 12 Datacenter (70)
                                                option(value='2') 1 Gb
                                                option(value='3') 2 Gb
                                                option(value='4') 4 Gb
                                        td.table-select__cell
                                        td.table-select__cell


        // Скролящийся блок с результатом подбора
        .b-dedicated__summary(scroll-block="")

            .b-dedicated__summary-title Your dedicated

            .b-dedicated__summary-price
                span.b-dedicated__summary-price-value €{{orderPrice}}/year
                span.b-dedicated__summary-price-discount 12% discount, save €97.92

            a.b-submit.b-dedicated__summary-submit(href='') buy

    .b-container
        table.b-dedicated__accordion-table
            tr.b-dedicated__accordion-table-row
                td.b-dedicated__accordion-table-cell.b-dedicated__accordion-table-cell_title_yes
                    | Billing cycle
                    | discount:
                td.b-dedicated__accordion-table-cell
                    table.table-select
                        tr.table-select__row
                            td.table-select__cell
                                select.table-select__item.js-select
                                    option(value='1') Monthly
                                    option(value='2') 1 Gb
                                    option(value='3') 2 Gb
                                    option(value='4') 4 Gb
                            td.table-select__cell
                            td.table-select__cell
                            td.table-select__cell

