        <div class="b-page">

            <div class="b-page__promo b-page__promo_domains_yes">
                <h1 class="b-page__promo-title">domains</h1>
            </div>

            <div class="b-domains">

                <h3 class="b-domains__title">
                    START YOUR<br>
                    DOMAIN SEARCH
                </h3>

                <div class="b-container">
                    <div class="search-bar">
                        <input class="b-input search-bar__input" type="text"><!--
                        --><a class="b-submit search-bar__submit" href="#"> search</a>
                    </div>
                </div>
                <div class="b-container">
                    <div class="domain-zone">
                        <a class="domain-zone__item js-modal ajax" href="/domains/popup">
                            <span class="domain-zone__item-title">.com</span><br>
                            <span class="domain-zone__item-price">€3</span>
                        </a><!--
                        --><a class="domain-zone__item" href="#">
                            <span class="domain-zone__item-title">.ru</span><br>
                            <span class="domain-zone__item-price">€3</span>
                        </a><!--
                        --><a class="domain-zone__item" href="#">
                            <span class="domain-zone__item-title">.net</span><br>
                            <span class="domain-zone__item-price">€2</span>
                        </a><!--
                        --><a class="domain-zone__item" href="#">
                            <span class="domain-zone__item-title">.info</span><br>
                            <span class="domain-zone__item-price">€12</span>
                        </a><!--
                        --><a class="domain-zone__item" href="#">
                            <span class="domain-zone__item-title">.su</span><br>
                            <span class="domain-zone__item-price">€5</span>
                        </a><!--
                        --><a class="domain-zone__item" href="#">
                            <span class="domain-zone__item-title">.biz</span><br>
                            <span class="domain-zone__item-price">€3</span>
                        </a>
                    </div>
                    <a class="b-news__more" href="#">
                        <div class="b-news__more-plus">
                            <span class="b-icon b-news__more-plus-icon"></span>
                        </div>
                        <div class="b-news__more-text">show all<br>prices</div>
                    </a>
                </div>

                <h3 class="b-domains__title b-domains__title_upline_yes">
                    special offers
                </h3>


                <div class="domains-offers">
                    <a class="domains-offers__item" href="#">
                        <h3 class="domains-offers__item-title">.net</h3>
                        <div class="domains-offers__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-offers__item-price">
                            <div class="domains-offers__item-price-new"> €8.99</div>
                            <div class="domains-offers__item-price-old"> €11.99</div>
                        </div>
                        <div class="domains-offers__item-register">
                            register
                        </div>
                        <div class="domains-offers__item-order">
                            order
                        </div>
                    </a><!--
                    --><a class="domains-offers__item" href="#">
                        <h3 class="domains-offers__item-title">.world</h3>
                        <div class="domains-offers__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-offers__item-price">
                            <div class="domains-offers__item-price-new"> €8.99</div>
                            <div class="domains-offers__item-price-old"> €11.99</div>
                        </div>
                        <div class="domains-offers__item-register">
                            register
                        </div>
                        <div class="domains-offers__item-order">
                            order
                        </div>
                    </a><!--
                    --><a class="domains-offers__item" href="#">
                        <h3 class="domains-offers__item-title">.co</h3>
                        <div class="domains-offers__item-text">
                            Sustainable performance
                        </div>
                        <div class="domains-offers__item-price">
                            <div class="domains-offers__item-price-new"> €8.99</div>
                            <div class="domains-offers__item-price-old"> €11.99</div>
                        </div>
                        <div class="domains-offers__item-register">
                            register
                        </div>
                        <div class="domains-offers__item-order">
                            order
                        </div>
                    </a><!--
                    --><a class="domains-offers__item" href="#">
                        <h3 class="domains-offers__item-title">.space</h3>
                        <div class="domains-offers__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-offers__item-price">
                            <div class="domains-offers__item-price-new"> €8.99</div>
                            <div class="domains-offers__item-price-old"> €11.99</div>
                        </div>
                        <div class="domains-offers__item-register">
                            register
                        </div>
                        <div class="domains-offers__item-order">
                            order
                        </div>
                    </a>
                </div>

                <h3 class="b-domains__title b-domains__title_upline_yes">
                    ADDITIONAL <br>
                    OPTIONS
                    <div class="b-domains__title-descripton">
                        You can activate one of the options in the registration process.
                    </div>
                </h3>



                <div class="domains-options">
                    <a class="domains-options__item" href="#">
                        <img class="domains-options__item-icon" src="/assets/img/icon-option-1.png">
                        <h3 class="domains-options__item-title">Starter</h3>
                        <div class="domains-options__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-options__item-price domains-options__item-price_free_yes">Free</div>
                    </a><!--
                    --><a class="domains-options__item" href="#">
                        <img class="domains-options__item-icon" src="/assets/img/icon-option-2.png">
                        <h3 class="domains-options__item-title">Basic</h3>
                        <div class="domains-options__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-options__item-price">€1.99 / month</div>
                    </a><!--
                    --><a class="domains-options__item" href="#">
                        <img class="domains-options__item-icon" src="/assets/img/icon-option-3.png">
                        <h3 class="domains-options__item-title">Pro</h3>
                        <div class="domains-options__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-options__item-price">€1.99 / month</div>
                    </a><!--
                    --><a class="domains-options__item" href="#">
                        <img class="domains-options__item-icon" src="/assets/img/icon-option-1.png">
                        <h3 class="domains-options__item-title">Starter</h3>
                        <div class="domains-options__item-text">
                            Sustainable performance and
                            dedicated resources of a web-server could be a good solution
                        </div>
                        <div class="domains-options__item-price">€1.99 / month</div>
                    </a>
                </div>

                <a class="b-news__more" href="#">
                    <div class="b-news__more-plus">
                        <span class="b-icon b-news__more-plus-icon"></span>
                    </div>
                    <div class="b-news__more-text">show all<br>prices</div>
                </a>

                <div class="black-sale">
                    {include "Shop_Dedicated_include.black.sale.slider"}
                </div>


            </div>

            <div class="footer-push"></div>
        </div>
