        <div class="b-page">

            <div class="b-page__promo b-page__promo_domains-step-2_yes">
                <h1 class="b-page__promo-title">domains</h1>
            </div>

            <div class="b-domains">

                <h3 class="b-domains__title">
                    START YOUR<br>
                    DOMAIN SEARCH
                </h3>

                <div class="b-container">
                    <div class="search-bar">
                        <input class="b-input search-bar__input" type="text"><!--
                        --><a class="b-submit search-bar__submit" href="#"> search</a>
                    </div>
                </div>

                <div class="b-container">
                    <div class="b-vds-cloud__filter">
                        <div class="b-vds-cloud__filter-box">
                            <div class="b-vds-cloud__filter-label">sort</div>
                            <select class="b-vds-cloud__filter-select table-select__item b-vds-cloud__select js-select" name="der" id="fefe">
                                <option value="1">Price (low->high)</option>
                                <option value="2">Price (high->low)</option>
                                <option value="3">Popular</option>
                            </select>
                        </div><!--
                        --><div class="b-vds-cloud__filter-box">
                            <div class="b-vds-cloud__filter-label">Zone</div>
                            <select class="b-vds-cloud__filter-select table-select__item b-vds-cloud__select js-select" name="der" id="fefe">
                                <option value="1">Top 20</option>
                                <option value="2">Top 50</option>
                                <option value="3">Top 100</option>
                            </select>
                        </div><!--
                        --><div class="b-vds-cloud__filter-check">
                            <label class="fake-checkbox-label">
                                <span class="fake-checkbox-label__box js-check"></span>ONLY SALE
                                <input class="hidden-input" name="check-56" type="checkbox"/>
                            </label>
                        </div><!--
                        --><div class="b-vds-cloud__filter-box">
                            <a class="b-submit b-vds-cloud__submit" href="#"> <span class="b-icon b-vds-cloud__submit-icon"></span> PLACE ORDER (4 DOMAINS, €90)</a>
                        </div>
                    </div>
                </div>

                <div class="b-container">
                    <div class="b-vds-cloud__message">Приносим извинения! <span class="font-28">dribbble.com</span> занят.</div>
                </div>

                <div class="domains-check">

                    <div class="domains-check__row">
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.net</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-1" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.berlin</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-2" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.com</h3>
                            <div class="domains-check__item-text">
                                The domain for entrepreneurs.
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-3" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.space</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-4" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                    </div>
                    <div class="domains-check__row">
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.biz</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-5" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.world</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-6" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.pw</h3>
                            <div class="domains-check__item-text">
                                The domain for entrepreneurs.
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-7" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.no.com</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-8" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                    </div>
                    <div class="domains-check__row">
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.li</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-9" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.info</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-10" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.com.ro</h3>
                            <div class="domains-check__item-text">
                                The domain for entrepreneurs.
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-11" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                        <label class="fake-checkbox-label domains-check__item">
                            <h3 class="domains-check__item-title">.eu.com</h3>
                            <div class="domains-check__item-text">
                                Sustainable performance and
                                dedicated resources of a web-server could be a good solution
                            </div>
                            <div class="domains-check__item-price">
                                <div class="domains-check__item-price-new"> €8.99</div>
                            </div>
                            <span class="fake-checkbox-label__box js-check"></span>
                            <input class="hidden-input" name="check-12" type="checkbox"/>
                            <div class="domains-check__item-register">
                                register
                            </div>
                        </label>
                    </div>

                </div>


            </div>

            <div class="footer-push"></div>
        </div>
