<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="/assets/css/jquery/jquery-ui.min.css"/>
<link rel="stylesheet" href="/assets/css/style.css"/>

<div class="b-page">
    <div class="sertification-block">
        <h3>Оформить сертификат</h3>

    <div class="sertification-block-left">
        <div class="request-sertification">
            <div class="logo-sertification">
                Лого издателя
            </div>
            <div class="name-sertification">
                <div class="name-sertification-text">
                    Название сертификата
                </div>
                <div class="tooltip-sertification">
                    Иконка подсказки
                </div>
            </div>
            <div class="drop-down-list-sertification">
                Выпадающий список
            </div>
        </div>
        <div class="CSR-sertification">
            <div class="CSR-name-text">
                CSR
            </div>
            <div class="CSR-name-tooltip">
                Иконка подсказки
            </div>
            <form class="CSR-textarea-name">
                <input type="textarea"/>
            </form>
            <div class="CSR-instructions-text">
                Инструкция по получению CSR
            </div>
            <form class="CSR-textarea-instruction">
                <input type="textarea"/>
            </form>
            <div class="CSR-enter-text">
                Ввести CSR
            </div>
            <form class="CSR-textarea-enter">
                <input type="textarea"/>
            </form>
            <form class="CSR-textarea-domain">
                <input type="textarea"/>
            </form>
            <form class="CSR-textarea-domain">
                <input type="textarea"/>
            </form>
        </div>
        <div class="CSR-domain">
            <div class="CSR-domain-text">
                Домены
            </div>
            <div class="CSR-domain-left">
                <form class="CSR-textarea-domain">
                    <input type="textarea"/>
                </form>
                <form class="CSR-textarea-domain">
                    <input type="textarea"/>
                </form>
            </div>
            <div class="CSR-domain-right">
                <button class="CSR-domain-button-close">Закрыть</button><br>
                <button class="CSR-domain-button-add">Добавить домен</button>
            </div>
        </div>
    </div>
    <div class="sertification-block-right">
        <div class="SSL-your">
            <div class="domains-step__summary domains-step__summary_is-purpur" id="scroll-block">
                <div class="domains-step__summary-title">Your SSL</div>
                <div class="domains-step__summary-section" id="registerSection">
                    <div class="domains-step__summary-subtitle">Register</div>
                    <table class="domains-step__summary-table" id="domains-register-table">
                        <tbody>
                        <!-- json content -->
                        </tbody>
                    </table>
                </div>
                <div class="domains-step__summary-section" id="transferSection">
                    <div class="domains-step__summary-subtitle">Transfer</div>
                    <table class="domains-step__summary-table" id="domains-transfer-table">
                        <tbody>
                        <!-- json content -->
                        </tbody>
                    </table>
                </div>
                <div class="domains-step__summary-price">
                    <span class="domains-step__summary-price-value" id="Summa">Empty cart</span>
                    <span class="domains-step__summary-price-discount" id="Discount"></span>
                </div>
                <button class="b-submit domains-step__summary-submit" href="#" id="buy">Next</button>
            </div>
        </div>
    </div>
    </div>

    </div>
</body>
</html>