.b-dedicated__box
    h3.b-dedicated__title.b-dedicated__title_upline_yes
        | OUR
        br
        | SOLUTIONS
    .b-dedicated__switch.js-switch-box
        .b-dedicated__switch-item(ng-click="changeCountry('NL')", ng-class="{active:$stateParams.country==='NL'}") netherland
        .b-dedicated__switch-item /
        .b-dedicated__switch-item(ng-click="changeCountry('RU')", ng-class="{active:$stateParams.country==='RU'}") russia

.b-dedicated__list.js-switch-box

    .b-dedicated__item.js-switch-item.js-more-setting(ng-class="{active:$stateParams.type==='Micro'}", ui-sref=".selected({type:'Micro', country:$stateParams.country})")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-1.png')
        h3.b-dedicated__item-title Micro servers
        h4.b-dedicated__item-subtitle For smalll projects
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €15.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item(ng-class="{active:$stateParams.type==='Mini'}", ui-sref=".selected({type:'Mini', country:$stateParams.country})")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-2.png')
        h3.b-dedicated__item-title Mini servers
        h4.b-dedicated__item-subtitle For smalll projects
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €25.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item.js-switch-item.js-more-setting(data-url="/application/shop/view/Dedicated/include.ajax.content.1.html")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-3.png')
        h3.b-dedicated__item-title Virtualisation nodes
        h4.b-dedicated__item-subtitle Power of one server
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €25.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item.js-switch-item.js-more-setting(data-url="/application/shop/view/Dedicated/include.ajax.content.1.html")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-4.png')
        h3.b-dedicated__item-title Hosting nodes
        h4.b-dedicated__item-subtitle Power of one server
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €25.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item.js-switch-item.js-more-setting(data-url="/application/shop/view/Dedicated/include.ajax.content.1.html")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-5.png')
        h3.b-dedicated__item-title Storage
        h4.b-dedicated__item-subtitle Power of one server
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €25.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item.js-switch-item.js-more-setting(data-url="/application/shop/view/Dedicated/include.ajax.content.1.html")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-6.png')
        h3.b-dedicated__item-title Big data
        h4.b-dedicated__item-subtitle For smalll projects
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €15.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item.js-switch-item.js-more-setting(data-url="/application/shop/view/Dedicated/include.ajax.content.2.html")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-7.png')
        h3.b-dedicated__item-title Configurator
        h4.b-dedicated__item-subtitle Your own configuration
        .b-dedicated__item-start Starts from
        .b-dedicated__item-price €15.99/month
        a.b-dedicated__item-detail(href='#') Detail

    .b-dedicated__item.js-switch-item.js-more-setting(data-url="/application/shop/view/Dedicated/include.ajax.content.3.html")
        img.b-dedicated__item-image(src='/assets/img/dedicate-select-icon-2-8.png')
        h3.b-dedicated__item-title Extra price
        h4.b-dedicated__item-subtitle 2014 sale
        .b-dedicated__item-start.b-dedicated__item-start_red_yes Starts from
        .b-dedicated__item-price.b-dedicated__item-price_red_yes €25.99/month
        a.b-dedicated__item-detail(href='#') Detail


//- выбранное решение
.b-dedicated__hide-block.js-setting(id="selectedSolution", ui-view="", ng-class="{'_angular': $state.includes('dedicatedService.selected')}")
