<script>
    window.country = 'NL';
    window.currency = '{$currency}';
    window.currencyId = {$currencyId};
    window.pid = 448;
    window.type = 'dedicated';
</script>
<div class="b-page" ng-app="app.dedicated.sale" class="fade" ng-class="bodyClass()">

    <div class="b-page__promo b-page__promo_dedicated-select-service_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <h3 class="b-dedicated__title">
        Sale<br>
        FEATURE
    </h3>
    {plugin "Content_ContentBlock_Plugin" view="SelectService" target="top"}

    <div class="b-dedicated__box" style="margin-bottom:70px;">
        <br anchor="scroll">
        <div class="b-dedicated__switch js-switch-box">
            <div  class="b-dedicated__switch-item active  flag_nl">
                netherlands
            </div>
            <div class="b-dedicated__switch-item">/</div>
            <div class="b-dedicated__switch-item  flag_ru">
                <a id="change_russia_sale" ng-click="url('/dedicated/sale/russia?scroll')" href="" target="_self" title="ckoud VDS Russia" style="text-decoration: none; color: black;">
                    russia
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="b-text-page-ref">
        <ul class="refPlugin">
            <li><a href="">Data centers</a></li>
            <li>&nbsp;|&nbsp;</li>
            <li><a href="">Speedtest</a></li>
            <li>&nbsp;|&nbsp;</li>
            <li><a href="">Test</a></li>
        </ul>
    </div>

    <div class="b-text-page" ui-view="" id="scroll-anchor-01"></div>

    {plugin "Content_ContentBlock_Plugin" view="SelectServiceFeatures" target="feature"}
    {plugin "Content_ContentBlock_Plugin" view="NeedMore" target="information"}
    <div class="footer-push"></div>
</div>