<div class="b-page">

    <div class="b-page__promo b-page__promo_dedicated-select-service_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <h3 class="b-dedicated__title">
        Sale<br>
        FEATURE
    </h3>
    {plugin "Content_ContentBlock_Plugin" view="SelectService"}

    <div class="b-text-page">


        <div class="b-text-page__box" id="scroll-anchor-01">
            <h3 class="b-text-page__title b-text-page__title_upline_yes">
                {Zero_App::$Section->NameSub}
            </h3>
            <div class="b-dedicated__description">
                {Zero_App::$Section->Content}
            </div>
        </div>

        <div class="b-dedicated__hide-block-close js-close">
            <span class="b-icon b-dedicated__hide-block-close-image"></span>
            <span class="b-dedicated__hide-block-close-text">hide</span>
        </div>

        <div>

            <div class="b-container">

                <!--
                <div class="dedicated-extra-price__box">
                    <table class="dedicated-extra-price__table dedicated-extra-price__table_type_head">
                        <tr class="dedicated-extra-price__table-row">
                            <td class="dedicated-extra-price__table-cell js-checked">
                                <div class="dedicated-extra-price__table-title">CPU number</div>
                    <label class="b-checkbox-submit b-checkbox-submit_size_70">
                                <span class="b-checkbox-submit__text">1 CPU</span>
                                <input class="js-checked-submit" name="check-01" type="radio"/>
                            </label>
                    <label class="b-checkbox-submit b-checkbox-submit_size_70">
                                <span class="b-checkbox-submit__text">2 CPU</span>
                                <input class="js-checked-submit" name="check-01" type="radio"/>
                            </label>
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <div class="dedicated-extra-price__table-title">Sort</div>
                                <select class="table-select__item js-select" name="tbl-select-1" id="tbl-select-1">
                                    <option value="1">Price (low -> high)</option>
                                    <option value="2">Price (high -> low)</option>
                                    <option value="3">New (old -> new</option>
                                    <option value="4">New (new -> old</option>
                                </select>
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <button class="b-submit dedicated-extra-price__table-submit" type="button">find</button>
                            </td>
                        </tr>
                    </table>
                </div>
                -->

                <div class="dedicated-extra-price__box">
                    <table class="dedicated-extra-price__table">
                        <tr class="dedicated-extra-price__table-row dedicated-extra-price__table-row_title_yes">
                            <td class="dedicated-extra-price__table-cell"></td>
                            <td class="dedicated-extra-price__table-cell">processor</td>
                            <td class="dedicated-extra-price__table-cell">memory</td>
                            <td class="dedicated-extra-price__table-cell">hard drive</td>
                            <td class="dedicated-extra-price__table-cell">hw raid</td>
                            <td class="dedicated-extra-price__table-cell">PORT</td>
                            <td class="dedicated-extra-price__table-cell">OS</td>
                            <td class="dedicated-extra-price__table-cell">monthly</td>
                        </tr>
                        {foreach ($configuration as $key => $row)}
                        <tr class="dedicated-extra-price__table-row">
                            <td class="dedicated-extra-price__table-cell">
                                {if ( 'NL' == $row['LocationCode'] )}
                                <span class="b-icon b-flag b-flag_country_nether"></span>
                                {else}
                                <span class="b-icon b-flag"></span>
                                {/if}
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <div class="dedicated-extra-price__text">
                                    {$row['Cpu']['Name']}
                                </div>
                                <div class="b-range">
                                    <a href="{$row['Cpu']['KpdLink']}" title="Performance per CPU: {$row['Cpu']['Kpd']}, total: {$row['Cpu']['Kpd']}" target="_blank">
                                        {for ($j = 0; $j < 24000; $j += 1500)}
                                        {if ( $j <= $row['Cpu']['Kpd'] )}
                                        <span class="b-range__item b-range__item_type_green"></span>
                                        {else}
                                        <span class="b-range__item"></span>
                                        {/if}
                                        {/for}
                                    </a>
                                </div>
                                {if ( 1 < $row['Cpu']['Cnt'] )}
                                <div class="b-range">
                                    <a href="{$row['Cpu']['KpdLink']}" title="Performance per CPU: {$row['Cpu']['Kpd']}, total: {$row['Cpu']['Kpd']}" target="_blank">
                                        {for ($j = 0; $j < 24000; $j += 1500)}
                                        {if ( $j <= $row['Cpu']['Kpd'] )}
                                        <span class="b-range__item b-range__item_type_green"></span>
                                        {else}
                                        <span class="b-range__item"></span>
                                        {/if}
                                        {/for}
                                    </a>
                                </div>
                                {/if}
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <span class="dedicated-extra-price__text">{$row['Ram']} GB</span>
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <span class="dedicated-extra-price__text">
                                {foreach ($row['Hdd'] as $h)}
                                {$h}<br>
                                {/foreach}
                                </span>
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                {if ( $row['Raid'] )}
                                <span class="b-icon dedicated-extra-price__icon-good"></span>
                                {/if}
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <span class="dedicated-extra-price__text">
                                  <select id='port{$key}' name="listPort" style="width: 80px;" onchange="changeSum({$key});">
                                      {foreach ($listPort as $r)}
                                      {if ( 0 < $r['Price'] )}
                                      <option value="{$r['ID']};{$r['Price']}">{$r['Name']} ({$r['Price']})</option>
                                      {else}
                                      <option value="{$r['ID']};{$r['Price']}">{$r['Name']}</option>
                                      {/if}
                                      {/foreach}
                                  </select>
                                </span>
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                <select id='os{$key}' name="listOS" style="width: 230px;" onchange="changeSum({$key});">
                                    {foreach ($listOs as $r)}
                                    {if ( 0 < $r['Price'] )}
                                    <option value="{$r['ID']};{$r['Price']}">{$r['Name']} ({$r['Price']})</option>
                                    {else}
                                    <option value="{$r['ID']};{$r['Price']}">{$r['Name']}</option>
                                    {/if}
                                    {/foreach}
                                </select>
                            </td>
                            <td class="dedicated-extra-price__table-cell">
                                {if ( $row['Price']['Price'] )}
                                <input type="hidden" id="price{$key}" value="{$row['Price']['Price']}">
                                <a class="b-submit dedicated-item-content__submit" onclick="return saleBuy({$key});" href="#" id="sum{$key}">€{$row['Price']['Price']}.00</a>
                                {/if}
                            </td>
                        </tr>
                        {/foreach}

                    </table>
                </div>
                <!--
                <div class="dedicated-extra-price__box dedicated-extra-price__box_last_yes">
                    <a class="b-submit dedicated-extra-price__banner" href="#">
                        SHOW EXTRA PRICE SERVERS IN RUSSIAN DATA CENTER /<br>
                        starst from РІвЂљВ¬15.99/month
                    </a>
                </div>
                -->

            </div>

        </div>

        <script>
            function changeSum(id)
            {
                var port = document.getElementById("port"+id);
                var portPrice = port.value.split(";")[1];

                var os = document.getElementById("os"+id);
                var osPrice = os.value.split(";")[1];

                var price = document.getElementById("price"+id);

                var sum = Number(portPrice) + Number(osPrice) + Number(price.value)

                var obj = document.getElementById("sum"+id);
                obj.innerHTML = '€' + sum + '.00';
            }
            function saleBuy(id)
            {
                var os = document.getElementById("os"+id).value;
                os = os.split(";")[0];
                if ( !os ) {
                    alert('OS not selected');
                    return false;
                }
                var port = document.getElementById("port"+id).value;
                port = port.split(";")[0];
                if ( !port ) {
                    alert('Port not selected');
                    return false;
                }

                //
                var order = {};
                order['os'] = os;
                order['port'] = port;
                order['compId'] = id;
                window.console.log(order);

                jQuery.post("/api/v1/dedicated/order-stock-fake", order,
                        function (data) {
                            if (data) {
                                if (data['ErrorStatus'] == true ) {
                                    alert(data['Message']);
                                    window.console.log(data);
                                    return;
                                }
                                //window.console.log(data);
                                var str = "https://bill.hostkey.com/cart.php?a=add&currency=" + data['Content']['currencyId'] + "&pid=448";
                                str += "&configoption[600]=" + data['Content']['OptionID'];
                                str += "&billingcycle=monthly&customfield[220]=" + data['Content']['Configuration'];
                                window.console.log(str);
                                document.location = str;
                                //window.console.log(data);
                                //document.location = "https://bill.hostkey.com/cart.php?a=view";
                            } else {
                                alert('Error order create');
                            }
                        });
                return false;
            }
            $('#js-countdown-6').timeTo({
                seconds: 7660,
                displayCaptions: true,
                captionSize: 8
            });
            $('#js-countdown-7').timeTo({
                seconds: 3660,
                displayCaptions: true,
                captionSize: 8
            });
            $('#js-countdown-8').timeTo({
                seconds: 5660,
                displayCaptions: true,
                captionSize: 8
            });
        </script>
        {foreach ($configuration as $key => $row)}
        <script>
            $('#js-countdown-{$key}').timeTo({
                seconds: 5660,
                displayCaptions: true,
                captionSize: 8
            });
        </script>
        {/foreach}
    </div>
    <div class="footer-push"></div>
</div>