<script>
    window.country = 'RU';
    window.currency = 'eur';
</script>

<div class="b-page" ng-app="app.dedicated.sale" class="fade" ng-class="bodyClass()">

    <div class="b-page__promo b-page__promo_dedicated-select-service_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <div class="b-text-page" ui-view=""></div>

    <div class="footer-push"></div>
</div>