<script>
window.currency = '{$currency}';
window.currencyId = {$currencyId};
window.pid = 448;
window.country = 'NL';
window.type = 'dedicated';
</script>
<div class="b-page" ng-app="dedicated.service" class="fade" ng-class="bodyClass()">

    <div class="b-page__promo b-page__promo_dedicated-select-service_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <div class="b-dedicated">

        <h3 class="b-dedicated__title">
           DEDICATED<br>
            FEATURE
        </h3>

        {plugin "Content_ContentBlock_Plugin" view="SelectService"}

        <input type="hidden" name="currency" value="{$currency}">
        <input type="hidden" name="currencyId" value="{$currencyId}">

        <div ui-view="solutions" id="scroll-anchor-01"></div>

        <iframe id="configure_cloud_VDS" src="" name="configure_cloud_VDS"></iframe>


        <div class="b-dedicated__box">
            <h3 class="b-dedicated__title b-dedicated__title_upline_yes">
                features
            </h3>

        </div>

        {plugin "Content_ContentBlock_Plugin" view="SelectServiceFeatures" IsFeatures="1"}



        <div class="b-dedicated__free">
            <div class="b-dedicated-try__line">
                <span class="b-vps__try-line-text">Try before you buy</span>
            </div>
            <a class="b-dedicated__free-title" href="#">Request<br>a free<br>test drive</a>
            <div class="b-dedicated__free-period"></div>
            <a class="b-submit b-dedicated__free-submit" href="http://site-f.hostke.ru/about/contacts">contact us</a>
        </div>

        <div class="need-more-resousrses">
            <span class="b-vps__try-line-text need-more-resousrses-container-zag" data_id_need="need_more">need more information?</span>
            <div class="need-more-resousrses-container-header-triangle-white" data_id_need_triangle="need_more"></div>
        </div>
        <div class="need-more-resousrses-container">
            {plugin "Zero_Content_Plugin_Page" block="content_Left"}

        </div>
        <div style="clear:both;"></div>

        <div class="black-sale">
            <h2 class="black-sale__title">CHECK OUR SPECIAL OFFERS!</h2>
            {include "Shop_Dedicated_include.black.sale.slider"}
        </div>

    </div>

    <div class="footer-push"></div>
</div>
<style>
    .need-more-resousrses {
        background-color: #945ae0;
        box-sizing: border-box;
        padding:  20px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }
    .need-more-resousrses-container {
        display: none;
        background-color: #fff;
        width: 100%;
        padding: 0 0 20px 0;
    }
    .need-more-resousrses-container-messager {
        display: none;
        margin: 0 0 20px 20px;
    }
    .need-more-resousrses-container-header{
        padding: 20px;
        font-size: 20px;
        color: #945ae0;
        cursor: pointer;
        margin: 1px;
    }
    .need-more-resousrses-container-zag {
        display: inline-block;
        text-decoration: underline;
    }
    .need-more-resousrses-container-header-triangle {
        display: inline-block;
        border: 10px solid transparent;
        border-top: 10px solid #945ae0;
        position: relative;
        top: 8px;
        left: 0;
    }
    #configure_cloud_VDS {
        border: none;
        display: none;
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        background: #fff;
    }
    .need-more-resousrses {
        background-color: #945ae0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        margin: 20px 0 0;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        text-decoration: underline;
    }
    .need-more-resousrses-container-header-triangle-white {
        display: inline-block;
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #fff; /* Добавляем треугольник */
        position: relative;
        top: 8px;
        left: 0;
    }
</style>
<script>
    $(document).ready(function (){

        $("body").on("click", ".b-submit", function () {
            $( 'body #selectedSolution').hide( 'slow');
            $( '#configure_cloud_VDS').show( 'slow');
        });

        $( '.need-more-resousrses').bind( 'click', function(){
            $( ".need-more-resousrses-container" ).toggle();
        });

        $( '.need-more-resousrses-container-zag' ).bind( 'click', function(){
            var id = $( this).attr( 'data_id_need');
            var d = $( '[data_id_need_content_position="' + id + '"]');
            var t= $( '[data_id_need_triangle="' + id + '"]');
            d.toggle();
            t.css( 'border', '10px solid transparent' );
            if ( d.css( 'display') == 'none' ){
                t.css({
                    "border-top": "10px solid",
                    "top": "8px"
                });
            } else {
                t.css( {
                    "border-bottom": "10px solid",
                    "top": "0px"
                } );
            }

        });

    });
</script>
