<script>
    window.currency = '{$currency}';
    window.currencyId = {$currencyId};
    window.pid = 448;
    window.country = 'RU';
    window.type = 'dedicated';
</script>
<div class="b-page" ng-app="dedicated.service" class="fade" ng-class="bodyClass()">

    <div class="b-page__promo b-page__promo_dedicated-select-service_yes">
        <div class="b-icon b-page__scroll-icon" onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title">{$Head}</h1>
    </div>

    <div class="b-dedicated">

        <h3 class="b-dedicated__title" id="scroll-anchor-01">
            DEDICATED<br>
            FEATURE
        </h3>

        {plugin "Content_ContentBlock_Plugin" view="SelectService" target="top"}

        <input type="hidden" name="currency" value="{$currency}">
        <input type="hidden" name="currencyId" value="{$currencyId}">

        <div ui-view="solutions"></div>

        <iframe id="configure_cloud_VDS" src="" name="configure_cloud_VDS"></iframe>
        <div class="b-dedicated__services">
            <a href="/about/datacenter" target="_blank" class="b-dedicated__services-block">
                <div class="b-dedicated__services-block-image">
                    <img src="/assets/img/block_data.png">
                </div>
                <div class="b-dedicated__services-block-description">
                    <h3 class="b-dedicated__services-block-title">
                        Data Centers
                    </h3>
                    <p class="b-dedicated__services-block-text">
                        Get acquainted with our state of art TIER III data centers. <span>>></span>
                    </p>
                </div>
            </a>
            <a href="/support/speedtest" target="_blank" class="b-dedicated__services-block">
                <div class="b-dedicated__services-block-image">
                    <img src="/assets/img/block_speedtest.png">
                </div>
                <div class="b-dedicated__services-block-description">
                    <h3 class="b-dedicated__services-block-title">
                        Speedtest
                    </h3>
                    <p class="b-dedicated__services-block-text">
                        Determine how our network performs: run speedtest! <span>>></span>
                    </p>
                </div>
            </a>
            <a href="/support/faq" target="_blank" class="b-dedicated__services-block">
                <div class="b-dedicated__services-block-image">
                    <img src="/assets/img/block_test.png">
                </div>
                <div class="b-dedicated__services-block-description">
                    <h3 class="b-dedicated__services-block-title">
                        Try before you buy
                    </h3>
                    <p class="b-dedicated__services-block-text">
                        Be the judge. Take our servers for a test drive! <span>>></span>
                    </p>
                </div>
            </a>
            <div style="clear: both;"></div>
        </div>

        {plugin "Content_ContentBlock_Plugin" view="SelectServiceFeatures" target="feature"}
        {plugin "Content_ContentBlock_Plugin" view="Voucher" target="voucher"}
        {plugin "Content_ContentBlock_Plugin" view="NeedMore" target="information"}
        <div style="clear:both;"></div>

        <div class="black-sale">
            <h2 class="black-sale__title">CHECK OUR SPECIAL OFFERS!</h2>
            {include "Shop_Dedicated_include.black.sale.slider"}
        </div>

    </div>

    <div class="footer-push"></div>
</div>
<style>
    #configure_cloud_VDS {
        border: none;
        display: none;
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        background: #fff;
    }
</style>
<script>
    $(document).ready(function () {

        $("body").on("click", ".b-submit", function () {
            $('body #selectedSolution').hide('slow');
            $('#configure_cloud_VDS').show('slow');
        });

    });
</script>
