<header class="b-header" id="header">

    <div class="b-header__wrapper">
        <a class="b-logo" href="/"></a>

        <div class="b-menu">
            <nav class="b-menu__item b-menu__item_nav_yes nav">
                <div class="nav__item nav__item_drop_yes">
                    <a class="nav__link" href="/web">WEB</a>
                    <div class="b-sub-menu">
                        <div class="b-menu__item b-menu__item_nav_yes nav">
                            <div class="nav__item">
                                <a class="nav__link" href="/web/hosting">Webhosting</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/web/domains">Domain names</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/web/ssl">SSL-certificates</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/web/container">Container VPS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__item nav__item_drop_yes">
                    <a class="nav__link" href="/dedicated">DEDICATED</a>
                    <div class="b-sub-menu">
                        <div class="b-menu__item b-menu__item_nav_yes nav">
                            <div class="nav__item">
                                <a class="nav__link" href="/dedicated/service">Dedicated servers</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">VDS</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/dedicated/step2">Sale</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__item nav__item_drop_yes">
                    <a class="nav__link" href="/cloud">CLOUD</a>
                    <div class="b-sub-menu">
                        <div class="b-menu__item b-menu__item_nav_yes nav">
                            <div class="nav__item">
                                <a class="nav__link" href="/cloud/vps">Container VPS</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/cloud/manager">Managed cloud</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/cloud/vds">Cloud VDS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__item nav__item_drop_yes">
                    <a class="nav__link" href="#">SOLUTIONS</a>
                    <div class="b-sub-menu">
                        <div class="b-menu__item b-menu__item_nav_yes nav">
                            <div class="nav__item">
                                <a class="nav__link" href="#">Secure e-mail service</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">DDoS protection</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Software-as-a-Service</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Load balancing</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">CDN</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Satellite dish hosting</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Colocation</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Service in Russia</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__item nav__item_drop_yes ">
                    <a class="nav__link nav__link_active" href="/about">ABOUT</a>
                    <div class="b-sub-menu">
                        <div class="b-menu__item b-menu__item_nav_yes nav">
                            <div class="nav__item">
                                <a class="nav__link" href="/about">About</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/news">News</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link nav__link_active" href="#">Network</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Datacenters</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">For resellers and affiliate partners</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Support</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="#">Contact support</a>
                            </div>
                            <div class="nav__item">
                                <a class="nav__link" href="/contacts">Contacts</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__item">
                    <a class="nav__link" href="#">SUPPORT</a>
                </div>
                <div class="nav__item">
                    <a class="nav__link" href="#">CLIENT AREA</a>
                </div>
            </nav>
            <div class="b-menu__item b-menu__item_phone_yes">+31 20 820 3777</div>
        </div>
    </div>

</header>

<!-- Иконка онлайн-консультанта-->

<!--div class="online-chat">
    <a class="b-icon online-chat__icon" href="#"></a>
</div-->

<div style="position: absolute; color: #fff; top: 60px;" data-id="eVQRGWujmG" class="online-chat__icon livechat_button"><a href="http://www.livechatinc.com/?partner=lc_6343171&amp;utm_source=chat_button">live chat software</a></div>
<script type="text/javascript">
    var __lc = {};
    __lc.license = 6343171;
    __lc.group = 1;

    (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
</script>