<div class="b-page">

    <div class="b-page__promo b-page__promo_about_yes">
        <h1 class="b-page__promo-title">{Zero_App::$Section->Name}</h1>
    </div>

    <div class="b-about">
        <div class="b-container editable-area">
            <div class="b-col b-about__description">
                <div class="b-col__item">
                    {plugin "Zero_Content_Plugin_Page" block="content_Left"}
                </div><!--
                        --><div class="b-col__item">
                {plugin "Zero_Content_Plugin_Page" block="content_Center"}
            </div><!--
                        --><div class="b-col__item">
                {plugin "Zero_Content_Plugin_Page" block="content_Right"}
            </div>
            </div>
        </div>

        <div class="b-page__promo b-page__promo_about-2_yes"></div>

        <div class="b-about__offer">
            <div class="b-container">
                <h2 class="b-about__offer-title">
                    Advantages<br>
                    offered
                </h2>
            </div>

            {plugin "Content_ContentBlock_Plugin" view="About"}

        </div>


    </div>

    <div class="footer-push"></div>
</div>