<div class="b-page is-black">

    <div class="b-page__promo b-page__promo_main_yes"
         data-path="video/"
         data-file="wave"
         data-poster="media/promo_main.png"
         data-types='["mov"]'>
        <h1 class="b-page__promo-title">Premium<br>
            telematics<br>
            services
        </h1>
        <div class="b-page__promo-text">
            Dedicated servers, VPS, VDS,<br>
            hosting, cloud and more
        </div>

        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>

        <div class="b-page__promo-dots"></div>
    </div>

    <div class="b-main-page">

        <h3 class="b-main-page__title " id="scroll-anchor-01">
            best offers
            <span class="b-main-page__title-description">Follow us: <a class="b-link" href="#">facebook</a> / <a class="b-link" href="#">twitter</a></span>
        </h3>



        <div class="main-page-offers">
            <a class="main-page-offers__item" href="/web/hosting">
                <h3 class="main-page-offers__item-title">Hosting</h3>
                <div class="main-page-offers__item-text">
                    Fully configurable dedicated servers
                </div>
                <div class="main-page-offers__item-price">
                    <div class="main-page-offers__item-price-new"> 75€</div>
                </div>
                <div class="main-page-offers__item-register">
                    Configurate
                </div>
                <div class="main-page-offers__item-order">
                    order
                </div>
            </a><!--
                        --><a class="main-page-offers__item" href="/web/domains">
            <h3 class="main-page-offers__item-title">Domain names</h3>
            <div class="main-page-offers__item-text">
                Fully configurable dedicated servers
            </div>
            <div class="main-page-offers__item-price">
                <div class="main-page-offers__item-price-new"> 1€</div>
            </div>
            <div class="main-page-offers__item-register">
                Configurate
            </div>
            <div class="main-page-offers__item-order">
                order
            </div>
        </a><!--
                        --><a class="main-page-offers__item" href="/cloud/vps">
            <h3 class="main-page-offers__item-title">Cloud VPS</h3>
            <div class="main-page-offers__item-text">
                Fully configurable dedicated servers
            </div>
            <div class="main-page-offers__item-price">
                <div class="main-page-offers__item-price-new">99€</div>
            </div>
            <div class="main-page-offers__item-register">
                Configurate
            </div>
            <div class="main-page-offers__item-order">
                order
            </div>
        </a><!--
                        --><a class="main-page-offers__item" href="/dedicated">
            <h3 class="main-page-offers__item-title">Dedicated</h3>
            <div class="main-page-offers__item-text">
                Fully configurable dedicated servers
            </div>
            <div class="main-page-offers__item-price">
                <div class="main-page-offers__item-price-new">70€</div>
            </div>
            <div class="main-page-offers__item-register">
                Configurate
            </div>
            <div class="main-page-offers__item-order">
                order
            </div>
        </a>
        </div>
        <a class="b-news__more" href="#">
            <div class="b-news__more-plus">
                <span class="b-icon b-news__more-plus-icon"></span>
            </div>
            <div class="b-news__more-text">more<br>offers</div>
        </a>

        <div class="b-main-page__offer">
            <h2 class="b-main-page__title b-main-page__title_upline_yes">
                Our<br>
                advantages
            </h2>

            {plugin "Content_ContentBlock_Page" view="Content_ContentBlock_MainPage"}

        </div>
        <div class="b-main-page__slider js-carousel-4">
            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-01.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-02.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-03.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-04.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-05.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-06.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-07.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-08.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-01.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-02.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-03.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-04.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            Hostkey is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="b-main-page__news">

            <h2 class="b-main-page__title b-main-page__title_upline_yes">
                news
            </h2>

            <div class="b-main-page__news-list">
                <div class="b-main-page__news-item">
                    <div class="b-main-page__news-item-title">
                        HOSTKEY finally deployed
                        HYPER-V cluster in our NL facility and proud to offer reliable
                        Windows hosts.
                    </div>
                    <div class="b-main-page__news-item-date b-main-page__news-item-date_first_yes">10.04.2015</div>
                    <p class="b-main-page__news-item-text">
                        We would like to inform you that the European Directive 2002/38/EC has introduced new VAT rules involving business to consumer supplies of digital services, which came into force on the 1st January 2015.
                    </p>
                </div><!--
                        --><div class="b-main-page__news-item">
                <div class="b-main-page__news-item-title">
                    100Mbps unmetered traffic for
                    RU servers for just 70 euros
                </div>
                <div class="b-main-page__news-item-date b-main-page__news-item-date_first_yes">11.04.2015</div>
                <p class="b-main-page__news-item-text">
                    For example, our customer based in Germany (VAT 19%) will be paying less than
                    a customer in the Netherlands (VAT 21%), because of the difference in the VAT policies of those two countries.
                </p>
            </div><!--
                        --><div class="b-main-page__news-item">
                <div class="b-main-page__news-item-title">
                    HOT: CUSTOM NL VPS SSD
                    avaliable from HOSTKEY -
                    from 6 euros
                </div>
                <div class="b-main-page__news-item-date b-main-page__news-item-date_first_yes">12.04.2015</div>
                <p class="b-main-page__news-item-text">
                    According to the new rules, end customers will be liable for segmented VAT rates
                    depending on the country of their own
                    residency, not on the country where the
                    provider is located (as it has been until now). This change may either decrease or increase your monthly charges for our services
                    depending on your residency.
                </p>
            </div>
            </div>


        </div>


    </div>

    <div class="footer-push"></div>
</div>
