<div class="b-page is-black">

    <div class="b-page__promo b-page__promo_main_yes"
         data-path="video/"
         data-file="wave"
         data-poster="media/promo_main.png"
         data-types='["mov"]'>
        <h1 class="b-page__promo-title">Premium<br>
            telematics<br>
            services
        </h1>
        <div class="b-page__promo-text">
            Dedicated servers, VPS, VDS,<br>
            hosting, cloud and more
        </div>

        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>

        <div class="b-page__promo-dots"></div>
    </div>

    <div class="b-main-page">

        <h3 class="b-main-page__title " id="scroll-anchor-01">
            best offers
            <span class="b-main-page__title-description">Follow us:
                  <a class="b-link" href="http://facebook.com" title="Facebook"><img src="/assets/img/fb.png" border="0" style="margin: 0 0 -10px 0"/></a>
                <a class="b-link" href="http://twitter.com" title="Twitter"><img src="/assets/img/tv.png" border="0" style="margin: 0 0 -10px 0"/></a>
                 <a class="b-link" href="http://weibo.com" title="Sina Weibo"><img src="/assets/img/v.png" border="0" style="margin: 0 0 -10px 0"/></a>
            </span>
        </h3>



       {# <div class="main-page-offers"> #}
            {plugin "Content_ContentBlock_Plugin_MainPageBestOffers"}
        {# </div> #}

        <div class="b-main-page__offer">
            <h2 class="b-main-page__title b-main-page__title_upline_yes">
                Our<br>
                advantages
            </h2>
            {plugin "Content_ContentBlock_Plugin" view="MainPage"}
        </div>
        <div class="b-main-page__slider js-carousel-4">
            <div class="b-main-page__slider-item">
                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-01.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-02.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-03.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-04.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-05.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-06.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-07.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-08.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-01.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-02.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-main-page__slider-item">

                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-03.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
                <div class="b-main-page__slider-item-wrapper is-bottom js-hint-wrapper">
                    <img class="b-main-page__slider-item-image js-hint" src="/assets/img/client-logo-04.png" alt="logo"/>
                    <div class="b-main-page__slider-item-hint js-hint-content">
                        <div class="b-icon b-main-page__slider-item-hint-close js-hint-close"></div>
                        <div class="b-main-page__slider-item-hint-logo">
                            <div class="b-main-page__slider-item-hint-logo-title">PEPSICO</div>
                            <div class="b-main-page__slider-item-hint-logo-site">pepsico.com</div>
                        </div>
                        <div class="b-main-page__slider-item-hint-description">
                            “TrilightZone as one of the oldest privacy providers on the internet works
                            worldwide only with solid partners to provide the best to its clients.
                            HOSTKEY is one of those partners which we can recommend for flexibility,
                            personal approach, trust and performance!”
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {# <div class="b-main-page__news"> #}
             {plugin "Content_News_Page" view="NewsInMainPage"}
        {# </div> #}


    {# <div class="footer-push"></div> #}

</div>
