<div class="b-page">

<!--Test page template -->
    <div class="b-page__promo b-page__promo_text-page_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title b-page__promo-title_black_yes">{$head}</h1>
    </div>

    <div class="b-text-page" style="float: left; width: 100%;">
        <div class="scroll-anchor-01" id="scroll-anchor-01"></div>
        <div class="b-text-page__box" style="float: left; width: 25%; box-sizing: border-box; padding: 20px 20px 20px 70px;">
            <h3 class="b-text-page__title b-text-page__title_upline_yes" style="overflow: hidden;">
                {$HEADER_CONTENT}
            </h3>
        </div>

        <div class="b-text-page__box" style="float: left; width: 75%; box-sizing: border-box; padding: 60px 20px 20px 20px;">
            <div class="b-container editable-area" style="float: left; padding:0; width: 95%; box-sizing: border-box;">
                {$content}
            </div>

        </div>

    </div>
    <div style="clear: both;"></div>
    <div class="footer-push"></div>
</div>

<style>
    .b-text-page__title_upline_yes {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }
    .scroll-anchor-01 {
        width: 30%;
        border-top: 4px solid #ff692d;
        height: 10px;
    }

</style>