<div class="b-page">

<!--Test page template -->
    <div class="b-page__promo b-page__promo_text-page_yes">
        <div class="b-icon b-page__scroll-icon"  onclick="$.scrollTo('#scroll-anchor-01', 1000, { offset:-90 })"></div>
        <h1 class="b-page__promo-title b-page__promo-title_black_yes">{$head}</h1>
    </div>

    <div class="b-text-page">
        <div class="b-text-page__box">
            <h3 class="b-text-page__title b-text-page__title_upline_yes" id="scroll-anchor-01">
                about
            </h3>
        </div>

        <div class="b-text-page__box">
            <div class="b-container editable-area">
                {$content}
            </div>

        </div>

    </div>

    <div class="footer-push"></div>
</div>